<div class="flex-wrapper-big">
    <div class="infoblock">
        <h1>About Us</h1>
    </div>
</div>   
<div class="flex-wrapper-big">
    <div class="infoblock">
        <p>We operate as a client-centric organization within General Services Administration's (GSA's) Federal Acquisition Service (FAS). We help you acquire the services you need to advance your mission, guiding you through every stage of the acquisition process. Learn more about GSA’s organization by viewing the <a href="https://www.gsa.gov/about-us/organization/leadership-directory?footer=gsa" target="_new">GSA Leadership Directory</a>. 
        <br><br> 
        We support the full spectrum of the acquisition life cycle so you can focus less on acquisition management 
        and more on your agency's core mission activities.</p>
    </div>
</div>   
<div class="flex-wraper-big"> 
    <!-- first row -->
    <div class="flex-wrapper-big">   
        <div class="about-block about-01">
            <h4>IT SERVICES</h4>
            <ul>
                <li>Connecting leading vendors, experts, and agency specialists to acquire a range of professional IT services.</li>
                <li>Identifying and obtaining experts who design and develop a solution for your agency’s software, hardware, and service (including training) needs.</li>
                <li>Delivering innovative cybersecurity products, services, and programs to help your agency meet federal cybersecurity goals and objectives.</li>
                <li>Assisting with the procurement of the software and hardware products and services your agency needs most.</li>
                <li>Providing expertise in identifying, acquiring, and installing mobility, wireless, and communications support.</li>
            </ul>  
        </div>  
    </div>
    <!-- second row -->
    <div class="flex-wrapper-big">
        <div class="about-block about-02">
            <h4>PROFESSIONAL SERVICES</h4>
            <ul>
                <li>Providing access to hundreds of qualified industry partners specializing in engineering disciplines.</li>
                <li>Helping agencies obtain facilities maintenance services or management support.</li>
                <li>Assisting federal agencies obtain quality financial services with better results and fewer resources.</li>
                <li>Assisting with the procurement of comprehensive logistics solutions, such as planning, consulting, and management.</li>
                <li>Sourcing expert help with advertising, marketing, and communications solutions.</li>
                <li>Supporting federal agencies in obtaining translation and interpretation services, including sign language.</li>
            </ul>
        </div> 
    </div>
    <!-- third row -->
    <div class="flex-wrapper-big">
        <div class="about-block about-03">
            <h4>RESEARCH & DEVELOPMENT</h4>
            <ul>
                <li>Partnering with the Small Business Administration (SBA) to award Small Business Innovation Research (SBIR) Phase III contracts, enabling new federal, and private sector technologies.</li>
            </ul>
            <br>
        </div>
    </div>
</div>   
<div class="flex-wrapper-big">
    <div class="infoblock">
        <p>If you are experiencing issues with this site, please email <a href="mailto:contact.aas@gsa.gov?subject=AAS Website">contact.aas@gsa.gov</a>.</p>
    </div>
</div>
