<div class="flex-wrapper-big">
    <div class="infoblock centered">
        <h1>About Us</h1>
    </div>
</div>   

<div class="flex-wrapper-big">
    <div class="infoblock centered">
        <p>GSA’s Office of Assisted Acquisition Services (AAS) provides custom acquisition, project, and financial management support services to federal agencies. We help you acquire the services you need to advance your mission, guiding you through every stage of the acquisition process. We are organized as a Client Support Center housed within the <a href="https://www.gsa.gov" onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" class="external" target="_new">General Services Administration’s (GSAs)</a> Federal Acquisition Service (FAS). Learn more about GSA’s organization by viewing the <a href="https://www.gsa.gov/about-us/gsa-organization" onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" class="external" target="_new">chart on their website</a>. 
        <br><br> 
        We support the full spectrum of the acquisition lifecycle, so you can focus less on acquisition management 
        and more on your agency's core mission activities.</p>
    </div>
</div>

<div class="flex-wraper-big">
    <!-- first row -->
    <div class="flex-wrapper-big">

        <div class="learnblock">
            <div class="stack-top learn-top learn-01"></div>
            <h4>IT SERVICES</h4>
            <p>We bring together leading vendors, experts, and agency specialists to acquire a range of professional IT services.</p>

        </div>
        <div class="learnblock">
            <div class="stack-top learn-top learn-02"></div>
            <h4>IT SECURITY</h4>
            <p>Access to innovative cybersecurity products, services, and programs to help your agency meet federal cybersecurity goals and objectives.</p>
        </div>
        <div class="learnblock">
            <div class="stack-top learn-top learn-03"></div>
            <h4>INTEGRATED IT CONSULTING</h4>
            <p>Identify and obtain experts who design and develop a solution for your agency’s software, hardware and service (including training) needs.</p>
        </div>
        <div class="learnblock">
            <div class="stack-top learn-top learn-04"></div>
            <h4>RESEARCH & DEVELOPMENT</h4>
            <p>We have partnered with the SBA to award and manage SBIR Phase III contracts enabling new federal and private sector technologies.</p>
        </div>

    </div>
    <!-- second row -->
    <div class="flex-wrapper-big">
        
        
        <div class="learnblock">
            <div class="stack-top learn-top learn-05"></div>
            <h4>FACILITIES MANTENANCE</h4>
            <p>Helping agencies obtain facilities maintenance services or management support.</p>
        </div>
        <div class="learnblock">
            <div class="stack-top learn-top learn-06"></div>
            <h4>PROFESSIONAL ENGINEERING SERVICES</h4>
            <p>We provide access to hundreds of qualified industry partners specializing in engineering disciplines.</p>
        </div>
        <div class="learnblock">
            <div class="stack-top learn-top learn-07"></div>
            <h4>FINANCIAL & BUSINESS SERVICES</h4>
            <p>We help federal agencies obtain quality financial services with better results and fewer resources.</p>
        </div>
        <div class="learnblock">
            <div class="stack-top learn-top learn-08"></div>
            <h4>IT SUPPORT</h4>
            <p>Assistance in procuring the software and hardware products and services your agency needs most.</p>
        </div>

    </div>
    <!-- third row -->
    <div class="flex-wrapper-big">
        
        <div class="learnblock">
            <div class="stack-top learn-top learn-09"></div>
            <h4>LOGISTICS SERVICES</h4>
            <p>We assist in procuring comprehensive logistics solutions, such as planning, consulting, and management.</p>
        </div>
        <div class="learnblock">
            <div class="stack-top learn-top learn-10"></div>
            <h4>TELECOMM</h4>
            <p>Providing expertise in identifying, acquiring, and installing mobility, wireless and communications support.</p>
        </div>
        <div class="learnblock">
            <div class="stack-top learn-top learn-11"></div>
            <h4>ADVERTISING & MARKETING SERVICES</h4>
            <p>Providing expert sourcing help with advertising, marketing, and communications solutions.</p>
        </div>
        <div class="learnblock">
            <div class="stack-top learn-top learn-12"></div>
            <h4>LANGUAGE SERVICES</h4>
            <p>Supporting federal agencies in obtaining translation and interpretation services, including sign language.</p>
        </div>
    </div>
</div>

<div class="flex-wrapper-big centered">
    <div class="infoblock centered">
        <p>If you are experiencing issues with this site, please email <a href="mailto:contact.aas@gsa.gov?subject=AAS Website">contact.aas@gsa.gov</a>.</p>
    </div>
</div>