<div class="flex-wrapper-big">
    <div class="infoblock">
        <h1>ASTRO FAQ</h1>
    </div>
</div>

<div class="flex-wrapper-big">
    <div id="cso_banner1"> {% asset ASTRO-webpage-banner.jpg alt="ASTRO" %}  </div>
</div>

<div class="flex-wrapper-big">
    <div class="infoblock">
        <h1>ASTRO Frequently Asked Questions (FAQ)</h1>
    </div>
</div>

<div class="flex-wrapper-big">
    <div class="infoblock">
        <ol id="questions">
            <li><a href="#q_1">What is ASTRO?</a></li>
            <li><a href="#q_2">What is the value proposition for using ASTRO?</a></li>
            <li><a href="#q_3">What is the ceiling of the ASTRO contracts?</a></li>
            <li><a href="#q_4">What does ASTRO stand for?</a></li>
            <li><a href="#q_5">What are some relevant ASTRO milestones and information?</a></li>
            <li><a href="#q_6">Can I purchase tools, equipment or other commodities as part of myservice-based solution?</a></li>
            <li><a href="#q_7">Are there dollar limitations or percentages on each order for ancillarysupport?</a></li>
            <li><a href="#q_8">Are construction services allowed under the ASTRO contracts?</a></li>
            <li><a href="#q_9">Are leases allowed under the ASTRO contracts?</a></li>
            <li><a href="#q_10">Are ASTRO contractors required to meet a minimum facility securityclearance?</a></li>
            <li><a href="#q_11">Who can place orders under the ASTRO contracts?</a></li>
            <li><a href="#q_12">Must I provide fair opportunity to all ASTRO contractors for each andevery order?</a></li>
            <li><a href="#q_13">What NAICs (North American Industry Classification System) code wasused to award the ASTRO contracts and do I need to use this code on my order?</a></li>
            <li><a href="#q_14">What contract types are available under the ASTRO contracts?</a></li>
            <li><a href="#q_15">What is the preferred contract type for ASTRO? Do orders have to befirm-fixed price, performance based?</a></li>
            <li><a href="#q_16">What part of the FAR governs the ordering process? Do I follow FAR 15.3source selection procedures when issuing an order under the ASTRO contracts?</a></li>
            <li><a href="#q_17">Can an order be protested?</a></li>
            <li><a href="#q_18">How do I place an order or issue market research?</a></li>
        </ol>
        <br>
        <hr class="faqLine">
        <br>
    </div>
</div>

<div class="flex-wrapper-big">
    <div class="infoblock">
        <h3 id="q_1">1) QUESTION: What is ASTRO?</h3>
        <p><b>RESPONSE: </b>ASTRO is a broadly scoped series of contract vehicles encompassing virtually all services supporting or involving manned, unmanned, or optionally manned platforms and robotics. ASTRO is administered by the General Services Administration’s (GSA) Office of Assisted Acquisition Service (AAS) FEDSIM Organization.
        </P>
        <p>ASTRO is a family of ten separate, individual, Multiple Award (MA), Indefinite Delivery/Indefinite Quantity (IDIQ) contracts.
        </p>
        <p><i><a href="#questions">Back to Top</a></i></p>
        <hr class="faqLine">
        <br>
        <h3 id="q_2">2) QUESTION: What is the value proposition for using ASTRO?</h3>
        <p><b>RESPONSE: </b>ASTRO provides a streamlined acquisition platform for leveraged buying of platform relatedservices. Taxpayers, Federal agencies, and Industry will benefit in cost savings fromconsistent, standardized terms and conditions; a reduction in the numbers of master contractsrequiring award and administration, streamlined and flexible ordering procedures, standardizedlabor categories, and robust competition.</p>
        <p><i><a href="#questions">Back to Top</a></i></p>
        <hr class="faqLine">
        <br>
        <h3 id="q_3">3) QUESTION: What is the ceiling of the ASTRO contracts?</h3>
        <p><b>RESPONSE: </b>The ASTRO contracts were awarded on authority of an approved FAR deviationfrom the requirement to establish a contract maximum orders value, or ceiling. There is noceiling and agencies can safely assume ASTRO will cover all of their in-scope servicerequirements, no matter the aggregate value.</p>
        <p><i><a href="#questions">Back to Top</a></i></p>
        <hr class="faqLine">
        <br>
        <h3 id="q_4">4) QUESTION: What does ASTRO stand for?
        </h3>
        <p><b>RESPONSE: </b>The ASTRO name is not an acronym.</p>
        <p><i><a href="#questions">Back to Top</a></i></p>
        <hr class="faqLine">
        <br>
        <h3 id="q_5">5) QUESTION: What are some relevant ASTRO milestones and information?</h3>
        <p><b>RESPONSE: </b>Please see the tables provided here:
        </p>
    </div>
</div>

<!-- tables -->
<div class="flex-wrapper-big">
    <table class="faq_table">
        <thead>
            <tr>
                <th style="width: 33%;">Ordering Period</th>
                <th>Begin</th>
                <th>End</th>
            </tr>
        </thead>
        <tbody>
            <tr><!-- new row -->
                <td class="back-bluer left-aligned">Base Period</td>
                <td>11/15/2021</td>
                <td>11/14/2026</td>
            </tr>
            <td class="back-bluer left-aligned">Option Period</td>
                <td>11/15/2026</td>
                <td>11/14/2031</td>
        </tbody>
    </table>
</div>

<div class="h-spacer"></div>

<div class="flex-wrapper-big">
    <table class="faq_table">
        <tbody>
            <tr><!-- top row -->
                <td colspan="2" class="back-grey">Milestone Data</td>
            </tr>
            <tr><!-- first row -->
                <td class="back-bluer left-aligned" style="width: 33%;">Issued Solicitation</td>
                <td>8/24/2020</td>
            </tr>
            <tr><!-- new row -->
                <td class="back-bluer left-aligned">Closed Solicitation</td>
                <td>10/21/2020</td>
            </tr>
            <tr><!-- new row -->
                <td class="back-bluer left-aligned">Award Date</td>
                <td>7/28/2021</td>
            </tr>
            <tr><!-- new row -->
                <td class="back-bluer left-aligned">Notice to Proceed</td>
                <td>11/15/2021</td>
            </tr>

        </tbody>
    </table>
</div>

<div class="h-spacer"></div>

<div class="flex-wrapper-big">
        <table class="faq_table">
            <tbody>
                <tr><!-- top row -->
                    <td colspan="2" class="back-grey">Contract Data</td>
                </tr>
                <tr><!-- first row -->
                    <td class="back-bluer left-aligned" style="width: 33%">Total Contracts</td>
                    <td>379</td>
                </tr>
                <tr><!-- new row -->
                    <td class="back-bluer left-aligned">Awardees</td>
                    <td>128</td>
                </tr>
                <tr><!-- new row -->
                    <td class="back-bluer left-aligned">Small Business Contracts</td>
                    <td>48</td>
                </tr>
                <tr><!-- new row -->
                    <td class="back-bluer left-aligned">Small Business Awardees</td>
                    <td>37</td>
                </tr>

            </tbody>
        </table>
</div>

<div class="h-spacer"></div>

<div class="flex-wrapper-big">
    <table class="faq_table">
        <tbody>
            <tr><!-- top row -->
                <td colspan="12" class="back-grey">Small Business Socio Economic Categories</td>
            </tr>
            <tr class="text-small"><!-- first row -->
                <td style="width: 20%"><!--first cell of first row is blank --></td>
                <td>DATA OPS</td>
                <td>MIS OPS</td>
                <td>Aviation</td>
                <td>Ground</td>
                <td>Space</td>
                <td>Maritime</td>
                <td>DEVSI</td>
                <td>Research</td>
                <td>Support</td>
                <td>Training</td>
                <td>Total</td>
            </tr>

            <tr class="back-litegrey"><!-- new row -->
                <td class="text-small">SBA Certified Hub Zone Firm</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td>2</td>
            </tr>

            <tr class="back-litegrey"><!-- new row -->
                <td class="text-small">Service Disabled Veteran Owned Business</td>
                <td>1</td>
                <td>2</td>
                <td>2</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>2</td>
                <td>2</td>
                <td>1</td>
                <td>2</td>
                <td>12</td>
            </tr>

            <tr class="back-litegrey"><!-- new row -->
                <td class="text-small">Women-Owned Small Business</td>
                <td>1</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>1</td>
                <td>3</td>
                <td>1</td>
                <td>0</td>
                <td>8</td>
            </tr>

            <tr class="back-litegrey"><!-- new row -->
                <td class="text-small">Women-Owned Small Business - Economically Disadvantaged</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="h-spacer"></div>

<div class="flex-wrapper-big">
    <table class="faq_table">
        <tbody>
            <tr><!-- top row -->
                <td colspan="12" class="back-grey">Facility Clearance Statistics</td>
            </tr>
            <tr class="invertedCells"><!-- first row -->
                <td style="width: 15%;">Security Level</td>
                <td style="width: 20%">DATA OPS</td>
                <td style="width: 6.5%">MIS OPS</td>
                <td style="width: 6.5%">Aviation</td>
                <td style="width: 6.5%">Ground</td>
                <td style="width: 6.5%">Space</td>
                <td style="width: 6.5%">Maritime</td>
                <td style="width: 6.5%">DEVSI</td>
                <td style="width: 6.5%">Research</td>
                <td style="width: 6.5%">Support</td>
                <td style="width: 6.5%">Training</td>
                <td style="width: 6.5%">Total</td>
            </tr>

            <tr><!-- new row -->
                <td class="text-small">None</td>
                <td>1</td>
                <td>4</td>
                <td>6</td>
                <td>1</td>
                <td></td>
                <td></td>
                <td>1</td>
                <td></td>
                <td></td>
                <td>3</td>
                <td>16</td>
            </tr>

            <tr><!-- new row -->
                <td class="text-small">Secret</td>
                <td></td>
                <td>4</td>
                <td>4</td>
                <td>1</td>
                <td></td>
                <td>3</td>
                <td>2</td>
                <td>2</td>
                <td></td>
                <td>1</td>
                <td>17</td>
            </tr>

            <tr><!-- new row -->
                <td class="text-small">Top Secret</td>
                <td>35</td>
                <td>29</td>
                <td>35</td>
                <td>23</td>
                <td>25</td>
                <td>26</td>
                <td>42</td>
                <td>43</td>
                <td>47</td>
                <td>41</td>
                <td>346</td>
            </tr>

            <tr class="back-litegrey border-only-top" style="font-weight: bold;"><!-- new row -->
                <td class="text-small">Grand Total</td>
                <td>36</td>
                <td>37</td>
                <td>45</td>
                <td>25</td>
                <td>25</td>
                <td>29</td>
                <td>45</td>
                <td>45</td>
                <td>47</td>
                <td>45</td>
                <td>379</td>
            </tr>

        
        </tbody>
    </table>
    
</div>

<div class="flex-wrapper-big">
    <p><i><a href="#questions">Back to Top</a></i></p>
    <hr class="faqLine">
    <br>
</div>

<div class="flex-wrapper-big">
    <div class="infoblock">
        <h3 id="q_6">6) QUESTION: Can I purchase tools, equipment or other commodities as part of myservice-based solution?</h3>
        <p><b>RESPONSE: </b>Yes, the ASTRO contracts allow ancillary support to include tools, equipment,hardware, software and other commodities such as licenses, maintenance, etc. to be acquiredunder one order if integral to and necessary for the in-scope service-based solution.
        </p>
        <p><i><a href="#questions">Back to Top</a></i></p>
        <hr class="faqLine">
        <br>
        <h3 id="q_7">7) QUESTION: Are there dollar limitations or percentages on each order for ancillarysupport?
        </h3>
        <p><b>RESPONSE: </b>No. The ASTRO contracts do not contain any dollar or percentage (based onthe total order value) limitations for ancillary support. While this offers tremendous flexibility, theOCO must remember that the primary purpose/outcome of the task order must be an in-scopeservices-based solution and the ancillary support must be integral and necessary to therequirement.
        </p>
        <p><i><a href="#questions">Back to Top</a></i></p>
        <hr class="faqLine">
        <br>
        <h3 id="q_8">8) QUESTION: Are construction services allowed under the ASTRO contracts?</h3>
        <p><b>RESPONSE: </b>Yes, so long as the work is integral and necessary to the in-scope servicesrequirement. Please bear in mind that ASTRO is not a construction contract and that servicesthat fall under the Brooks Act are not authorized under ASTRO.</p>
        <p><i><a href="#questions">Back to Top</a></i></p>
        <hr class="faqLine">
        <br>
        <h3 id="q_9">9) QUESTION: Are leases allowed under the ASTRO contracts?</h3>
        <p><b>RESPONSE: </b>Yes. The Government contemplates that leases may be part of a task ordersolution offered by a Contractor, but the Government, where the Contractor's solution includesleasing, must not be the Lessee. Under no circumstances on any task order awarded underASTRO shall the Government be deemed to have privity-of-contract with the Owner/Lessor ofthe Leased Items; or, the Government be held liable for early Termination/Cancellation damagesif the Government decides not to exercise an option period under a task order unless theContractor has specifically disclosed the amount of such damages (or the formula by whichsuch damages would be calculated) as part of its proposal and the OCO for the task order hasspecifically approved/allowed such damages as part of the task order terms and conditions.</p>
        <p><i><a href="#questions">Back to Top</a></i></p>
        <hr class="faqLine">
        <br>
        <h3 id="q_10">10) QUESTION: Are ASTRO contractors required to meet a minimum facility securityclearance?</h3>
        <p><b>RESPONSE: </b>No, however, OCO's may specify any level of facility or personnel clearancerequired for their order. In addition, OCOs should clearly identify any clearance level requiredas a condition for award and request appropriate verification as part of their RFP.</p>
        <p><i><a href="#questions">Back to Top</a></i></p>
        <hr class="faqLine">
        <br>
        <h3 id="q_11">11) QUESTION: Who can place orders under the ASTRO contracts?</h3>
        <p><b>RESPONSE: </b>Currently, the ASTRO contracts are available for use by all General ServicesAdministration (GSA) Assisted Acquisition Ordering Officers who have obtained a Delegation ofProcurement Authority from the ASTRO Program Office. Contract Specialists/ContractingOfficers who have received training from the applicable ASTRO contracting officer or his/herduly authorized representative are authorized to use the ASTRO contracts. However, only aduly warranted Contracting Officer with an ASTRO DPA can sign the ASTRO task order.</P>
        <p>ASTRO training must be completed as part of the delegation process.</p>
        <p><i><a href="#questions">Back to Top</a></i></p>
        <hr class="faqLine">
        <br>
        <h3 id="q_12">12) QUESTION: Must I provide fair opportunity to all ASTRO contractors for each andevery order?</h3>
        <p><b>RESPONSE: </b>No. You must provide fair opportunity to all ASTRO contractors within the Poolapplicable to your task order requirement for every order exceeding $3,000 unless one of theexceptions to fair opportunity as listed in FAR subpart 16.505(b)(2)(i)(A) through (F) applies.</p>
        <p><i><a href="#questions">Back to Top</a></i></p>
        <hr class="faqLine">
        <br>
        <h3 id="q_13">13) QUESTION: What NAICs (North American Industry Classification System) code wasused to award the ASTRO contracts and do I need to use this code on my order?</h3>
        <p><b>RESPONSE: </b>Each of the ASTRO Pools has a primary NAICS code identified for that pool asshown in the table here:</p>
    </div>
</div>

<div class="flex-wrapper-big">
    <table class="faq_table leftAlignedCells">
        <tbody>
            <tr><!-- title row -->
                <td class="back-grey forcedCenter">Data Operations Pool</td>
            </tr>
            <tr><!-- new row -->
                <td>Function: Performance of Data Operations including all data collection, processing, exploitation, and dissemination activities associated with manned, unmanned, and optionally manned platforms and robotics supporting mission performance. This includes traditional labor services as well as “as a service” support.</td>
            </tr>
            <tr><!-- new row -->
                <td>North American Industry Classification System (NAICS) Code and Title: 541990 – All Other Professional, Scientific, and Technical Services</td>
            </tr>
            <tr><!-- new row -->
                <td>Small Business Size Standard: $16.5 Million</td>
            </tr>
            <tr><!-- title row -->
                <td class="back-grey forcedCenter">Mission Operations Pool</td>
            </tr>
            <tr><!-- new row -->
                <td>Function: Mission Operations includes performance of operational services not included in Data Operations associated with manned, unmanned, and optionally manned platforms and robotics supporting mission performance. This includes traditional labor services as well as “as a service” support.</td>
            </tr>
            <tr><!-- new row -->
                <td>NAICS Code and Title: 541990 – All Other Professional, Scientific, and Technical Services</td>
            </tr>
            <tr><!-- new row -->
                <td>Small Business Size Standard: $16.5 Million</td>
            </tr>
            <tr><!-- title row -->
                <td class="back-grey forcedCenter">Aviation Pool</td>
            </tr>
            <tr><!-- new row -->
                <td>Function: Maintenance, repair, and overhaul of manned, optionally manned, and
                    unmanned aircraft.</td>
            </tr>
            <tr><!-- new row -->
                <td>NAICS Code and Title: 488190 – Other Support Activities for Air Transportation</td>
            </tr>
            <tr><!-- new row -->
                <td>Small Business Size Standard: $35 Million</td>
            </tr>
            <tr><!-- title row -->
                <td class="back-grey forcedCenter">Ground Pool</td>
            </tr>
            <tr><!-- new row -->
                <td>Function: Maintenance, repair, and overhaul of manned, optionally manned, and
                    unmanned ground platforms and industrial machinery.</td>
            </tr>
            <tr><!-- new row -->
                <td>NAICS Code and Title: 488999 – All Other Support Activities for Transportation</td>
            </tr>
            <tr><!-- new row -->
                <td>Small Business Size Standard: $8 Million</td>
            </tr>
            <tr><!-- title row -->
                <td class="back-grey forcedCenter">Space Pool</td>
            </tr>
            <tr><!-- new row -->
                <td>Function: Maintenance, repair, and overhaul of manned, optionally manned, and
                    unmanned space platforms.</td>
            </tr>
            <tr><!-- new row -->
                <td>NAICS Code and Title: 488190 – Other Support Activities for Air Transportation</td>
            </tr>
            <tr><!-- new row -->
                <td>Small Business Size Standard: $35 Million</td>
            </tr>
            <tr><!-- title row -->
                <td class="back-grey forcedCenter">Maritime Pool</td>
            </tr>
            <tr><!-- new row -->
                <td>Function: Maintenance, repair, and overhaul of manned, optionally manned, and
                    unmanned maritime platforms.</td>
            </tr>
            <tr><!-- new row -->
                <td>NAICS Code and Title: 336611 – Ship Building and Repairing</td>
            </tr>
            <tr><!-- new row -->
                <td>Small Business Size Standard: 1,250 Employees</td>
            </tr>
            <tr><!-- title row -->
                <td class="back-grey forcedCenter">Development/Systems Integration Pool</td>
            </tr>
            <tr><!-- new row -->
                <td>Function: Systems integration, improvement, and/or engineering associated with
                    manned, unmanned, and optionally manned platforms.</td>
            </tr>
            <tr><!-- new row -->
                <td>NAICS Code and Title: 541330 – Engineering Services</td>
            </tr>
            <tr><!-- new row -->
                <td>Small Business Size Standard: $41.5 Million (based on the 541330 exceptions)</td>
            </tr>
            <tr><!-- title row -->
                <td class="back-grey forcedCenter">Research Pool</td>
            </tr>
            <tr><!-- new row -->
                <td>Function: All R&D associated with manned, unmanned, optionally manned, and
                    counter Unmanned Systems (UxS) platforms</td>
            </tr>
            <tr><!-- new row -->
                <td>NAICS Code and Title: 541715 – Research and Development in the Physical,
                    Engineering, and Life Sciences (except Nanotechnology and Biotechnology)</td>
            </tr>
            <tr><!-- new row -->
                <td>Small Business Size Standard: 1,000 Employees</td>
            </tr>
            <tr><!-- title row -->
                <td class="back-grey forcedCenter">Support Pool</td>
            </tr>
            <tr><!-- new row -->
                <td>Function: All support services (except training) required for successful execution
                    of a product, program, project, or process regarding platforms and robotics for
                    land, air, sea, or space; the planning necessary to support operational missions;
                    and the analysis of the results of an operational mission.</td>
            </tr>
            <tr><!-- new row -->
                <td>NAICS Code and Title: 541990 - All Other Professional, Scientific, and Technical
                    Services</td>
            </tr>
            <tr><!-- new row -->
                <td>Small Business Size Standard: $16.5 Million</td>
            </tr>
            <tr><!-- title row -->
                <td class="back-grey forcedCenter">Training Pool</td>
            </tr>
            <tr><!-- new row -->
                <td>Function: All training (the providing of instruction) services required for successful
                    execution of a product, program, project, or process regarding platforms and/or
                    robotics for land, air, sea, or space.</td>
            </tr>
            <tr><!-- new row -->
                <td>NAICS Code and Title: 611699 – All other Miscellaneous Schools and Instruction</td>
            </tr>
            <tr><!-- new row -->
                <td>Small Business Size Standard: $12 Million</td>
            </tr>
        </tbody>
    </table>
    <p><i><a href="#questions">Back to Top</a></i></p>
        <hr class="faqLine">
    <br>
</div>

<div class="flex-wrapper-big">
    <div class="infoblock">
        <h3 id="q_14">14) QUESTION: What contract types are available under the ASTRO contracts?</h3>
        <p><b>RESPONSE: </b>All contract pricing types in FAR Part 16, (fixed-price with and without incentives,cost-reimbursement (C-R) with and without incentives, time-and-materials (T&M), andlabor-hour (L-H) contract as well as hybrids of these types, are permissible for orders. OCO'smay also utilize more than one contract type in an order by identifying a CLIN for F-P, C-Rand/or T&M, as appropriate.</p>
        <p><i><a href="#questions">Back to Top</a></i></p>
        <hr class="faqLine">
        <br>
        <h3 id="q_15">15) QUESTION: What is the preferred contract type for ASTRO? Do orders have to befirm-fixed price, performance based?</h3>
        <p><b>RESPONSE: </b>No. Choosing an appropriate contract type for each order is essential tosuccessful performance. The type of contract determines the pricing methodology as well as thecost and performance risks placed on the contractor. If appropriate, the order should befirm-fixed-price. However, the goal is to select the contract type and acquisition approach thatwill optimize risk sharing between the parties and result in the most favorable outcome.</P>
        <p>The FAR 37.102 based order of precedence is:
            <ol type="i">
                <li>A firm-fixed price performance-based task order.</li>
                <li>A performance-based task order that is not firm-fixed price.</li>
                <li>A task order that is not performance-based.</li>
            </ol>
            </p>
            <p><i><a href="#questions">Back to Top</a></i></p>
            <hr class="faqLine">
        <br>
        <h3 id="q_16">16) QUESTION: What part of the FAR governs the ordering process? Do I follow FAR 15.3source selection procedures when issuing an order under the ASTRO contracts?</h3>
        <p><b>RESPONSE: </b>The streamlined procedures found at FAR 16.505 govern the ASTRO orderingprocess. In accordance with FAR 16.505(b) (1) (ii), the contracting officer may exercise broad discretion in developing appropriate order placement procedures and the policies in Subpart15.3 source selection are not applicable.</p>
        <p><i><a href="#questions">Back to Top</a></i></p>
        <hr class="faqLine">
        <br>
        <h3 id="q_17">17) QUESTION: Can an order be protested?</h3>
        <p><b>RESPONSE: </b>In accordance with FAR 16.505(a)(9) and Subpart 33, No protest under Subpart33.1 is authorized in connection with the issuance or proposed issuance of an order under atask-order contract or delivery-order contract, except for:
            <ol type="A">
                <li>A protest on the grounds that the order increases the scope, period, or maximumvalue of the contract; or</li>
                <li>A protest of an order valued in excess of $10 million. Protests of orders in excessof $10 million may only be filed with the Government Accountability Office, inaccordance with the procedures at 33.104.</li>
            </ol></P>
            <p><i><a href="#questions">Back to Top</a></i></p>
            <hr class="faqLine">
        <br>
        <h3 id="q_18">18) QUESTION: How do I place an order or issue market research?</h3>
        <p><b>RESPONSE: </b>OCOs must use the ASTRO Ordering Portal at <a href="https://astro.app.cloud.gov/" onClick="return confirm('This link will take you to ASTRO application website, which is managed by GSA.')" class="external" target="_new">https://astro.app.cloud.gov/</a> for distributing all ASTRO solicitations, market research,and communicating with ASTRO Industry Partners.</p>
        <p><i><a href="#questions">Back to Top</a></i></p>
    </div>
</div>
