<div class="flex-wrapper-big">
    <div class="infoblock">
        <h1>ASTRO FAQ</h1>
    </div>
</div>

<div class="flex-wrapper-big">
    <div id="cso_banner1"> {% asset ASTRO-webpage-banner.jpg alt="ASTRO" %}  </div>
</div>

<div class="flex-wrapper-big">
    <div class="infoblock" style="width: 80% !important; padding: 10px;">
        <h1>ASTRO Resources</h1>
    </div>
</div>
 
<div class="flex-wrapper-big">
    <div class="infoblock">
        <h2>ASTRO Master Contracts & Contract Holder Directories</h2>
        <table class="res_table">
            <thead>
                <td class="back-bluer"><b>Pools</b></td>
                <td class="back-bluer"><b>ASTRO Contract Award</b> </td>
                <td class="back-bluer"><b>ASTRO Contract Holder Directory</b></td>
            </thead>
            <tr>
                <td class="back-grey">Aviation</td>
                <td><a href="ASTRO_Contract_Award_Aviation_Pool.pdf">ASTRO Contract Award</a></td>
                <td><a href="ASTRO Contract Holder Directory - Aviation.pdf">ASTRO Contract Holder Directory</a></td>
            </tr>
            <tr>
                <td class="back-grey">Data Operations</td>
                <td><a href="ASTRO_Contract_Award_Data_Operations_Pool.pdf">ASTRO Contract Award</a></td>
                <td><a href="ASTRO Contract Holder Directory - DataOps.pdf">ASTRO Contract Holder Directory</a></td>
            </tr>
            <tr>
                <td class="back-grey">Development Systems Integration</td>
                <td><a href="ASTRO_Contract_Award_Development_Systems_Integration_Pool.pdf">ASTRO Contract Award</a></td>
                <td><a href="ASTRO Contract Holder Directory - DEVSI.pdf">ASTRO Contract Holder Directory</a></td>
            </tr>
            <tr>
                <td class="back-grey">Ground</td>
                <td><a href="ASTRO_Contract_Award_Ground_Pool.pdf">ASTRO Contract Award</a> </td>
                <td><a href="ASTRO Contract Holder Directory - Ground.pdf">ASTRO Contract Holder Directory</a></td>
            </tr>
            <tr>
                <td class="back-grey">Maritime</td>
                <td><a href="ASTRO_Contract_Award_Maritime_Pool.pdf">ASTRO Contract Award</a> </td>
                <td><a href="ASTRO Contract Holder Directory - Maritime.pdf">ASTRO Contract Holder Directory</a></td>
            </tr>
            <tr>
                <td class="back-grey">Missoin Operations</td>
                <td><a href="ASTRO_Contract_Award_Mission_Operations_Pool.pdf">ASTRO Contract Award</a> </td>
                <td><a href="ASTRO Contract Holder Directory - MisOps.pdf">ASTRO Contract Holder Directory</a></td>
            </tr>
            <tr>
                <td class="back-grey">Research</td>
                <td><a href="ASTRO_Contract_Award_Research_Pool.pdf">ASTRO Contract Award</a> </td>
                <td><a href="ASTRO Contract Holder Directory - Research.pdf">ASTRO Contract Holder Directory</a></td>
            </tr>
            <tr>
                <td class="back-grey">Space</td>
                <td><a href="ASTRO_Contract_Award_Space_Pool.pdf">ASTRO Contract Award</a> </td>
                <td><a href="ASTRO Contract Holder Directory - Space.pdf">ASTRO Contract Holder Directory</a></td>
            </tr>
            <tr>
                <td class="back-grey">Support</td>
                <td><a href="ASTRO_Contract_Award_Support_Pool.pdf">ASTRO Contract Award</a> </td>
                <td><a href="ASTRO Contract Holder Directory - Support.pdf">ASTRO Contract Holder Directory</a></td>
            </tr>
            <tr>
                <td class="back-grey">Training</td>
                <td><a href="ASTRO_Contract_Award_Training_Pool.pdf">ASTRO Contract Award</a> </td>
                <td><a href="ASTRO Contract Holder Directory - Training.pdf">ASTRO Contract Holder Directory</a></td>
            </tr>
        </table>
        <br>

        <h2>ASTRO Ordering Guide</h2>
        <p><a href="Official ASTRO Ordering Guide 25FEB2022.pdf">ASTRO Ordering Guide</a></p>
        <br>
    </div>
</div>
