<div class="flex-wrapper-big">
    <div class="infoblock">
        <h1>ASTRO</h1>
    </div>
</div>

<div class="flex-wrapper-big">
    <div id="cso_banner1"> {% asset ASTRO-webpage-banner.jpg alt="ASTRO" %}  </div>
</div>

<div class="v-buffer"></div>

<div class="flex-wrapper-big flexCols" >
    <!-- BLOCK TITLE -->
    <button id="title-1" class="dark-buttonbar" onclick="javascript:toggleBlock('o1','c1','block-1');">
        <div id="o1" class="tic-opened">-</div><div id="c1" class="tic-closed">+</div><label>What is ASTRO?</label> 
    </button>
    <!-- BLOCK  -->
    <div id="block-1" class="c-sect">
        <p>ASTRO is a broadly scoped series of contract vehicles encompassing virtually all services supporting or involving manned, unmanned, or optionally manned platforms and robotics.</p>
        <br>
        <p>ASTRO is administered by the General Services Administration’s (GSA) Office of Assisted Acquisition Service (AAS) FEDSIM Organization. It is a family of ten separate, individual, Multiple Award (MA), Indefinite Delivery/Indefinite Quantity (IDIQ) contracts.</p>
        <br>
        <p>For more information on ASTRO, download the <a href="../ASTRO_FAQs_v2.pdf" target="_blank">ASTRO FAQ sheet</a>.</p>
    </div>
</div>

<div class="v-buffer"></div>

<div class="flex-wrapper-big flexCols" >
    <!-- BLOCK TITLE -->
    <button id="title-2" class="dark-buttonbar" onclick="javascript:toggleBlock('o2','c2','block-2');">
        <div id="o2" class="tic-opened">-</div><div id="c2" class="tic-closed">+</div><label>ASTRO Pools</label> 
    </button>
    <!-- BLOCK -->
    <div id="block-2" class="c-sect">
        <p>ASTRO services are organized into ten functional Pools, with the appropriate Pool selected for task order solicitation based upon the preponderance of work in the requirement being solicited.<br>
            To see vendors associated with each pool, select a pool icon. </p>
        <!-- begin pool icons  ROW 1-->
        <div class="flex-wrapper">
            <div class="section-icon-cell">
                <div class="section-icon-astro">
                    <a onclick="javascript:openPool('popup_DOP');">{% asset data-ops-icon-01.png alt="Data Operations" %}</a>
                </div>
                <p>Data<br>Operations</p>
            </div>
            
            <div class="section-icon-cell">
                <div class="section-icon-astro">
                    <a onclick="javascript:openPool('popup_MOP');">{% asset mission-ops-icon-01.png alt="Mission Operations" %}</a>
                </div>
                <p>Mission<br>Operations</p>
            </div>
        
            <div class="section-icon-cell">
                <div class="section-icon-astro">
                   <a onclick="javascript:openPool('popup_AP');">{% asset aviation-icon-01.png alt="Aviation" %}</a>
                </div>
                <p>Aviation</p>
            </div>
        
            <div class="section-icon-cell">
                <div class="section-icon-astro">
                    <a onclick="javascript:openPool('popup_GP');">{% asset ground-icon-01.png alt="Ground" %}</a>
                </div>
                <p>Ground</p>
            </div>

            <div class="section-icon-cell">
                <div class="section-icon-astro">
                    <a onclick="javascript:openPool('popup_SP');">{% asset space-icon-01.png alt="Space" %}</a>
                </div>
                <p>Space</p>
            </div>
        </div>
        <!-- begin pool icons  ROW 2-->
        <div class="flex-wrapper">
            <div class="section-icon-cell">
                <div class="section-icon-astro">
                    <a onclick="javascript:openPool('popup_MP');">{% asset maritime-icon-01.png alt="Maritime" %}</a>
                </div>
                <p>Maritime</p>
            </div>
            
            <div class="section-icon-cell">
                <div class="section-icon-astro">
                    <a onclick="javascript:openPool('popup_RP');">{% asset research-icon-01.png alt="Research" %}</a>
                </div>
                <p>Research</p>
            </div>
            
            <div class="section-icon-cell">
                <div class="section-icon-astro">
                    <a onclick="javascript:openPool('popup_SUPP');">{% asset support-icon-01.png alt="Support" %}</a>
                </div>
                <p>Support</p>
            </div>
            <div class="section-icon-cell">
                <div class="section-icon-astro">
                    <a onclick="javascript:openPool('popup_TP');">{% asset training-icon-01.png alt="Training" %}</a>
                </div>
                <p>Training</p>
            </div>
            
            <div class="section-icon-cell">
                <div class="section-icon-astro">
                    <a onclick="javascript:openPool('popup_DSIP');">{% asset development-systems-integration-icon-01.png alt="Development/Systems Integration" %}</a>
                </div>
                <p>Development/Systems<br>Integration</p>
            </div>
        </div>
    </div>
</div>

<div class="v-buffer"></div>

<div class="flex-wrapper-big flexCols" >
    <!-- BLOCK TITLE -->
    <button id="title-3" class="dark-buttonbar" onclick="javascript:toggleBlock('o3','c3','block-3');">
        <div id="o3" class="tic-opened">-</div><div id="c3" class="tic-closed">+</div><label>Who is on ASTRO and How Do I Contact Them?</label> 
    </button>
    <!-- BLOCK -->
    <div id="block-3" class="c-sect">
        <h1>ASTRO Points of Contact</h1>
        <table class="res_table">
            <thead>
                <td class="back-bluer"><b>Pools</b></td>
                <td class="back-bluer"><b>ASTRO Contract Holder Directory</b></td>
            </thead>
            <tr>
                <td class="back-grey">Aviation</td>
                <td><a href="../ASTRO Contract Holder Directory - Aviation.pdf">ASTRO Contract Holder Directory</a></td>
            </tr>
            <tr>
                <td class="back-grey">Data Operations</td>
                <td><a href="../ASTRO Contract Holder Directory - DataOps.pdf">ASTRO Contract Holder Directory</a></td>
            </tr>
            <tr>
                <td class="back-grey">Development Systems Integration</td>
                <td><a href="../ASTRO Contract Holder Directory - DEVSI.pdf">ASTRO Contract Holder Directory</a></td>
            </tr>
            <tr>
                <td class="back-grey">Ground</td>
                <td><a href="../ASTRO Contract Holder Directory - Ground.pdf">ASTRO Contract Holder Directory</a></td>
            </tr>
            <tr>
                <td class="back-grey">Maritime</td>
                <td><a href="../ASTRO Contract Holder Directory - Maritime.pdf">ASTRO Contract Holder Directory</a></td>
            </tr>
            <tr>
                <td class="back-grey">Mission Operations</td>
                <td><a href="../ASTRO Contract Holder Directory - MisOps.pdf">ASTRO Contract Holder Directory</a></td>
            </tr>
            <tr>
                <td class="back-grey">Research</td>
                <td><a href="../ASTRO Contract Holder Directory - Research.pdf">ASTRO Contract Holder Directory</a></td>
            </tr>
            <tr>
                <td class="back-grey">Space</td>
                <td><a href="../ASTRO Contract Holder Directory - Space.pdf">ASTRO Contract Holder Directory</a></td>
            </tr>
            <tr>
                <td class="back-grey">Support</td>
                <td><a href="../ASTRO Contract Holder Directory - Support.pdf">ASTRO Contract Holder Directory</a></td>
            </tr>
            <tr>
                <td class="back-grey">Training</td>
                <td><a href="../ASTRO Contract Holder Directory - Training.pdf">ASTRO Contract Holder Directory</a></td>
            </tr>
        </table>
    </div>
</div>

<div class="v-buffer"></div>

<div class="flex-wrapper-big flexCols" >
    <button id="title-4" class="dark-buttonbar" onclick="javascript:toggleBlock('o4','c4','block-4');">
        <div id="o4" class="tic-opened">-</div><div id="c4" class="tic-closed">+</div><label>ASTRO Contracts and Ordering Guide</label> 
    </button>
    <div id="block-4" class="c-sect">
        <h1>ASTRO Contracts</h1>
        <table class="res_table">
            <thead>
                <td class="back-bluer"><b>Pools</b></td>
                <td class="back-bluer"><b>ASTRO Contract Award</b> </td>
            </thead>
            <tr>
                <td class="back-grey">Aviation</td>
                <td><a href="../ASTRO_Contract_Award_Aviation_Pool.pdf">ASTRO Contract Award</a></td>
            </tr>
            <tr>
                <td class="back-grey">Data Operations</td>
                <td><a href="../ASTRO_Contract_Award_Data_Operations_Pool.pdf">ASTRO Contract Award</a></td>
            </tr>
            <tr>
                <td class="back-grey">Development Systems Integration</td>
                <td><a href="../ASTRO_Contract_Award_Development_Systems_Integration_Pool.pdf">ASTRO Contract Award</a></td>
            </tr>
            <tr>
                <td class="back-grey">Ground</td>
                <td><a href="../ASTRO_Contract_Award_Ground_Pool.pdf">ASTRO Contract Award</a> </td>
            </tr>
            <tr>
                <td class="back-grey">Maritime</td>
                <td><a href="../ASTRO_Contract_Award_Maritime_Pool.pdf">ASTRO Contract Award</a> </td>
            </tr>
            <tr>
                <td class="back-grey">Mission Operations</td>
                <td><a href="../ASTRO_Contract_Award_Mission_Operations_Pool.pdf">ASTRO Contract Award</a> </td>
            </tr>
            <tr>
                <td class="back-grey">Research</td>
                <td><a href="../ASTRO_Contract_Award_Research_Pool.pdf">ASTRO Contract Award</a> </td>
            </tr>
            <tr>
                <td class="back-grey">Space</td>
                <td><a href="../ASTRO_Contract_Award_Space_Pool.pdf">ASTRO Contract Award</a> </td>
            </tr>
            <tr>
                <td class="back-grey">Support</td>
                <td><a href="../ASTRO_Contract_Award_Support_Pool.pdf">ASTRO Contract Award</a> </td>
            </tr>
            <tr>
                <td class="back-grey">Training</td>
                <td><a href="../ASTRO_Contract_Award_Training_Pool.pdf">ASTRO Contract Award</a> </td>
            </tr>
        </table>
        <br>
        <h1>ASTRO Ordering Guide</h1>
        <p><a href="../Official ASTRO Ordering Guide 25FEB2022.pdf">ASTRO Ordering Guide</a></p>
        <br>
    </div>
</div>

<div class="v-buffer"></div>

<div class="flex-wrapper-big" style="flex-direction: column !important; padding-left: 20px;">
    <h1>Scope Review Request</h1>
    <p>Send a Statement of Work to <a href="mailto:astro@gsa.gov?subject=Requesting Information">ASTRO@gsa.gov</a>.
    </p>
    <br>
    <h1>Need More Information About ASTRO?</h1>
    <p>Send your question and requests to <a href="mailto:astro@gsa.gov?subject=Requesting Information">ASTRO@gsa.gov</a>.
    </p>
</div>

<!-- begin POOLS popups -->

<div id="popup_DOP" class="dialog-overlay" aria-hidden="true" onclick="javascript:closePool();">
    <div class="dialog" role="dialog">
        <h4>Data Operations Pool </h4>
        <hr>
        <p><b>Function:</b> Performance of Data Operations including all data collection, processing, exploitation, and dissemination activities associated with manned, unmanned, and
        optionally manned platforms and robotics supporting mission performance. This includes traditional labor services as well as “as a service” support.</p>
        <p><b>
        North American Industry Classification System (NAICS) Code and Title:</b> 541990 – All Other Professional, Scientific, and Technical Services</p>
        <p><b>Small Business Size Standard:</b> $16.5 Million</p>
        <p style="font-style: italic;">Click anywhere to close this window.</p>
    </div>
</div>
        

<div id="popup_MOP" class="dialog-overlay" aria-hidden="true" onclick="javascript:closePool();">
    <div class="dialog" role="dialog">
        <h4>Mission Operations Pool </h4>
        <hr>
        <p><b>Function:</b> Mission Operations includes performance of operational services not included in Data Operations associated with manned, unmanned, and optionally manned platforms and robotics supporting mission performance. This includes traditional labor services as well as “as a service” support. </p>
        <p><b>NAICS Code and Title:</b> 541990 – All Other Professional, Scientific, and Technical Services </p>
        <p><b>Small Business Size Standard:</b> $16.5 Million  </p>
        <p style="font-style: italic;">Click anywhere to close this window.</p>
    </div>
</div>
        

<div id="popup_AP" class="dialog-overlay" aria-hidden="true" onclick="javascript:closePool();">
    <div class="dialog" role="dialog">
        <h4>Aviation Pool </h4>
        <hr>
        <p><b>Function:</b> Maintenance, repair, and overhaul of manned, optionally manned, and unmanned aircraft. </p>
        <p><b>NAICS Code and Title:</b> 488190 – Other Support Activities for Air Transportation </p>
        <p><b>Small Business Size Standard:</b> $35 Million  </p>
        <p style="font-style: italic;">Click anywhere to close this window.</p>
    </div>
</div>
        

<div id="popup_GP" class="dialog-overlay" aria-hidden="true" onclick="javascript:closePool();">
    <div class="dialog" role="dialog">
        <h4>Ground Pool</h4>
        <hr>
        <p><b>Function:</b> Maintenance, repair, and overhaul of manned, optionally manned, and unmanned ground platforms and industrial machinery. </p>
        <p><b>NAICS Code and Title:</b> 488999 – All Other Support Activities for Transportation </p>
        <p><b>Small Business Size Standard:</b> $8 Million  </p>
        <p style="font-style: italic;">Click anywhere to close this window.</p>
    </div>
</div>
        

<div id="popup_SP" class="dialog-overlay" aria-hidden="true" onclick="javascript:closePool();">
    <div class="dialog" role="dialog">
        <h4>Space Pool </h4>
        <hr>
        <p><b>Function:</b> Maintenance, repair, and overhaul of manned, optionally manned, and unmanned space platforms. </p>
        <p><b>NAICS Code and Title:</b> 488190 – Other Support Activities for Air Transportation </p>
        <p><b>Small Business Size Standard:</b> $35 Million  </p>
        <p style="font-style: italic;">Click anywhere to close this window.</p>
    </div>
</div>
        

<div id="popup_MP" class="dialog-overlay" aria-hidden="true" onclick="javascript:closePool();">
    <div class="dialog" role="dialog">
        <h4>Maritime Pool </h4>
        <hr>
        <p><b>Function:</b> Maintenance, repair, and overhaul of manned, optionally manned, and unmanned maritime platforms. </p>
        <p><b>NAICS Code and Title:</b> 336611 – Ship Building and Repairing </p>
        <p><b>Small Business Size Standard:</b> 1,250 employees   </p>
        <p style="font-style: italic;">Click anywhere to close this window.</p>
    </div>
</div>
        

<div id="popup_RP" class="dialog-overlay" aria-hidden="true" onclick="javascript:closePool();">
    <div class="dialog" role="dialog">
        <h4>Research Pool </h4>
        <hr>
        <p><b>Function:</b> All R&D associated with manned, unmanned, optionally manned, and counter Unmanned Systems (UxS) platforms </p>
        <p><b>NAICS Code and Title:</b> 541715 – Research and Development in the Physical, Engineering, and Life Sciences (except Nanotechnology and Biotechnology) </p>
        <p><b>Small Business Size Standard:</b> 1,000 Employees   </p>
        <p style="font-style: italic;">Click anywhere to close this window.</p>
    </div>
</div>
        

<div id="popup_SUPP" class="dialog-overlay" aria-hidden="true" onclick="javascript:closePool();">
    <div class="dialog" role="dialog">
        <h4>Support Pool</h4>
        <hr>
        <p><b>Function:</b> All support services (except training) required for successful execution of a product, program, project, or process regarding platforms and robotics for land, air, sea, or space; the planning necessary to support operational missions; and the analysis of the results of an operational mission. </p>
        <p><b>NAICS Code and Title:</b> 541990 - All Other Professional, Scientific, and Technical Services </p>
        <p><b>Small Business Size Standard:</b> $16.5 Million   </p>
        <p style="font-style: italic;">Click anywhere to close this window.</p>
    </div>
</div>
        

<div id="popup_TP" class="dialog-overlay" aria-hidden="true" onclick="javascript:closePool();">
    <div class="dialog" role="dialog">
        <h4>Trainining Pool</h4>
        <hr>
        <p><b>Function:</b> All training (the providing of instruction) services required for successful execution of a product, program, project, or process regarding platforms and/or robotics for land, air, sea, or space. </p>
        <p><b>NAICS Code and Title:</b> 611699 – All other Miscellaneous Schools and Instruction </p>
        <p><b>Small Business Size Standard:</b> $12 Million </p>
        <p style="font-style: italic;">Click anywhere to close this window.</p>
    </div>
</div>
        

<div id="popup_DSIP" class="dialog-overlay" aria-hidden="true" onclick="javascript:closePool();">
    <div class="dialog" role="dialog">
        <h4>Development/Systems Intergration Pool</h4>
        <hr>
        <p><b>Function:</b> Systems integration, improvement, and/or engineering associated with manned, unmanned, and optionally manned platforms. </p>
<p><b>NAICS Code and Title:</b> 541330 – Engineering Services </p>
<p><b>Small Business Size Standard:</b> $41.5 Million (based on the 541330 exceptions)  </p>

        <p style="font-style: italic;">Click anywhere to close this window.</p>
    </div>
</div>
        
<script type="text/javascript">

    function openPool(poolInfo)
    {
        document.getElementById(poolInfo).setAttribute("aria-hidden", "false");        
    }

    function closePool()
    {
        var elements = document.getElementsByClassName("dialog-overlay");
        for (var i = 0; i < elements.length; i++){
            elements[i].setAttribute("aria-hidden", "true");
        }
    }

</script>

<script type="text/javascript">

    function toggleBlock(openedIcon, closedIcon, sectBlock)
    {
        var thisBlock = document.getElementById(sectBlock);
        var thisOpened = document.getElementById(openedIcon);
        var thisClosed = document.getElementById(closedIcon);

        if(thisBlock.style.display === "block"){
            thisBlock.style.display = "none";
            thisOpened.style.display = "none";
            thisClosed.style.display = "block";
        }else{
            thisOpened.style.display = "block";
            thisClosed.style.display = "none";
            thisBlock.style.display = "block";
        }
    }

</script>
