<div class="flex-wrapper-big">
    <div class="infoblock">
        <h1>ASTRO FAQ</h1>
    </div>
</div>

<div class="flex-wrapper-big">
    <div id="cso_banner1"> {% asset ASTRO-webpage-banner.jpg alt="ASTRO" %}  </div>
</div>

<div class="flex-wrapper-big">
    <div class="infoblock">
        <h1>ASTRO Resources</h1>
    </div>
</div>

<div class="flex-wrapper-big">
    <div class="infoblock">
        <h2>ASTRO Master Contracts</h2>
        <ol>
            <li>ASTRO Contract Award - <a href="ASTRO_Contract_Award_Aviation_Pool.pdf">Aviation Pool</a></li>
            <li>ASTRO Contract Award - <a href="ASTRO_Contract_Award_Data_Operations_Pool.pdf">Data Operations Pool</a></li>
            <li>ASTRO Contract Award - <a href="ASTRO_Contract_Award_Development_Systems_Integration_Pool.pdf">Development Systems Integration Pool</a></li>
            <li>ASTRO Contract Award - <a href="ASTRO_Contract_Award_Ground_Pool.pdf">Ground Pool</a></li>
            <li>ASTRO Contract Award - <a href="ASTRO_Contract_Award_Maritime_Pool.pdf">Maritime Pool</a></li>
            <li>ASTRO Contract Award - <a href="ASTRO_Contract_Award_Mission_Operations_Pool.pdf">Mission Operations Pool</a></li>
            <li>ASTRO Contract Award - <a href="ASTRO_Contract_Award_Research_Pool.pdf">Research Pool</a></li>
            <li>ASTRO Contract Award - <a href="ASTRO_Contract_Award_Space_Pool.pdf">Space Pool</a></li>
            <li>ASTRO Contract Award - <a href="ASTRO_Contract_Award_Support_Pool.pdf">Support Pool</a></li>
            <li>ASTRO Contract Award - <a href="ASTRO_Contract_Award_Training_Pool.pdfv">Training Pool</a></li>
        </ol>
        <br>

        <h3>ASTRO Ordering Guide</h3>
        <p><a href="Official ASTRO Ordering Guide 25FEB2022.pdf">ASTRO Ordering Guide</a></p>
        <br>

        <h3>ASTRO Contract Holder Directory</h3>
        <ol>
            <li>ASTRO Contract Holder Directory - <a href="ASTRO Contract Holder Directory - Aviation.pdf">Aviation</a></li>
            <li>ASTRO Contract Holder Directory - <a href="ASTRO Contract Holder Directory - DataOps.pdf">Data Operations</a></li>
            <li>ASTRO Contract Holder Directory - <a href="ASTRO Contract Holder Directory - DEVSI.pdf">Development Systems Integration</a></li>
            <li>ASTRO Contract Holder Directory - <a href="ASTRO Contract Holder Directory - Ground.pdf">Ground</a></li>
            <li>ASTRO Contract Holder Directory - <a href="ASTRO Contract Holder Directory - Maritime.pdf">Maritime</a></li>
            <li>ASTRO Contract Holder Directory - <a href="ASTRO Contract Holder Directory - MisOps.pdf">Mission Operations</a></li>
            <li>ASTRO Contract Holder Directory - <a href="ASTRO Contract Holder Directory - Research.pdf">Research</a></li>
            <li>ASTRO Contract Holder Directory - <a href="ASTRO Contract Holder Directory - Space.pdf">Space</a></li>
            <li>ASTRO Contract Holder Directory - <a href="ASTRO Contract Holder Directory - Support.pdf">Support</a></li>
            <li>ASTRO Contract Holder Directory - <a href="ASTRO Contract Holder Directory - Training.pdf">Training</a></li>
        </ol>
    </div>
</div>
