<div class="flex-wrapper-big">
    <div class="infoblock">
        <h1>ASTRO</h1>
    </div>
</div>

<div class="flex-wrapper-big">
    <div id="cso_banner1"> {% asset ASTRO-webpage-banner.jpg alt="ASTRO" %}  </div>
</div>

<div id="programs" class="flex-wrapper-big">
    <div class="infoblock">
        <h1>What is ASTRO?</h1>
        <p>ASTRO is a broadly scoped series of contract vehicles encompassing virtually all services supporting or involving manned, unmanned, or optionally manned platforms and robotics. ASTRO is administered by the General Services Administration’s (GSA) Office of Assisted Acquisition Service (AAS) FEDSIM Organization.</P>
        <p>ASTRO is a family of ten separate, individual, Multiple Award (MA), Indefinite Delivery/Indefinite Quantity (IDIQ) contracts sponsored by the Department of Defense (DoD).</p>
        
    </div>
</div>


<div id="programs" class="flex-wrapper-big">
    <div class="infoblock">
        <h1>ASTRO At A Glance</h1>
        <ul>
            <li><b>Contracting Activities:</b>  ASTRO is a GSA AAS contract vehicle solution focused on DoD requirements.  Only approved AAS contracting activities are authorized to use ASTRO.</li> 
            <li><b>Ordering Period for Task Orders:</b>  ASTRO task orders runs potentially through 2036.</li>
            <li><b>Contract Types:</b> All contract types can be utilized at the task order level, including cost reimbursement and hybrid models.</li>
            <li><b>Ceiling:</b> None.</li>
            <li><b>Labor Categories:</b> Standardized labor categories while still allowing for creation of customized labor categories at the task order level when necessary.</li>
            <li><b>Ancillary Support:</b> Yes, including Other Direct COsts (ODCs) at the task order level, as needed.</li>
            <li><b>Service Types:</b> Commercial, Non-commercial, classified and non-classified, CONUS and OCONUS.</li>
            <li><b>Terms & Conditions:</b> Allowance of specific terms and conditions/clauses/provisions at the task order level.</li>
            <li><b>Total Awardees:</b> 129 unique companies split into 10 pools ranging from 25-46 awardees in each pool.</li>
            <li><b>Small Business Awardees:</b>  37 awards to small business were made.</li>
            <li><b>Service Contract Act Support Allowed:</b>  Yes.</li>
            <li><b>What pools to use:</b>  In general, pools that contain the preponderance of the work should first be considered when considering an ASTRO solution.</li>

        </ul>
        <div class="one-third section-btn-clear">
        <a href="../ASTRO_FAQs_v2.pdf" target="_blank"><b>FAQ</b></a>
    </div>
    </div>
</div>


<div class="flex-wrapper-big">
    <div id="listTop" class="infoblock">
        <h1>ASTRO Pools</h1>
        <p>ASTRO services are organized into ten functional Pools, with the appropriate Pool selected for task order solicitation based upon the preponderance of work in the requirement being solicited.<br>
        To see vendors associated with each pool, select a pool icon. </p>
        
    </div>
</div>

<!-- icons row 1 -->
<div class="flex-wrapper-big big-v-buffer">
    <div class="one-fourth section-icon centered">
        <div class="section-icon-cell">
            <a href="#a1">{% asset data-ops-icon-01.png alt="Data Operations" %}</a>
        </div>
        <p>Data<br>Operations</p>
    </div>
    
    <div class="one-fourth section-icon centered">
        <div class="section-icon-cell">
            <a href="#a2">{% asset mission-ops-icon-01.png alt="Mission Operations" %}</a>
        </div>
        <p>Mission<br>Operations</p>
    </div>

    <div class="one-fourth section-icon centered">
        <div class="section-icon-cell">
           <a href="#a3">{% asset aviation-icon-01.png alt="Aviation" %}</a>
        </div>
        <p>Aviation</p>
    </div>

    <div class="one-fourth section-icon centered">
        <div class="section-icon-cell">
            <a href="#a4">{% asset ground-icon-01.png alt="Ground" %}</a>
        </div>
        <p>Ground</p>
    </div>
</div>

<!-- icons row 2 -->
<div class="flex-wrapper-big big-v-buffer">
    <div class="one-fourth section-icon centered">
        <div class="section-icon-cell">
            <a href="#a5">{% asset space-icon-01.png alt="Space" %}</a>
        </div>
        <p>Space</p>
    </div>
    
    <div class="one-fourth section-icon centered">
        <div class="section-icon-cell">
            <a href="#a6">{% asset maritime-icon-01.png alt="Maritime" %}</a>
        </div>
        <p>Maritime</p>
    </div>
    
    <div class="one-fourth section-icon centered">
        <div class="section-icon-cell">
            <a href="#a7">{% asset research-icon-01.png alt="Research" %}</a>
        </div>
        <p>Research</p>
    </div>
    
    <div class="one-fourth section-icon centered">
        <div class="section-icon-cell">
            <a href="#a8">{% asset support-icon-01.png alt="Support" %}</a>
        </div>
        <p>Support</p>
    </div>

    
</div>

<!-- icons row 3 -->
<div class="flex-wrapper-big big-v-buffer">
    <div class="one-fourth">
        <div class="bio-spacer"></div>
    </div>
    
     <div class="one-fourth section-icon centered">
        <div class="section-icon-cell">
            <a href="#a9">{% asset training-icon-01.png alt="Training" %}</a>
        </div>
        <p>Training</p>
    </div>
    
    <div class="one-fourth section-icon centered">
        <div class="section-icon-cell">
            <a href="#a10">{% asset development-systems-integration-icon-01.png alt="Development/Systems Integration" %}</a>
        </div>
        <p>Development/Systems<br>Integration</p>
    </div>

   

    <div class="one-fourth">
        <div class="bio-spacer"></div>
    </div>
</div>

<div class="flex-wrapper-big">
    <div id="listTop" class="infoblock">
        <h1>Interested in ASTRO?</h1>
         <p>Access to ASTRO is available through Assisted Acquisition specifically through GSA’s Office of Assisted Acquisition Services (AAS) FEDSIM organization and any GSA AAS Contracting Officer (CO) granted a Delegation of Procurement Authority (DPA).
         <br><br><b>For more information, contact the ASTRO team at <a href="mailto:astro@gsa.gov?subject=Requesting Information">ASTRO@gsa.gov</a>.</b>
    </p>
    </div>
</div>

        
<div class="flex-wrapper-big big-v-buffer">
    <div id="a1" class="one-half camelCaseText">
        <h4>Data Operations Pool </h4>
        <hr>
        <p><b>1</b> Airtec <br>
        <b>2</b> Alion Science and Technology <br>
        <b>3</b> Amentum <br>
        <b>4</b> BAE <br>
        <b>5</b> Battelle<br> 
        <b>6</b> Bode* <br>
        <b>7</b> Booz Allen Hamilton<br> 
        <b>8</b> Boeing**<br>
        <b>9</b> CACI <br>
        <b>10</b> Continental Mapping <br>
        <b>11</b> FGS <br>
        <b>12</b> General Atomics <br>
        <b>13</b> Hexagon <br>
        <b>14</b> HII Mission Driven Innovative Solutions<br>
        <b>15</b> Integration Innovation <br>
        <b>16</b> Jacobs <br>
        <b>17</b> L3 <br>
        <b>18</b> Leidos <br>
        <b>19</b> Linquest <br>
        <b>20</b> Mag DS Corp <br>
        <b>21</b> Mantech <br>
        <b>22</b> Merlin Global Services <br>
        <b>23</b> Northrop Grumman <br>
        <b>24</b> OASIS Systems <br>
        <b>25</b> PAE <br>
        <b>26</b> Peraton <br>
        <b>27</b> Raytheon <br>
        <b>28</b> Remotely Piloted Solutions<br>
        <b>29</b> SAIC<br>
        <b>30</b> Scientific Research Corp<br>
        <b>31</b> Smartronix<br>
        <b>32</b> Textron<br>
        <b>33</b> Webworld Technologies<br>
        <b>34</b> Wintec Arrowmaker<br>
        <b>35</b> Wyle<br>
            <br>
            <span class="returnLink"><a href="#listTop">Back to Top</a></span>
        </p>

    </div>

    <div id="a2" class="one-half camelCaseText">
        <h4>Mission Operations Pool </h4>
        <hr>
        <p><b>1</b> Alion <br> 
        <b>2</b> Amentum  <br>
        <b>3</b> Aviation Training Consultants  <br>
        <b>4</b> BAE  <br>
        <b>5</b> Berry  <br>
        <b>6</b> Bode*  <br>
        <b>7</b> Booz Allen Hamilton  <br>
        <b>8</b> CACI  <br>
        <b>9</b> Construction Helicopters  <br>
        <b>10</b> Draken  <br>
        <b>11</b> ECS Federal  <br>
        <b>12</b> Erickson <br>
        <b>13</b> General Atomics  <br>
        <b>14</b> HII Mission Driven Solutions  <br>
        <b>15</b> Jacobs  <br>
        <b>16</b> Leidos  <br>
        <b>17</b> Linquest  <br>
        <b>18</b> Lynxnet  <br>
        <b>19</b> Mag DS  <br>
        <b>20</b> Mountain Aviation*  <br>
        <b>21</b> Northrop Grumman**  <br>
        <b>22</b> OASIS Systems  <br>
        <b>23</b> Oscar Deuce  <br>
        <b>24</b> PAE  <br>
        <b>25</b> Peraton  <br>
        <b>26</b> Precision Integrated Programs  <br>
        <b>27</b> Raytheon  <br>
        <b>28</b> SAIC  <br>
        <b>29</b> Sierra Nevada  <br>
        <b>30</b> Sigmatech <br>
        <b>31</b> SRCtech <br>
        <b>32</b> Tactical Air Support <br>
        <b>33</b> Teledyne Brown <br>
        <b>34</b> Textron <br>
        <b>35</b> Webworld <br>
        <b>36</b> Wintec Arrowmaker <br>
        <b>37</b> Wyle
            <br>
            <span class="returnLink"><a href="#listTop">Back to Top</a></span>
        </p>
    </div>

    <div id="a3" class="one-half camelCaseText">
        <h4>Aviation Pool </h4>
        <hr>
        <p><b>1</b> A2M Consulting LLC  <br>
        <b>2</b> AAR Government Services, Inc.  <br>
        <b>3</b> Adams Communication & Engineering Technology, Inc. <br>
        <b>4</b> Airtec, Inc.  <br>
        <b>5</b> Alion Science and Technology Corporation <br>
        <b>6</b> Amentum Services, Inc.  <br>
        <b>7</b> AVMAC LLC  <br>
        <b>8</b> Battlespace Flight Services, LLC  <br>
        <b>9</b> Battlespace, Inc  <br>
        <b>10</b> Berry Aviation, Inc.  <br>
        <b>11</b> Bode Aviation, Inc.*  <br>
        <b>12</b> Boeing Company, The**  <br>
        <b>13</b> Booz Allen Hamilton Inc.  <br>
        <b>14</b> CACI, Inc. - Federal  <br>
        <b>15</b> Construction Helicopters, Inc.  <br>
        <b>16</b> Cruz Associates Inc.  <br>
        <b>17</b> Delta Resources, Inc.  <br>
        <b>18</b> Draken International, LLC <br>
        <b>19</b> Erickson Incorporated  <br>
        <b>20</b> General Atomics Aeronautical Systems, Inc. <br>
        <b>21</b> HII MISSION DRIVEN INNOVATIVE SOLUTIONS INC. <br>
        <b>22</b> L3 TECHNOLOGIES, INC.  <br>
        <b>23</b> Leidos, Inc.  <br>
        <b>24</b> Lynxnet, LLC  <br>
        <b>25</b> M1 SUPPORT SERVICES, L.P.  <br>
        <b>26</b> M7 AEROSPACE LLC  <br>
        <b>27</b> MAG DS Corp.  <br>
        <b>28</b> Mantech Advanced Systems International, Inc. <br>
        <b>29</b> Northrop Grumman Systems Corporation**  <br>
        <b>30</b> Oasis Systems, LLC  <br>
        <b>31</b> PAE Applied Technologies LLC  <br>
        <b>32</b> Peraton Inc.  <br>
        <b>33</b> Pinnacle Solutions, Inc. <br>
        <b>34</b> RAYTHEON COMPANY  <br>
        <b>35</b> SCIENCE AND ENGINEERING SERVICES, LLC <br>
        <b>36</b> SCIENCE APPLICATIONS INTERNATIONAL CORPORATION <br>
        <b>37</b> Scientific Research Corporation <br>
        <b>38</b> Serco Inc. <br>
        <b>39</b> Sierra Nevada Corporation <br>
        <b>40</b> SIGMATECH, INC. <br>
        <b>41</b> SMARTRONIX, LLC <br>
        <b>42</b> STRATEGIC TECHNOLOGY INSTITUTE, INC. <br>
        <b>43</b> Textron Systems Corporation <br>
        <b>44</b> USFalcon, Inc. <br>
        <b>45</b> Vertex Aerospace LLC
            <br>
            <span class="returnLink"><a href="#listTop">Back to Top</a></span>
            </p>
        </div>
    </div>
    
<div class="flex-wrapper-big big-v-buffer">
    <div id="a4" class="one-half camelCaseText">
        <h4>Ground Pool</h4>
        <hr>
        <p><b>1</b> Alion Science and Technology Corporation<br>
<b>2</b> Amentum Services, Inc.  <br>
<b>3</b> AS AND D, LLC.  <br>
<b>4</b> BAE Systems Technology Solutions & Services Inc. <br>
<b>5</b> Battelle Memorial Institute  <br>
<b>6</b> Booz Allen Hamilton Inc.  <br>
<b>7</b> CACI, INC. - FEDERAL  <br>
<b>8</b> DCS Corporation  <br>
<b>9</b> JACOBS TECHNOLOGY INC. <br>
<b>10</b> Leidos, Inc.  <br>
<b>11</b> Lynxnet, LLC  <br>
<b>12</b> M1 SUPPORT SERVICES, L.P.  <br>
<b>13</b> Mantech Advanced Systems International, Inc. <br>
<b>14</b> Manufacturing Techniques, Inc.  <br>
<b>15</b> Northrop Grumman Systems Corporation**  <br>
<b>16</b> Oshkosh Defense, LLC  <br>
<b>17</b> PAE Applied Technologies LLC  <br>
<b>18</b> Parsons Government Services Inc.  <br>
<b>19</b> RAYTHEON COMPANY  <br>
<b>20</b> SCIENCE APPLICATIONS INTERNATIONAL CORPORATION <br>
<b>21</b> Scientific Research Corporation <br>
<b>22</b> Serco Inc. <br>
<b>23</b> STRATEGIC TECHNOLOGY INSTITUTE, INC. <br>
<b>24</b> VSE CORPORATION <br>
<b>25</b> WYLE LABORATORIES, INC.
            <br>
            <span class="returnLink"><a href="#listTop">Back to Top</a></span>
        </p>

    </div>

    <div id="a5" class="one-half camelCaseText">
        <h4>Space Pool </h4>
        <hr>
        <p><b>1</b> Amentum Services, Inc. <br>
<b>2</b> AS AND D, LLC.  <br>
<b>3</b> BAE Systems Technology Solutions & Services Inc. <br>
<b>4</b> Boeing Company, The  <br>
<b>5</b> Booz Allen Hamilton Inc.  <br>
<b>6</b> CACI, INC. - FEDERAL  <br>
<b>7</b> Cgi Federal Inc. <br>
<b>8</b> General Atomics Aeronautical Systems, Inc. <br>
<b>9</b> Infinity Systems Engineering, LLC  <br>
<b>10</b> JACOBS TECHNOLOGY INC. <br>
<b>11</b> Leidos, Inc.  <br>
<b>12</b> LinQuest Corporation  <br>
<b>13</b> Mantech Advanced Systems International, Inc. <br>
<b>14</b> Manufacturing Techniques, Inc.  <br>
<b>15</b> MEI Technologies, Inc.  <br>
<b>16</b> Millennium Engineering And Integration Co.  <br>
<b>17</b> Northrop Grumman Systems Corporation**  <br>
<b>18</b> Parsons Government Services Inc. <br>
<b>19</b> Peraton Inc.  <br>
<b>20</b> RAYTHEON COMPANY   <br>
<b>21</b> SCIENCE APPLICATIONS INTERNATIONAL CORPORATION <br>
<b>22</b> Scientific Research Corporation <br>
<b>23</b> SMARTRONIX, LLC <br>
<b>24</b> TELEDYNE BROWN ENGINEERING, INC. <br>
<b>25</b> WYLE LABORATORIES, INC.
            <br>
            <span class="returnLink"><a href="#listTop">Back to Top</a></span>
        </p>
    </div>

    <div id="a6" class="one-half camelCaseText">
        <h4>Maritime Pool </h4>
        <hr>
        <p><b>1</b> Amentum Services, Inc. <br>
<b>2</b> AS AND D, LLC. <br>
<b>3</b> BAE Systems Technology Solutions & Services Inc. <br>
<b>4</b> Blackfish Federal, LLC  <br>
<b>5</b> Boeing Company, The <br>
<b>6</b> Booz Allen Hamilton Inc. <br>
<b>7</b> CACI, INC. - FEDERAL <br>
<b>8</b> Delphinus Engineering Incorporated <br>
<b>9</b> Delta Resources, Inc. <br>
<b>10</b> EPSILON SYSTEMS SOLUTIONS, INC. <br>
<b>11</b> General Atomics Aeronautical Systems, Inc. <br>
<b>12</b> Gryphon Technologies, L.C. <br>
<b>13</b> HII MISSION DRIVEN INNOVATIVE SOLUTIONS INC <br>
<b>14</b> Leidos, Inc. <br>
<b>15</b> Lynxnet, LLC <br>
<b>16</b> Mantech Advanced Systems International, Inc. <br>
<b>17</b> Northrop Grumma Systems Corporation** <br>
<b>18</b> Oasis Systems, LLC <br>
<b>19</b> Oceaneering International, Inc. <br>
<b>20</b> PAE Applied Technologies LLC <br>
<b>21</b> Peraton Inc. <br>
<b>22</b> Potomacwave Consulting, Inc. <br>
<b>23</b> QED SYSTEMS, INC. <br>
<b>24</b> RAYTHEON COMPANY <br>
<b>25</b> SCIENCE APPLICATIONS INTERNATIONAL CORPORATION <br>
<b>26</b> Scientific Research Corporation <br>
<b>27</b> Serco Inc. <br>
<b>28</b> TELEDYNE BROWN ENGINEERING, INC. <br>
    <b>29</b> VSE CORPORATION
            <br>
            <span class="returnLink"><a href="#listTop">Back to Top</a></span>

            </p>
        </div>
    </div>

<div class="flex-wrapper-big big-v-buffer">
    

    <div id="a7" class="one-half  camelCaseText">
        <h4>Research Pool </h4>
        <hr>
        <p><b>1</b> 4D TECH SOLUTIONS, INC. <br>
            <b>2</b> Aegis Technologies Group, LLC, The <br>
<b>3</b> Alion Science and Technology Corporation  <br>
<b>4</b> AS AND D, LLC. <br>
<b>5</b> AVION SOLUTIONS, INC. <br>
<b>6</b> Battelle Memorial Institute <br>
<b>7</b> Booz Allen Hamilton Inc. <br>
<b>8</b> CACI, INC. - FEDERAL <br>
<b>9</b> Colsa Corporation  <br>
<b>10</b> Credence Management Solutions Limited Liability Company <br>
<b>11</b> DCS Corporation <br>
<b>12</b> Engineering Research And Consulting, Inc. <br>
<b>13</b> Envistacom, L.L.C. <br>
<b>14</b> General Atomics Aeronautical Systems, Inc. <br>
<b>15</b> General Dynamics Information Technology, Inc. <br>
<b>16</b> Georgia Tech Applied Research Corporation <br>
<b>17</b> HII MISSION DRIVEN INNOVATIVE SOLUTIONS INC. <br>
<b>18</b> JACOBS TECHNOLOGY INC.  <br>
<b>19</b> Janus Research Group, LLC <br>
<b>20</b> Leidos, Inc. <br>
<b>21</b> LinQuest Corporation <br>
<b>22</b> MAG DS Corp. <br>
<b>23</b> Mantech Advanced Systems International, Inc. <br>
<b>24</b> Manufacturing Technical Solutions, Inc. <br>
<b>25</b> Merlin Global Services, LLC <br>
<b>26</b> Metrica, Inc. <br>
<b>27</b> Millennium Engineering And Integration Co.  <br>
<b>28</b> Navatek LLC <br>
<b>29</b> Northrop Grumman Systems Corporation <br>
<b>30</b> Oasis Systems, LLC <br>
<b>31</b> Odyssey Systems Consulting Group, Ltd. <br>
<b>32</b> PAE Applied Technologies LLC <br>
<b>33</b> Parsons Government Services Inc. <br>
<b>34</b> Perspecta Enterprise Solutions Llc <br>
<b>35</b> Prescient Edge Corporation <br>
<b>36</b> QUANTITECH LLC  <br>
<b>37</b> SCIENCE APPLICATIONS INTERNATIONAL CORPORATION <br>
<b>38</b> SIGMATECH, INC. <br>
<b>39</b> SMARTRONIX, LLC <br>
<b>40</b> SONALYSTS, INC. <br>
<b>41</b> SOUTHWEST RESEARCH INSTITUTE <br>
<b>42</b> Torch Technologies, Inc. <br>
<b>43</b> UNIVERSAL TECHNOLOGY CORPORATION <br>
<b>44</b> USFalcon, Inc. <br>
    <b>45</b> WYLE LABORATORIES, INC.
            <br>
            <span class="returnLink"><a href="#listTop">Back to Top</a></span>
        </p>
    </div>

    <div id="a8" class="one-half  camelCaseText">
        <h4>SupportPool</h4>
        <hr>
        <p><b>1</b> Alion Science and Technology Corporation <br>
<b>2</b> Amentum Services, Inc.  <br>
<b>3</b> Applied Research Associates, Inc.  <br>
<b>4</b> AS AND D, LLC.  <br>
<b>5</b> Battelle Memorial Institute  <br>
<b>6</b> Booz Allen Hamilton Inc.  <br>
<b>7</b> BTAS, Inc.  <br>
<b>8</b> CACI, INC. - FEDERAL  <br>
<b>9</b> Colsa Corporation  <br>
<b>10</b> Credence Management Solutions Limited Liability Company <br>
<b>11</b> DCS Corporation  <br>
<b>12</b> DELOITTE CONSULTING LLP  <br>
<b>13</b> FGS, LLC  <br>
<b>14</b> General Atomics Aeronautical Systems, Inc.  <br>
<b>15</b> General Dynamics Information Technology, Inc.  <br>
<b>16</b> HII MISSION DRIVEN INNOVATIVE SOLUTIONS INC. <br>
<b>17</b> Infinity Systems Engineering, LLC  <br>
<b>18</b> INTUITIVE RESEARCH AND TECHNOLOGY CORPORATION <br>
<b>19</b> Janus Research Group, LLC  <br>
<b>20</b> L3 TECHNOLOGIES, INC. <br>
<b>21</b> Leidos, Inc.  <br>
<b>22</b> LinQuest Corporation  <br>
<b>23</b> MAG DS Corp.  <br>
<b>24</b> Mantech Advanced Systems International, Inc.  <br>
<b>25</b> Millennium Engineering And Integration Co.  <br>
<b>26</b> Northrop Grumman Systems Corporation  <br>
<b>27</b> Oasis Systems, LLC <br>
<b>28</b> Odyssey Systems Consulting Group, Ltd.  <br>
<b>29</b> Parsons Government Services Inc.  <br>
<b>30</b> Perspecta Enterprise Solutions Llc  <br>
<b>31</b> QUANTITECH LLC  <br>
<b>32</b> RAYTHEON COMPANY  <br>
<b>33</b> SCIENCE APPLICATIONS INTERNATIONAL CORPORATION  <br>
<b>34</b> Scientific Research Corporation  <br>
<b>35</b> Sev1Tech, LLC  <br>
<b>36</b> SIGMATECH, INC.  <br>
<b>37</b> SMARTRONIX, LLC  <br>
<b>38</b> SONALYSTS, INC. <br>
<b>39</b> SOUTHWEST RESEARCH INSTITUTE <br>
<b>40</b> SUMARIA SYSTEMS, INC. <br>
<b>41</b> System Studies & Simulation Inc <br>
<b>42</b> SYSTEMS PLANNING AND ANALYSIS, INC. <br>
<b>43</b> Torch Technologies, Inc. <br>
<b>44</b> USFalcon, Inc. <br>
<b>45</b> Webworld Technologies, Inc. <br>
<b>46</b> WINTEC ARROWMAKER, INC. <br>
<b>47</b> WYLE LABORATORIES, INC. 
            <br>
            <span class="returnLink"><a href="#listTop">Back to Top</a></span>
        </p>
    </div>
    
    <div id="a9" class="one-half camelCaseText">
        <h4>Trainining Pool</h4>
        <hr>
        <p><b>1</b>1 ADVANCED CONCEPTS AND TECHNOLOGIES INTERNATIONAL, LLC <br>
            <b>2</b> Alion Science and Technology Corporation<br>
<b>3</b> Amentum Services, Inc.  <br>
<b>4</b> Apogee Engineering, LLC  <br>
<b>5</b> BAE Systems Technology Solutions & Services Inc. <br>
<b>6</b> Battelle Memorial Institute  <br>
<b>7</b> Boeing Company, The <br>
<b>8</b> Booz Allen Hamilton Inc. <br>
<b>9</b> CACI, INC. - FEDERAL <br>
<b>10</b> CAE USA Mission Solutions Inc <br>
<b>11</b> Crew Training International, Inc. <br>
<b>12</b> D3 Air And Space Operations, Inc. <br>
<b>13</b> DRAKEN INTERNATIONAL, LLC  <br>
<b>14</b> FGS, LLC <br>
<b>15</b> FlightSafety Services Corporation  <br>
<b>16</b> General Atomics Aeronautical Systems, Inc. <br>
<b>17</b> General Dynamics Information Technology, Inc. <br>
<b>18</b> HII MISSION DRIVEN INNOVATIVE SOLUTIONS INC. <br>
<b>19</b> Infinity Systems Engineering, LLC <br>
<b>20</b> JACOBS TECHNOLOGY INC. <br>
<b>21</b> L3 TECHNOLOGIES, INC.  <br>
<b>22</b> Leidos, Inc.  <br>
<b>23</b> Logistic Services International, Inc. <br>
<b>24</b> MAG DS Corp.  <br>
<b>25</b> Mantech Advanced Systems International, Inc. <br>
<b>26</b> Northrop Grumman Systems Corporation <br>
<b>27</b> Oscar Deuce LLC <br>
<b>28</b> PAE Applied Technologies LLC <br>
<b>29</b> Parsons Government Services Inc. <br>
<b>30</b> Pinnacle Solutions, Inc. <br>
<b>31</b> RAYTHEON COMPANY  <br>
<b>32</b> Resicum International LLC <br>
<b>33</b> Rockhill Group, Inc., The  <br>
<b>34</b> SAYRES AND ASSOCIATES CORPORATION <br>
<b>35</b> SCIENCE AND ENGINEERING SERVICES, LLC <br>
<b>36</b> SCIENCE APPLICATIONS INTERNATIONAL CORPORATION <br>
<b>37</b> Scientific Research Corporation <br>
<b>38</b> Serco Inc.  <br>
<b>39</b> Sev1Tech, LLC <br>
<b>40</b> SONALYSTS, INC. <br>
<b>41</b> SOUTHEASTERN COMPUTER CONSULTANTS, INC. <br>
<b>42</b> System Studies & Simulation Inc <br>
<b>43</b> Torch Technologies, Inc. <br>
<b>44</b> Valiant Global Defense Services Inc. <br>
<b>45</b> WYLE LABORATORIES, INC.
            <br>
            <span class="returnLink"><a href="#listTop">Back to Top</a></span>

        </p>

    </div>
    </div>
        
<div class="flex-wrapper-big big-v-buffer">
    <div class="one-half camelCaseText">
        <div class="bio-spacer"></div>
    </div> 
    
    <div id="a10" class="one-half">
        <h4>Development/Systems Intergration Pool</h4>
        <hr>
        <p><b>1</b> 4D TECH SOLUTIONS, INC. <br>
<b>2</b> Adams Communication & Engineering Technology, Inc. <br>
<b>3</b> Alion Science and Technology Corporation <br>
<b>4</b> Amentum Services, Inc. <br>
<b>5</b> Applied Research Associates, Inc. <br>
<b>6</b> AS AND D, LLC. <br>
<b>7</b> Battelle Memorial Institute <br>
<b>8</b> Booz Allen Hamilton Inc. <br>
<b>9</b> Business Integra Technology Solutions, Inc  <br>
<b>10</b> CACI, INC. - FEDERAL <br>
<b>11</b> Cgi Federal Inc. <br>
<b>12</b> Colsa Corporation <br>
<b>13</b> ECS Federal, LLC <br>
<b>14</b> Engineering And Software System Solutions, Inc. <br>
<b>15</b> Envistacom, L.L.C. <br>
<b>16</b> General Atomics Aeronautical Systems, Inc. <br>
<b>17</b> General Dynamics Information Technology, Inc. <br>
<b>18</b> Georgia Tech Applied Research Corporation  <br>
<b>19</b> Gryphon Technologies, L.C. <br>
<b>20</b> HII MISSION DRIVEN INNOVATIVE SOLUTIONS INC. <br>
<b>21</b> JACOBS TECHNOLOGY INC. <br>
<b>22</b> KIHOMAC, Inc. <br>
<b>23</b> L3 TECHNOLOGIES, INC. <br>
<b>24</b> Leidos, Inc. <br>
<b>25</b> LinQuest Corporation <br>
<b>26</b> Lynxnet, LLC <br>
<b>27</b> Mantech Advanced Systems International, Inc.  <br>
<b>28</b> Manufacturing Techniques, Inc. <br>
<b>29</b> Millennium Engineering And Integration Co. <br>
<b>30</b> Navatek LLC <br>
<b>31</b> Northrop Grumman Systems Corporation** <br>
<b>32</b> Parsons Government Services Inc. <br>
<b>33</b> Peraton Inc. <br>
<b>34</b> Perspecta Enterprise Solutions Llc <br>
<b>35</b> RAYTHEON COMPANY <br>
<b>36</b> Research and Engineering Development LLC  <br>
<b>37</b> SCIENCE APPLICATIONS INTERNATIONAL CORPORATION <br>
<b>38</b> Scientific Research Corporation <br>
<b>39</b> SMARTRONIX, LLC <br>
<b>40</b> SONALYSTS, INC. <br>
<b>41</b> SOUTHWEST RESEARCH INSTITUTE <br>
<b>42</b> SUMARIA SYSTEMS, INC. <br>
<b>43</b> Torch Technologies, Inc. <br>
<b>44</b> WINTEC ARROWMAKER, INC. <br>
<b>45</b> WYLE LABORATORIES, INC. 
            <br>
            <span class="returnLink"><a href="#listTop">Back to Top</a></span>
        </p>
    </div>
    
    <div class="one-half">
        <div class="bio-spacer"></div>
    </div> 
</div>
