<div class="flex-wrapper-big">
    <div class="infoblock">
        <h1>ASTRO</h1>
    </div>
</div>

<div class="flex-wrapper-big">
    <div id="cso_banner1"> {% asset ASTRO-webpage-banner.jpg alt="ASTRO" %}  </div>
</div>

<div class="v-buffer"></div>

<div class="flex-wrapper-big flexCols" >
    <button id="title-1" class="dark-buttonbar" onclick="javascript:toggleBlock('o1','c1','block-1');">
        <div id="o1" class="tic-opened">-</div><div id="c1" class="tic-closed">+</div><label>What is ASTRO?</label> 
    </button>
    <div id="block-1" class="c-sect">
        <h1>What is ASTRO?</h1>
            <p>ASTRO is a broadly scoped series of contract vehicles encompassing virtually all services supporting or involving manned, unmanned, or optionally manned platforms and robotics. ASTRO is administered by the General Services Administration’s (GSA) Office of Assisted Acquisition Service (AAS) FEDSIM Organization.</P>
            <p>ASTRO is a family of ten separate, individual, Multiple Award (MA), Indefinite Delivery/Indefinite Quantity (IDIQ) contracts sponsored by the Department of Defense (DoD).</p>
    </div>
</div>

<div class="v-buffer"></div>

<div class="flex-wrapper-big flexCols" >
    <button id="title-2" class="dark-buttonbar" onclick="javascript:toggleBlock('o2','c2','block-2');">
        <div id="o2" class="tic-opened">-</div><div id="c2" class="tic-closed">+</div><label>ASTRO At A Glance</label> 
    </button>
    <div id="block-2" class="c-sect">
        <h1>ASTRO At A Glance</h1>
        <ul>
            <li><b>Who can order?</b> GSA FAS AAS Contracting Officers.</li>
            <li><b>When is the ordering period?</b> ASTRO task orders must be solicited and awarded prior to ASTRO expiration date of November 14th, 2031, assuming option extensions, and task orders may extend up to five years after the ASTRO Ordering period expires.</li>  
            <li><b>What contract types are supported?</b> All contract types can be utilized at the task order level, including cost reimbursement and hybrid models.</li>
            <li><b>Is there a ceiling?</b>  No.</li>
            <li><b>What labor categories are supported?</b>  Standardized labor categories are included and you can create customized labor categories at the task order level when necessary.</li>
            <li><b>Is ancillary support allowed?</b>  Yes, Other Direct Costs (ODCs) at the task order level are allowed on as needed basis.</li>
            <li><b>What service types are covered?</b> Commercial, Non-commercial, classified and non-classified, CONUS and OCONUS.</li>
            <li><b>How many companies are on the ASTRO vehicle?</b> There are 129 unique companies split into 10 pools ranging from 25-46 awardees in each pool.</li>
            <li><b>How many small businesses are on the ASTRO vehicle?</b> 37 awards were made to small businesses.</li>
            <li><b>Is Service Contract Act (SCA) support allowed?</b>  Yes.</li>
            <li><b>How do I know which pools to use?</b> In general, pools that contain the preponderance of the work should first be researched when considering an ASTRO solution.</li>
        </ul>
    </div>
</div>

<div class="v-buffer"></div>

<div class="flex-wrapper-big flexCols" >
    <button id="title-3" class="dark-buttonbar" onclick="javascript:toggleBlock('o3','c3','block-3');">
        <div id="o3" class="tic-opened">-</div><div id="c3" class="tic-closed">+</div><label>ASTRO Pools</label> 
    </button>
    <div id="block-3" class="c-sect">
        <h1>ASTRO Pools</h1>
        <p>ASTRO services are organized into ten functional Pools, with the appropriate Pool selected for task order solicitation based upon the preponderance of work in the requirement being solicited.<br>
            To see vendors associated with each pool, select a pool icon. </p>
            <!-- begin pool icons  ROW 1-->
        <div class="flex-wrapper">
            <div class="section-icon-cell">
                <div class="section-icon-astro">
                    <a onclick="javascript:openPool('popup_DOP');">{% asset data-ops-icon-01.png alt="Data Operations" %}</a>
                </div>
                <p>Data<br>Operations</p>
            </div>
            
            <div class="section-icon-cell">
                <div class="section-icon-astro">
                    <a onclick="javascript:openPool('popup_MOP');">{% asset mission-ops-icon-01.png alt="Mission Operations" %}</a>
                </div>
                <p>Mission<br>Operations</p>
            </div>
        
            <div class="section-icon-cell">
                <div class="section-icon-astro">
                   <a onclick="javascript:openPool('popup_AP');">{% asset aviation-icon-01.png alt="Aviation" %}</a>
                </div>
                <p>Aviation</p>
            </div>
        
            <div class="section-icon-cell">
                <div class="section-icon-astro">
                    <a onclick="javascript:openPool('popup_GP');">{% asset ground-icon-01.png alt="Ground" %}</a>
                </div>
                <p>Ground</p>
            </div>

            <div class="section-icon-cell">
                <div class="section-icon-astro">
                    <a onclick="javascript:openPool('popup_SP');">{% asset space-icon-01.png alt="Space" %}</a>
                </div>
                <p>Space</p>
            </div>

        </div>
<!-- begin pool icons  ROW 2-->
        <div class="flex-wrapper">
            
            <div class="section-icon-cell">
                <div class="section-icon-astro">
                    <a onclick="javascript:openPool('popup_MP');">{% asset maritime-icon-01.png alt="Maritime" %}</a>
                </div>
                <p>Maritime</p>
            </div>
            
            <div class="section-icon-cell">
                <div class="section-icon-astro">
                    <a onclick="javascript:openPool('popup_RP');">{% asset research-icon-01.png alt="Research" %}</a>
                </div>
                <p>Research</p>
            </div>
            
            <div class="section-icon-cell">
                <div class="section-icon-astro">
                    <a onclick="javascript:openPool('popup_SUPP');">{% asset support-icon-01.png alt="Support" %}</a>
                </div>
                <p>Support</p>
            </div>
            <div class="section-icon-cell">
                <div class="section-icon-astro">
                    <a onclick="javascript:openPool('popup_TP');">{% asset training-icon-01.png alt="Training" %}</a>
                </div>
                <p>Training</p>
            </div>
            
            <div class="section-icon-cell">
                <div class="section-icon-astro">
                    <a onclick="javascript:openPool('popup_DSIP');">{% asset development-systems-integration-icon-01.png alt="Development/Systems Integration" %}</a>
                </div>
                <p>Development/Systems<br>Integration</p>
            </div>
    
        </div>
</div>

<div class="v-buffer"></div>

<div class="flex-wrapper-big flexCols" >
    <button id="title-4" class="dark-buttonbar" onclick="javascript:toggleBlock('o4','c4','block-4');">
        <div id="o4" class="tic-opened">-</div><div id="c4" class="tic-closed">+</div><label>Interested in ASTRO?</label> 
    </button>
    <div id="block-4" class="c-sect">
        <h1>Interested in ASTRO?</h1>
        <p>Access to ASTRO is available through Assisted Acquisition specifically through GSA’s Office of Assisted Acquisition Services (AAS) FEDSIM organization and any GSA AAS Contracting Officer (CO) granted a Delegation of Procurement Authority (DPA).
       </p>
       <p>Access to ASTRO is available through Assisted Acquisition specifically through GSA’s Office of Assisted Acquisition Services (AAS) FEDSIM organization and any GSA AAS Contracting Officer (CO) granted a Delegation of Procurement Authority (DPA).
        <br><br><b>For more information, contact the ASTRO team at <a href="mailto:astro@gsa.gov?subject=Requesting Information">ASTRO@gsa.gov</a>.</b>
        </p>
    </div>
</div>

<!-- begin POOLS popups -->

<div id="popup_DOP" class="dialog-overlay" aria-hidden="true" onclick="javascript:closePool();">
    <div class="dialog" role="dialog">
        <h4>Data Operations Pool </h4>
        <hr>
        <ol>
            <li>	Airtec, Inc.	</li>
            <li>	ALION SCIENCE AND TECHNOLOGY CORPORATION	</li>
            <li>	Amentum Services, Inc.	</li>
            <li>	BAE Systems Technology Solutions & Services Inc.	</li>
            <li>	Battelle Memorial Institute	</li>
            <li>	Boeing Company, The	</li>
            <li>	Booz Allen Hamilton Inc.	</li>
            <li>	CACI, INC. - FEDERAL	</li>
            <li>	Continental Mapping Consultants, LLC	</li>
            <li>	DELOITTE CONSULTING LLP	</li>
            <li>	FGS, LLC	</li>
            <li>	General Atomics Aeronautical Systems, Inc.	</li>
            <li>	Hexagon US Federal, Inc.	</li>
            <li>	HII MISSION DRIVEN INNOVATIVE SOLUTIONS INC.	</li>
            <li>	Integration Innovation, Inc.	</li>
            <li>	JACOBS TECHNOLOGY INC.	</li>
            <li>	KBR Wyle Services, LLC	</li>
            <li>	L3 TECHNOLOGIES, INC.	</li>
            <li>	Leidos, Inc.	</li>
            <li>	LinQuest Corporation	</li>
            <li>	MAG DS Corp.	</li>
            <li>	Mantech Advanced Systems International, Inc.	</li>
            <li>	Merlin Global Services, LLC	</li>
            <li>	Northrop Grumman Systems Corporation	</li>
            <li>	Oasis Systems, LLC	</li>
            <li>	PAE Applied Technologies LLC	</li>
            <li>	Peraton Inc.	</li>
            <li>	RAYTHEON COMPANY	</li>
            <li>	REMOTELY PILOTED SOLUTIONS, L.L.C.	</li>
            <li>	SCIENCE APPLICATIONS INTERNATIONAL CORPORATION	</li>
            <li>	Scientific Research Corporation	</li>
            <li>	SMARTRONIX, LLC	</li>
            <li>	Textron Systems Corporation	</li>
            <li>	Webworld Technologies, Inc.	</li>
            <li>	WINTEC ARROWMAKER, INC.	</li>
        </ol>
        <p style="font-style: italic;">Click anywhere to close this window.</p>
    </div>
</div>
        

<div id="popup_MOP" class="dialog-overlay" aria-hidden="true" onclick="javascript:closePool();">
    <div class="dialog" role="dialog">
        <h4>Mission Operations Pool </h4>
        <hr>
        <ol>
            <li>	ALION SCIENCE AND TECHNOLOGY CORPORATION	</li>
            <li>	Amentum Services, Inc.	</li>
            <li>	Aviation Training Consulting LLC	</li>
            <li>	BAE Systems Technology Solutions & Services Inc.	</li>
            <li>	BERRY AVIATION, INC.	</li>
            <li>	Booz Allen Hamilton Inc.	</li>
            <li>	CACI, INC. - FEDERAL	</li>
            <li>	Construction Helicopters, Inc.	</li>
            <li>	DRAKEN INTERNATIONAL, LLC	</li>
            <li>	ECS Federal, LLC	</li>
            <li>	Erickson Incorporated	</li>
            <li>	General Atomics Aeronautical Systems, Inc.	</li>
            <li>	HII MISSION DRIVEN INNOVATIVE SOLUTIONS INC.	</li>
            <li>	JACOBS TECHNOLOGY INC.	</li>
            <li>	KBR Wyle Services, LLC	</li>
            <li>	Leidos, Inc.	</li>
            <li>	LinQuest Corporation	</li>
            <li>	Lynxnet, LLC	</li>
            <li>	MAG DS Corp.	</li>
            <li>	Northrop Grumman Systems Corporation	</li>
            <li>	Oasis Systems, LLC	</li>
            <li>	Oscar Deuce LLC	</li>
            <li>	PAE Applied Technologies LLC	</li>
            <li>	Peraton Inc.	</li>
            <li>	Precision Integrated Programs, LLC	</li>
            <li>	RAYTHEON COMPANY	</li>
            <li>	SCIENCE APPLICATIONS INTERNATIONAL CORPORATION	</li>
            <li>	Sierra Nevada Corporation	</li>
            <li>	SIGMATECH, INC.	</li>
            <li>	SRCTec, LLC	</li>
            <li>	Tactical Air Support, Inc.	</li>
            <li>	TELEDYNE BROWN ENGINEERING, INC.	</li>
            <li>	Textron Systems Corporation	</li>
            <li>	Webworld Technologies, Inc.	</li>
            <li>	WINTEC ARROWMAKER, INC.	</li>
        </ol>>
        <p style="font-style: italic;">Click anywhere to close this window.</p>
    </div>
</div>
        

<div id="popup_AP" class="dialog-overlay" aria-hidden="true" onclick="javascript:closePool();">
    <div class="dialog" role="dialog">
        <h4>Aviation Pool </h4>
        <hr>
        <p><b>1</b> A2M Consulting LLC  <br>
        <b>2</b> AAR Government Services, Inc.  <br>
        <b>3</b> Adams Communication & Engineering Technology, Inc. <br>
        <b>4</b> Airtec, Inc.  <br>
        <b>5</b> Alion Science and Technology Corporation <br>
        <b>6</b> Amentum Services, Inc.  <br>
        <b>7</b> AVMAC LLC  <br>
        <b>8</b> Battlespace Flight Services, LLC  <br>
        <b>9</b> Battlespace, Inc  <br>
        <b>10</b> Berry Aviation, Inc.  <br>
        <b>11</b> Bode Aviation, Inc.*  <br>
        <b>12</b> Boeing Company, The**  <br>
        <b>13</b> Booz Allen Hamilton Inc.  <br>
        <b>14</b> CACI, Inc. - Federal  <br>
        <b>15</b> Construction Helicopters, Inc.  <br>
        <b>16</b> Cruz Associates Inc.  <br>
        <b>17</b> Delta Resources, Inc.  <br>
        <b>18</b> Draken International, LLC <br>
        <b>19</b> Erickson Incorporated  <br>
        <b>20</b> General Atomics Aeronautical Systems, Inc. <br>
        <b>21</b> HII MISSION DRIVEN INNOVATIVE SOLUTIONS INC. <br>
        <b>22</b> L3 TECHNOLOGIES, INC.  <br>
        <b>23</b> Leidos, Inc.  <br>
        <b>24</b> Lynxnet, LLC  <br>
        <b>25</b> M1 SUPPORT SERVICES, L.P.  <br>
        <b>26</b> M7 AEROSPACE LLC  <br>
        <b>27</b> MAG DS Corp.  <br>
        <b>28</b> Mantech Advanced Systems International, Inc. <br>
        <b>29</b> Northrop Grumman Systems Corporation**  <br>
        <b>30</b> Oasis Systems, LLC  <br>
        <b>31</b> PAE Applied Technologies LLC  <br>
        <b>32</b> Peraton Inc.  <br>
        <b>33</b> Pinnacle Solutions, Inc. <br>
        <b>34</b> RAYTHEON COMPANY  <br>
        <b>35</b> SCIENCE AND ENGINEERING SERVICES, LLC <br>
        <b>36</b> SCIENCE APPLICATIONS INTERNATIONAL CORPORATION <br>
        <b>37</b> Scientific Research Corporation <br>
        <b>38</b> Serco Inc. <br>
        <b>39</b> Sierra Nevada Corporation <br>
        <b>40</b> SIGMATECH, INC. <br>
        <b>41</b> SMARTRONIX, LLC <br>
        <b>42</b> STRATEGIC TECHNOLOGY INSTITUTE, INC. <br>
        <b>43</b> Textron Systems Corporation <br>
        <b>44</b> USFalcon, Inc. <br>
        <b>45</b> Vertex Aerospace LLC</p>
        <p style="font-style: italic;">Click anywhere to close this window.</p>
    </div>
</div>
        

<div id="popup_GP" class="dialog-overlay" aria-hidden="true" onclick="javascript:closePool();">
    <div class="dialog" role="dialog">
        <h4>Ground Pool</h4>
        <hr>
        <p><b>1</b> Alion Science and Technology Corporation<br>
        <b>2</b> Amentum Services, Inc.  <br>
        <b>3</b> AS AND D, LLC.  <br>
        <b>4</b> BAE Systems Technology Solutions & Services Inc. <br>
        <b>5</b> Battelle Memorial Institute  <br>
        <b>6</b> Booz Allen Hamilton Inc.  <br>
        <b>7</b> CACI, INC. - FEDERAL  <br>
        <b>8</b> DCS Corporation  <br>
        <b>9</b> JACOBS TECHNOLOGY INC. <br>
        <b>10</b> Leidos, Inc.  <br>
        <b>11</b> Lynxnet, LLC  <br>
        <b>12</b> M1 SUPPORT SERVICES, L.P.  <br>
        <b>13</b> Mantech Advanced Systems International, Inc. <br>
        <b>14</b> Manufacturing Techniques, Inc.  <br>
        <b>15</b> Northrop Grumman Systems Corporation**  <br>
        <b>16</b> Oshkosh Defense, LLC  <br>
        <b>17</b> PAE Applied Technologies LLC  <br>
        <b>18</b> Parsons Government Services Inc.  <br>
        <b>19</b> RAYTHEON COMPANY  <br>
        <b>20</b> SCIENCE APPLICATIONS INTERNATIONAL CORPORATION <br>
        <b>21</b> Scientific Research Corporation <br>
        <b>22</b> Serco Inc. <br>
        <b>23</b> STRATEGIC TECHNOLOGY INSTITUTE, INC. <br>
        <b>24</b> VSE CORPORATION <br>
        <b>25</b> WYLE LABORATORIES, INC.</p>
        <p style="font-style: italic;">Click anywhere to close this window.</p>
    </div>
</div>
        

<div id="popup_SP" class="dialog-overlay" aria-hidden="true" onclick="javascript:closePool();">
    <div class="dialog" role="dialog">
        <h4>Space Pool </h4>
        <hr>
        <p><b>1</b> Amentum Services, Inc. <br>
        <b>2</b> AS AND D, LLC.  <br>
        <b>3</b> BAE Systems Technology Solutions & Services Inc. <br>
        <b>4</b> Boeing Company, The  <br>
        <b>5</b> Booz Allen Hamilton Inc.  <br>
        <b>6</b> CACI, INC. - FEDERAL  <br>
        <b>7</b> Cgi Federal Inc. <br>
        <b>8</b> General Atomics Aeronautical Systems, Inc. <br>
        <b>9</b> Infinity Systems Engineering, LLC  <br>
        <b>10</b> JACOBS TECHNOLOGY INC. <br>
        <b>11</b> Leidos, Inc.  <br>
        <b>12</b> LinQuest Corporation  <br>
        <b>13</b> Mantech Advanced Systems International, Inc. <br>
        <b>14</b> Manufacturing Techniques, Inc.  <br>
        <b>15</b> MEI Technologies, Inc.  <br>
        <b>16</b> Millennium Engineering And Integration Co.  <br>
        <b>17</b> Northrop Grumman Systems Corporation**  <br>
        <b>18</b> Parsons Government Services Inc. <br>
        <b>19</b> Peraton Inc.  <br>
        <b>20</b> RAYTHEON COMPANY   <br>
        <b>21</b> SCIENCE APPLICATIONS INTERNATIONAL CORPORATION <br>
        <b>22</b> Scientific Research Corporation <br>
        <b>23</b> SMARTRONIX, LLC <br>
        <b>24</b> TELEDYNE BROWN ENGINEERING, INC. <br>
        <b>25</b> WYLE LABORATORIES, INC.</p>
        <p style="font-style: italic;">Click anywhere to close this window.</p>
    </div>
</div>
        

<div id="popup_MP" class="dialog-overlay" aria-hidden="true" onclick="javascript:closePool();">
    <div class="dialog" role="dialog">
        <h4>Maritime Pool </h4>
        <hr>
        <p><b>1</b> Amentum Services, Inc. <br>
        <b>2</b> AS AND D, LLC. <br>
        <b>3</b> BAE Systems Technology Solutions & Services Inc. <br>
        <b>4</b> Blackfish Federal, LLC  <br>
        <b>5</b> Boeing Company, The <br>
        <b>6</b> Booz Allen Hamilton Inc. <br>
        <b>7</b> CACI, INC. - FEDERAL <br>
        <b>8</b> Delphinus Engineering Incorporated <br>
        <b>9</b> Delta Resources, Inc. <br>
        <b>10</b> EPSILON SYSTEMS SOLUTIONS, INC. <br>
        <b>11</b> General Atomics Aeronautical Systems, Inc. <br>
        <b>12</b> Gryphon Technologies, L.C. <br>
        <b>13</b> HII MISSION DRIVEN INNOVATIVE SOLUTIONS INC <br>
        <b>14</b> Leidos, Inc. <br>
        <b>15</b> Lynxnet, LLC <br>
        <b>16</b> Mantech Advanced Systems International, Inc. <br>
        <b>17</b> Northrop Grumma Systems Corporation** <br>
        <b>18</b> Oasis Systems, LLC <br>
        <b>19</b> Oceaneering International, Inc. <br>
        <b>20</b> PAE Applied Technologies LLC <br>
        <b>21</b> Peraton Inc. <br>
        <b>22</b> Potomacwave Consulting, Inc. <br>
        <b>23</b> QED SYSTEMS, INC. <br>
        <b>24</b> RAYTHEON COMPANY <br>
        <b>25</b> SCIENCE APPLICATIONS INTERNATIONAL CORPORATION <br>
        <b>26</b> Scientific Research Corporation <br>
        <b>27</b> Serco Inc. <br>
        <b>28</b> TELEDYNE BROWN ENGINEERING, INC. <br>
        <b>29</b> VSE CORPORATION</p>
        <p style="font-style: italic;">Click anywhere to close this window.</p>
    </div>
</div>
        

<div id="popup_RP" class="dialog-overlay" aria-hidden="true" onclick="javascript:closePool();">
    <div class="dialog" role="dialog">
        <h4>Research Pool </h4>
        <hr>
        <div class="flex-wrapper">
            <div class="infoblock">
                <p>
                <b>1</b> 4D TECH SOLUTIONS, INC. <br>
                <b>2</b> Aegis Technologies Group, LLC, The <br>
                <b>3</b> Alion Science and Technology Corporation  <br>
                <b>4</b> AS AND D, LLC. <br>
                <b>5</b> AVION SOLUTIONS, INC. <br>
                <b>6</b> Battelle Memorial Institute <br>
                <b>7</b> Booz Allen Hamilton Inc. <br>
                <b>8</b> CACI, INC. - FEDERAL <br>
                <b>9</b> Colsa Corporation  <br>
                <b>10</b> Credence Management Solutions Limited Liability Company <br>
                <b>11</b> DCS Corporation <br>
                <b>12</b> Engineering Research And Consulting, Inc. <br>
                <b>13</b> Envistacom, L.L.C. <br>
                <b>14</b> General Atomics Aeronautical Systems, Inc. <br>
                <b>15</b> General Dynamics Information Technology, Inc. <br>
                <b>16</b> Georgia Tech Applied Research Corporation <br>
                <b>17</b> HII MISSION DRIVEN INNOVATIVE SOLUTIONS INC. <br>
                <b>18</b> JACOBS TECHNOLOGY INC.  <br>
                <b>19</b> Janus Research Group, LLC <br>
                <b>20</b> Leidos, Inc. <br>
                <b>21</b> LinQuest Corporation <br>
                <b>22</b> MAG DS Corp. <br>
                <b>23</b> Mantech Advanced Systems International, Inc.
                </p>
            </div>
            <div class="infoblock">
                <p>
                <b>24</b> Manufacturing Technical Solutions, Inc. <br>
                <b>25</b> Merlin Global Services, LLC <br>
                <b>26</b> Metrica, Inc. <br>
                <b>27</b> Millennium Engineering And Integration Co.  <br>
                <b>28</b> Navatek LLC <br>
                <b>29</b> Northrop Grumman Systems Corporation <br>
                <b>30</b> Oasis Systems, LLC <br>
                <b>31</b> Odyssey Systems Consulting Group, Ltd. <br>
                <b>32</b> PAE Applied Technologies LLC <br>
                <b>33</b> Parsons Government Services Inc. <br>
                <b>34</b> Perspecta Enterprise Solutions Llc <br>
                <b>35</b> Prescient Edge Corporation <br>
                <b>36</b> QUANTITECH LLC  <br>
                <b>37</b> SCIENCE APPLICATIONS INTERNATIONAL CORPORATION <br>
                <b>38</b> SIGMATECH, INC. <br>
                <b>39</b> SMARTRONIX, LLC <br>
                <b>40</b> SONALYSTS, INC. <br>
                <b>41</b> SOUTHWEST RESEARCH INSTITUTE <br>
                <b>42</b> Torch Technologies, Inc. <br>
                <b>43</b> UNIVERSAL TECHNOLOGY CORPORATION <br>
                <b>44</b> USFalcon, Inc. <br>
                <b>45</b> WYLE LABORATORIES, INC.</p>
                <p style="font-style: italic;">Click anywhere to close this window.</p>
            </div>
        </div>
    </div>
</div>
        

<div id="popup_SUPP" class="dialog-overlay" aria-hidden="true" onclick="javascript:closePool();">
    <div class="dialog" role="dialog">
        <h4>Support Pool</h4>
        <hr>
        <div class="flex-wrapper">
            <div class="infoblock">
            <p>
            <b>1</b> Alion Science and Technology Corporation <br>
            <b>2</b> Amentum Services, Inc.  <br>
            <b>3</b> Applied Research Associates, Inc.  <br>
            <b>4</b> AS AND D, LLC.  <br>
            <b>5</b> Battelle Memorial Institute  <br>
            <b>6</b> Booz Allen Hamilton Inc.  <br>
            <b>7</b> BTAS, Inc.  <br>
            <b>8</b> CACI, INC. - FEDERAL  <br>
            <b>9</b> Colsa Corporation  <br>
            <b>10</b> Credence Management Solutions Limited Liability Company <br>
            <b>11</b> DCS Corporation  <br>
            <b>12</b> DELOITTE CONSULTING LLP  <br>
            <b>13</b> FGS, LLC  <br>
            <b>14</b> General Atomics Aeronautical Systems, Inc.  <br>
            <b>15</b> General Dynamics Information Technology, Inc.  <br>
            <b>16</b> HII MISSION DRIVEN INNOVATIVE SOLUTIONS INC. <br>
            <b>17</b> Infinity Systems Engineering, LLC  <br>
            <b>18</b> INTUITIVE RESEARCH AND TECHNOLOGY CORPORATION <br>
            <b>19</b> Janus Research Group, LLC  <br>
            <b>20</b> L3 TECHNOLOGIES, INC. <br>
            <b>21</b> Leidos, Inc.  <br>
            <b>22</b> LinQuest Corporation  <br>
            <b>23</b> MAG DS Corp.  <br>
            <b>24</b> Mantech Advanced Systems International, Inc.
            </p>
        </div>
        <div class="infoblock">
            <p>
            <b>25</b> Millennium Engineering And Integration Co.  <br>
            <b>26</b> Northrop Grumman Systems Corporation  <br>
            <b>27</b> Oasis Systems, LLC <br>
            <b>28</b> Odyssey Systems Consulting Group, Ltd.  <br>
            <b>29</b> Parsons Government Services Inc.  <br>
            <b>30</b> Perspecta Enterprise Solutions Llc  <br>
            <b>31</b> QUANTITECH LLC  <br>
            <b>32</b> RAYTHEON COMPANY  <br>
            <b>33</b> SCIENCE APPLICATIONS INTERNATIONAL CORPORATION  <br>
            <b>34</b> Scientific Research Corporation  <br>
            <b>35</b> Sev1Tech, LLC  <br>
            <b>36</b> SIGMATECH, INC.  <br>
            <b>37</b> SMARTRONIX, LLC  <br>
            <b>38</b> SONALYSTS, INC. <br>
            <b>39</b> SOUTHWEST RESEARCH INSTITUTE <br>
            <b>40</b> SUMARIA SYSTEMS, INC. <br>
            <b>41</b> System Studies & Simulation Inc <br>
            <b>42</b> SYSTEMS PLANNING AND ANALYSIS, INC. <br>
            <b>43</b> Torch Technologies, Inc. <br>
            <b>44</b> USFalcon, Inc. <br>
            <b>45</b> Webworld Technologies, Inc. <br>
            <b>46</b> WINTEC ARROWMAKER, INC. <br>
            <b>47</b> WYLE LABORATORIES, INC. </p>
            <p style="font-style: italic;">Click anywhere to close this window.</p>
            </div>
        </div> 
    </div>
</div>
        

<div id="popup_TP" class="dialog-overlay" aria-hidden="true" onclick="javascript:closePool();">
    <div class="dialog" role="dialog">
        <h4>Trainining Pool</h4>
        <hr>
        <div class="flex-wrapper">
            <div class="infoblock">
                <p><b>1</b>ADVANCED CONCEPTS AND TECHNOLOGIES INTERNATIONAL, LLC <br>
                <b>2</b> Alion Science and Technology Corporation<br>
                <b>3</b> Amentum Services, Inc.  <br>
                <b>4</b> Apogee Engineering, LLC  <br>
                <b>5</b> BAE Systems Technology Solutions & Services Inc. <br>
                <b>6</b> Battelle Memorial Institute  <br>
                <b>7</b> Boeing Company, The <br>
                <b>8</b> Booz Allen Hamilton Inc. <br>
                <b>9</b> CACI, INC. - FEDERAL <br>
                <b>10</b> CAE USA Mission Solutions Inc <br>
                <b>11</b> Crew Training International, Inc. <br>
                <b>12</b> D3 Air And Space Operations, Inc. <br>
                <b>13</b> DRAKEN INTERNATIONAL, LLC  <br>
                <b>14</b> FGS, LLC <br>
                <b>15</b> FlightSafety Services Corporation  <br>
                <b>16</b> General Atomics Aeronautical Systems, Inc. <br>
                <b>17</b> General Dynamics Information Technology, Inc. <br>
                <b>18</b> HII MISSION DRIVEN INNOVATIVE SOLUTIONS INC. <br>
                <b>19</b> Infinity Systems Engineering, LLC <br>
                <b>20</b> JACOBS TECHNOLOGY INC. <br>
                <b>21</b> L3 TECHNOLOGIES, INC.  <br>
                <b>22</b> Leidos, Inc.  <br>
                <b>23</b> Logistic Services International, Inc. <br>
                <b>24</b> MAG DS Corp.  <br>
                <b>25</b> Mantech Advanced Systems International, Inc.
            </p>
        </div>
        <div class="infoblock">
            <p>
                <b>26</b> Northrop Grumman Systems Corporation <br>
                <b>27</b> Oscar Deuce LLC <br>
                <b>28</b> PAE Applied Technologies LLC <br>
                <b>29</b> Parsons Government Services Inc. <br>
                <b>30</b> Pinnacle Solutions, Inc. <br>
                <b>31</b> RAYTHEON COMPANY  <br>
                <b>32</b> Resicum International LLC <br>
                <b>33</b> Rockhill Group, Inc., The  <br>
                <b>34</b> SAYRES AND ASSOCIATES CORPORATION <br>
                <b>35</b> SCIENCE AND ENGINEERING SERVICES, LLC <br>
                <b>36</b> SCIENCE APPLICATIONS INTERNATIONAL CORPORATION <br>
                <b>37</b> Scientific Research Corporation <br>
                <b>38</b> Serco Inc.  <br>
                <b>39</b> Sev1Tech, LLC <br>
                <b>40</b> SONALYSTS, INC. <br>
                <b>41</b> SOUTHEASTERN COMPUTER CONSULTANTS, INC. <br>
                <b>42</b> System Studies & Simulation Inc <br>
                <b>43</b> Torch Technologies, Inc. <br>
                <b>44</b> Valiant Global Defense Services Inc. <br>
                <b>45</b> WYLE LABORATORIES, INC.</p>
                <p style="font-style: italic;">Click anywhere to close this window.</p>
            </div>
        </div>
    </div>
</div>
        

<div id="popup_DSIP" class="dialog-overlay" aria-hidden="true" onclick="javascript:closePool();">
    <div class="dialog" role="dialog">
        <h4>Development/Systems Intergration Pool</h4>
        <hr>
        <div class="flex-wrapper">
            <div class="infoblock">
                <p><b>1</b> 4D TECH SOLUTIONS, INC. <br>
                <b>2</b> Adams Communication & Engineering Technology, Inc. <br>
                <b>3</b> Alion Science and Technology Corporation <br>
                <b>4</b> Amentum Services, Inc. <br>
                <b>5</b> Applied Research Associates, Inc. <br>
                <b>6</b> AS AND D, LLC. <br>
                <b>7</b> Battelle Memorial Institute <br>
                <b>8</b> Booz Allen Hamilton Inc. <br>
                <b>9</b> Business Integra Technology Solutions, Inc  <br>
                <b>10</b> CACI, INC. - FEDERAL <br>
                <b>11</b> Cgi Federal Inc. <br>
                <b>12</b> Colsa Corporation <br>
                <b>13</b> ECS Federal, LLC <br>
                <b>14</b> Engineering And Software System Solutions, Inc. <br>
                <b>15</b> Envistacom, L.L.C. <br>
                <b>16</b> General Atomics Aeronautical Systems, Inc. <br>
                <b>17</b> General Dynamics Information Technology, Inc. <br>
                <b>18</b> Georgia Tech Applied Research Corporation  <br>
                <b>19</b> Gryphon Technologies, L.C. <br>
                <b>20</b> HII MISSION DRIVEN INNOVATIVE SOLUTIONS INC. <br>
                <b>21</b> JACOBS TECHNOLOGY INC. <br>
                <b>22</b> KIHOMAC, Inc.
                </p>
            </div>
            <div class="infoblock">
                <p><b>23</b> L3 TECHNOLOGIES, INC. <br>
                <b>24</b> Leidos, Inc. <br>
                <b>25</b> LinQuest Corporation <br>
                <b>26</b> Lynxnet, LLC <br>
                <b>27</b> Mantech Advanced Systems International, Inc.  <br>
                <b>28</b> Manufacturing Techniques, Inc. <br>
                <b>29</b> Millennium Engineering And Integration Co. <br>
                <b>30</b> Navatek LLC <br>
                <b>31</b> Northrop Grumman Systems Corporation** <br>
                <b>32</b> Parsons Government Services Inc. <br>
                <b>33</b> Peraton Inc. <br>
                <b>34</b> Perspecta Enterprise Solutions Llc <br>
                <b>35</b> RAYTHEON COMPANY <br>
                <b>36</b> Research and Engineering Development LLC  <br>
                <b>37</b> SCIENCE APPLICATIONS INTERNATIONAL CORPORATION <br>
                <b>38</b> Scientific Research Corporation <br>
                <b>39</b> SMARTRONIX, LLC <br>
                <b>40</b> SONALYSTS, INC. <br>
                <b>41</b> SOUTHWEST RESEARCH INSTITUTE <br>
                <b>42</b> SUMARIA SYSTEMS, INC. <br>
                <b>43</b> Torch Technologies, Inc. <br>
                <b>44</b> WINTEC ARROWMAKER, INC. <br>
                <b>45</b> WYLE LABORATORIES, INC. </p>
                <p style="font-style: italic;">Click anywhere to close this window.</p>
            </div>
        </div>
    </div>
</div>
        
<script type="text/javascript">

    function openPool(poolInfo)
    {
        document.getElementById(poolInfo).setAttribute("aria-hidden", "false");        
    }

    function closePool()
    {
        var elements = document.getElementsByClassName("dialog-overlay");
        for (var i = 0; i < elements.length; i++){
            elements[i].setAttribute("aria-hidden", "true");
        }
    }

</script>

<script type="text/javascript">

    function toggleBlock(openedIcon, closedIcon, sectBlock)
    {
        var thisBlock = document.getElementById(sectBlock);
        var thisOpened = document.getElementById(openedIcon);
        var thisClosed = document.getElementById(closedIcon);

        if(thisBlock.style.display === "block"){
            thisBlock.style.display = "none";
            thisOpened.style.display = "none";
            thisClosed.style.display = "block";
        }else{
            thisOpened.style.display = "block";
            thisClosed.style.display = "none";
            thisBlock.style.display = "block";
        }
    }

</script>
