<div class="flex-wrapper-big">
    <div class="infoblock">
        <h1>Commercial Solutions Opening (CSO)</h1>
    </div>
</div>
<div class="flex-wrapper-big">
    <div class="one-fourth">
        <div class="bio-spacer"></div>
    </div>
    <button class="one-fourth section-btn" onclick="document.location='#programs';" aria-label="CSO Program">
        <b>CSO Program</b>
    </button>
    <button class="one-fourth section-btn" onclick="document.location='#opportunities';" aria-label="CSO Opportunities">
        <b>CSO Opportunities</b>
    </button>
    <div class="one-fourth">
        <div class="bio-spacer"></div>
    </div>
</div>
<div class="flex-wrapper-big">
    <div class="no-mobile">
        <div class="cso_table">
            <div style="display: flex;">
                <div class="cso_cell_head"><br>Government Clients</div>
                <div class="cso_cell"><br>Contact Us with Requiremnts</div>
                <div class="cso_cell"><br>Work Together to Determine Good Fit</div>
                <div class="cso_cell">FEDSIM IPT Guides you through acquisition life cycle</div>
                <div class="cso_cell"><br>CSO Solicitation & Award</div>
            </div>
            <div style="display: flex;">
                <div class="cso_cell_grey_head"><br>Industry Partners</div>
                <div class="cso_cell_grey"><br>Review Available CSO opportunities</div>
                <div class="cso_cell_grey"><br>Submit Solution Brief</div>
                <div class="cso_cell_grey"><br>GSA will Reach Out if Interested</div>
                <div class="cso_cell_grey"><br>Potential CSO contract award</div>
            </div>
        </div>
    </div>
    <div class="flex-wrapper-big mobile-only">
        <div class="cso_table">
            <div style="display: flex;">
                <div class="cso_cell_head">Government Clients</div>
                <div class="cso_cell_grey_head"><br>Industry Partners</div>
            </div>
            <div style="display: flex;">
                <div class="cso_cell">Contact Us with Requiremnts</div>
                <div class="cso_cell_grey">Review Available CSO opportunities</div>
            </div>
            <div style="display: flex;">
                <div class="cso_cell">Work Together to Determine Good Fit</div>
                <div class="cso_cell_grey">Submit Solution Brief</div>
            </div>
            <div style="display: flex;">
                <div class="cso_cell">FEDSIM IPT Guides you through acquisition life cycle</div>
                <div class="cso_cell_grey"><br>GSA will Reach Out if Interested</div>
            </div>
            <div style="display: flex;">
                <div class="cso_cell">CSO Solicitation & Award</div>
                <div class="cso_cell_grey">Potential CSO contract award</div>
            </div>
        </div>
    </div>
</div>
<div id="programs" class="flex-wrapper-big">
    <div class="infoblock">
        <h2>CSO Program</h2>
        <p>The General Services Administration (GSA) established a program to competitively procure innovative commercial products and services using the Commercial Solutions 
            Opening (CSO) procedure with a ceiling of $25 million per award.</p>
    </div>
</div>
<div class="flex-wrapper-big">
    <div class="infoblock">
        <h2>Interested in learning more?</h2>
    </div>
</div>
<div class="flex-wrapper-big learnmore-full">    
    <div class="flex-wrapper">
        <div class="learnblock learn-gov"></div>
        <div class="learnblock stack-top greyborder">
            <h2>Government Clients</h2>
            <p class="learnblock-hover-text">Our AAS team assists clients with many types of acquisitions and will work with you 
                to determine the best acquisition strategy to fulfill your requirements. Reach out to 
                us at <a href="mailto:AASInnovation@gsa.gov">AASInnovation@gsa.gov</a> to see how we can help.</p>
        </div>
    </div>
<div class="bio-spacer"></div>
    <div class="flex-wrapper">
        <div class="learnblock learn-ind"></div>
        <div class="learnblock stack-top greyborder">
            <h2>Industry Partners</h2>
            <p class="learnblock-hover-text">You can respond to compete on an opportunity by submitting a brief about your solution. 
                If there is a good match between your solution and our client's requirements, 
                you will be asked to provide a full proposal.</p>
        </div>
    </div>
</div>
<div class="flex-wrapper-big learnmore-mobile">
    <div class="flex-wrapper">
        <div class="learnblock">
            <div class="block-header whitetext"><h2>Government Clients</h2></div>
            <p>Our AAS team assists clients with many types of acquisitions and will work with you 
                to determine the best acquisition strategy to fulfill your requirements. Reach out to 
                us at <a href="mailto:AASInnovation@gsa.gov">AASInnovation@gsa.gov</a> to see how we can help.</p>
        </div>
    </div>
    <div class="flex-wrapper">
        <div class="learnblock">
            <div class="block-header whitetext"><h2>Industry Partners</h2></div>
            <p>You can respond to compete on an opportunity by submitting a brief about your solution. 
                If there is a good match between your solution and our client's requirements, 
                you may be invited to submit a full proposal.</p>
        </div>
    </div>
</div>
<hr class="highlight-line">
<div id="opportunities" class="flex-wrapper-big">
    <div class="infoblock">
        <h3>Submit a Commercial Solutions Opening (CSO) Solution Brief</h3>
        <p>AAS is accepting solutions briefs in response to the CSO solicitation(s) openings below. 
            Submissions received after indicated time periods will not be considered. 
            Please review the example <a href="../assets/pdf_docs/PIRC_Launch_CA_CSO_Solicitation_Terms-and-Conditions_Sections_6-7.pdf" target="_blank">terms and conditions</a>, which are indicative of contract terms that will be applicable and incorporated in any resulting award from the CSO.</p>
    </div>
</div>
<div class="flex-wrapper-big">
    <div class="flex-wrapper">
        <div class="learnblock_cso withborder">
            <div class="block-header"><h2>CSO Area(s) of Interest</h2></div>
            <p>No positions currently available.</p>
        </div>
    </div>
    <div class="bio-spacer"></div>
    <div class="flex-wrapper">
        <div class="learnblock_cso withborder">
            <div class="block-header"><h2>What We Are Looking for in the Solution Brief</h2></div>
            <div>
                <p>Please see the specific instructions in the solicitation. However, the solution briefs may include:<br>
                    <br>
                1. Title Page<br>
                2. Solution Concept<br>
                3. Company Viability</p>
            </div>
        </div>
    </div>
</div>
