<div class="flex-wrapper-big">
    <div class="infoblock">
        <h1>SBIR Outreach Event:<br> How GSA is Helping to "Bridge the Valley of Death"</h1>
        <p><b>Thursday, May 4th, 2023 10:00 AM – 11:00 AM ET</b></p>
        
<!-- REGISTER LINK     
        <div class="register-link">
            <p><i><a href="https://gsa.zoomgov.com/webinar/register/WN_Nel4OYuhR9qjJiQmOikz0Q" onClick="return confirm('This link will take you to the Zoom for Government website, which is managed by Zoom')" class="external" target="_new">REGISTER HERE</a></i></p>
        </div>
-->        

        <p>Join the GSA FAS AAS Small Business Innovation Research (SBIR)/Small Business Technology Transfer (STTR) team as we provide an overview of GSA’s assisted acquisition services and how we can assist with meeting commercialization goals.</p>
        
        <p>In this session, we’ll discuss:
            <ul>
                <li>GSA’s SBIR/STTR Intake Process</li>
                <li>SBIR/STTR refresher with an emphasis on Phase III</li>
                <li>GSA SBIR/STTR Update (<i>all Phases</i>)</li>
                <li>GSA SBIR/STTR Initiatives (<i>to include a potential Governmentwide IDIQ vehicle - RIO</i>)</li>
            </ul>
        </p>

        <p>This event is best suited for anyone interested in learning more about GSA’s SBIR/STTR assisted acquisition services (<i>e.g., potential clients, existing clients, SBIR contractors, Federal employees who want to learn more about GSA’s SBIR/STTR Phase III initiatives.</i>)</p>

        <div style="display:flex;">

        <div> 

        <h3>Speakers</h3>

            <div class="flex-wrapper">

                <div style="display: flex; width: 360px;">
                    <div style="display: block; text-align: center; margin:8px;">
                        {% asset RC_pic.png class="member-pic" alt="Rodney Couick" %} 
                    </div>
                    <div style="padding-top: 10px;">
                        <h4>Rodney Couick</h4>
                        <p><span style="font-weight: 400;">GSA AAS SBIR/STTR <br>Program Advisor
                        </span>
                        </p>
                    </div>
                    <div class="bio-spacer"></div>
                </div>

    <div class="bio-spacer"></div>

                <div style="display: flex; width: 360px;">
                    <div style="display: block; text-align: center; margin:8px;">
                        {% asset JimG_pic.png class="member-pic" alt="Jim Ghiloni" %} 
                    </div>
                    <div style="padding-top: 10px;">
                        <h4>Jim Ghiloni</h4>
                        <p><span style="font-weight: 400;">GSA FEDSIM IDIQ <br>Labs Director (RIO Contract)
                        </span>
                        </p>
                    </div>
                    <div class="bio-spacer"></div>
                </div>

            </div>

        </div>

    </div>
    <div>
        <p>This event will be held and recorded over <a href="https://zoom.us/government" onClick="return confirm('This link will take you to the Zoom for Government website, which is managed by Zoom')" class="external" target="_new">Zoom for Government</a>. Before the event, visit the <a href="https://zoomgov.com/download" onClick="return confirm('This link will take you to the Zoom for Government website, which is managed by Zoom')" class="external" target="_new">Zoom Download Center</a> to install the Zoom web browser client.
            For more info, see the <a href="https://support.zoom.us/hc/en-us/articles/201362023-System-Requirements-for-PC-Mac-and-Linux" onClick="return confirm('This link will take you to the Zoom for Government website, which is managed by Zoom')" class="external" target="_new">computer and device requirements</a> and <a href="https://support.zoom.us/hc/en-us/sections/200277708-Frequently-Asked-Questions" onClick="return confirm('This link will take you to the Zoom for Government website, which is managed by Zoom')" class="external" target="_new">Frequently Asked Questions</a>. 
            <br><br>
            If you have specific questions or security concerns about Zoom for Government, please visit <a href="https://www.ZoomGov.com" onClick="return confirm('This link will take you to the Zoom for Government website, which is managed by Zoom.')" class="external" target="_new">ZoomGov.com</a>.
            </p>
    </div>

    <br>
<!-- REGISTER LINK

        <div class="register-link">
            <p><i><a href="https://gsa.zoomgov.com/webinar/register/WN_Nel4OYuhR9qjJiQmOikz0Q" onClick="return confirm('This link will take you to the Zoom for Government website, which is managed by Zoom')" class="external" target="_new">REGISTER HERE</a></i></p>
        </div>
-->
        <br>

    </div>
</div>