<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h2>AAS is a full spectrum, cradle-to-grave acquisition, project and financial management service provider.</h2>
      
    </div>
  </div>
</section>

<div class="flex-wrapper-big centered sidepadded">
  <h4>AAS will guide you through the procurement and acquisition process and help you to make the best decisions for your agency needs. Use the <a href="contact">Contact Us link</a> to request a briefing or share a requirement. </h4>
  <br>
</div>