<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero_aas">
      <h1>Assisted Acquisition Services (AAS) is a full spectrum, cradle-to-grave acquisition, project, and financial management service provider.</h1>
      
    </div>
  </div>
</section>

<div class="flex-wrapper-big sidepadded">
  <h2 class="herotext">AAS will guide you through the procurement and acquisition process and help you to make the best decisions for your agency needs. Use the <a href="contact">Contact Us link</a> to request a briefing or share a requirement. </h2>
  <br>
</div>