<div class="flex-wrapper-big">
    <div class="infoblock centered">
        <h1>Our Impact</h1>
    </div>
</div>   

<div class="flex-wrapper-big centered">
    <div class="infoblock">
        <p> AAS’ comprehensive assisted acquisition services enable our clients to successfully implement their agency mission. Our wide set of service offerings uniquely positions us as leaders in acquisition services.
            <br><br>
            Our projects have a range of dollar values and we have assisted a wide array of government agencies with the products and services they need to advance a range of missions.
        <br><br>
    </p>
    </div>
</div>

<div class="flex-wrapper-big">
    <div id="card1" class="roundedCardHolder">
        <div class="roundedCard-orange">
            <h4>SPECIAL OPERATIONS CAMPAIGN AFRICA: COMBATTING DISINFORMATION</h4>
        </div>
        <div class="roundedCard-blue">
            <p>SOCAFRICA contacted AAS for a partner to
                assist with its mission to engage with
                populations across Africa, understand the
                circulation of information and disinformation,
                and communicate effectively. AAS worked with
                SOCAFRICA to understand the unique needs
                of an international environment, and awarded a
                five-year, Phase II Small Business Innovative
                Research (SBIR) contract. This award allows
                SOCAFRICA to communicate through a
                number of formal and informal channels, and to
                
                understand what information other countries are
                disseminating on the African continent. In the
                COVID-19 era, this work also allows the United
                States to stay engaged through remote surveys
                and new digital communications tools.</p>
        </div>
    </div>

    <div class="bio-spacer v-buffer">
        <br>
    </div>
</div>

<div class="flex-wrapper-big">
    <div id="card2" class="roundedCardHolder">
        <div class="roundedCard-orange">
            <h4>DEFENSE MANPOWER DATA CENTER: SUPPORTING VETERANS AND FAMILIES</h4>
        </div>
        <div class="roundedCard-blue">
            <p>In early 2019, the Defense Manpower Data
                Center (DMDC) urgently required new
                technology to improve identity management
                solutions and provide military service members,
                veterans, and their families all over the world
                secure access to their benefits and
                entitlements. AAS developed a new IT contract
                vehicle to meet DMDC&#39;s needs and awarded 13
                contracts between June 2019 and the end of
                FY19. In response to budget pressures, AAS
                also negotiated millions of dollars of savings
                from the original proposal, allowing the DMDC
                to fulfill their mission both efficiently and cost-
                effectively.</p>
        </div>
    </div>

    <div class="bio-spacer v-buffer">
        <br>
    </div>
</div>

<div class="flex-wrapper-big">
    <div id="card3" class="roundedCardHolder">
        <div class="roundedCard-orange">
            <h4>AAS AND THE CDC TACKLE COVID-19</h4>
        </div>
        <div class="roundedCard-blue">
            <p>In late January 2020, at the onset of COVID-19
                in the United States, the CDC anticipated a
                surge in the number of calls and emails they
                would receive and required a massive increase
                in contractor support. The AAS team quickly
                created a new task order allowing the CDC to
                implement surge support in response to the
                growing need. By April 2020, they had grown
                the number of service agents tenfold, increased
                a $1.3 million contract to $5.4 million, and stood
                up a third contact center. The quick work of
                AAS acquisitions allowed the CDC to serve the
                
                public and release vital information without an
                interruption in service.</p>
        </div>
    </div>

    <div class="bio-spacer v-buffer">
        <br>
    </div>
</div>
