<div class="flex-wrapper-big infoblock">
    <h1 tabindex="1">Industry</h1>
</div>
<div class="flex-wrapper-big">
    <div class="one-half section-btn" onclick="document.location='#opp';" tabindex="2">
        <b>Opportunities</b>
    </div>
    <div class="one-half section-btn" onclick="document.location='#meetings';" tabindex="3">
        <b>Pipeline Review</b>
    </div>
</div>       
<div class="flex-wrapper-big">
    <div id="opp" class="infoblock-fixed" tabindex="5"> 
        <h2>Opportunities</h2>
        <p><strong>Dashboard Instructions:</strong> Active procurements listed are in the stage of collecting requirements and solicitation development with the client. The dashboard has been created to filter data by <strong>business unit (e.g., AAS Army), Estimated Contract Value, Selected Vehicle, Title or Keyword</strong>. Use the dropdown carrot, select the filter view desired.</p>
        <p style="margin-top: 14px;"><span style="font-size: small;"><strong>DISCLAIMER:</strong> Please note that the information provided in this forecast is for planning purposes only and does not guarantee a solicitation or purchase by the Government. It is not a pre-solicitation synopsis or an invitation for bid or request for proposal. All official notifications will be sent through the AAS Contracting Officer. For a full list of of AAS forecast opportunities please visit the <a href="https://www.acquisitiongateway.gov/forecast" target="_new">Acquisition Gateway</a>.</span>
        </p>
        <iframe name="Opportunities Dashboard" aria-hidden="true" aria-label="Opportunities Dashboard" class="d2d_frame" src="https://d2d.gsa.gov/tableau-report-for-embed/10725"></iframe> <!-- old link: 9211... 10725 -->
        <div class="flex-wrapper" tabindex="6">
            <p><i>The AAS Opportunities dashboard is updated regularly but to ensure the most recent update please email <a href="mailto:aascommunications@gsa.gov?subject=AAS Opportunities">aascommunications@gsa.gov</a> or download the hyperlinked AAS Opportunities spreadsheet.</i></p>
        </div>
    </div>
    <div id="opp_m" class="infoblock-fixed" tabindex="5">
        <h2>Opportunities</h2>
        <p>The General Services Administration’s (GSA) Office of Assisted Acquisition Services (AAS) has realigned from 12 individual business units to 5 client-centric business units; each led by a Client Executive to best suit the needs of their agency partners.</p>
        <p><i>On mobile view, rotate device to landscape for full data display.</p>
        <iframe name="Opportunities Mobile Dashboard" aria-hidden="true" aria-label="Opportunities Mobile Dashboard" class="d2d_frame_m" src="https://d2d.gsa.gov/tableau-report-for-embed/10763"></iframe>
        <p><strong>Dashboard Instructions:</strong> The dashboard has been created to filter data by Business Unit. Select the desired business unit name to filter data.<br>
            <span style="font-size: small"><strong>DISCLAIMER:</strong> Please note that the information provided in this forecast is for planning purposes only and does not guarantee a solicitation or purchase by the Government. It is not a pre-solicitation synopsis or an invitation for bid or request for proposal. All official notifications will be sent through the AAS Contracting Officer. For a complete listing of AAS Forecast Opportunities please visit  <a href="fbf.gov" target="_new">fbf.gov</a>.
            </p></span>   
    </div>
</div>
<div class="v-buffer"><br></div>
<div class="flex-wrapper-big darkblock">
    <div id="meetings" class="infoblock darkblock">
        <div id="pipeline_review_box">
            <div style="margin-left: 10px; margin-top: 10px;" tabindex="7">
                <h1 class="whitetext" style="margin: 0;">AAS Pipeline Review</h1>
                <p class="whitetext" style="font-size: small; margin-top: 8px;">Please select the appropriate business unit logo to find specific Pipeline Review information.</p>
            </div>
            <div class="bio-spacer no-mobile"></div>
            <div id="apex_icons_box" tabindex="8">
                <button class="icon-btn" onclick="javascript:revealBox('box_01');" style="border-color: white !important; border-radius: 12px; border-width: 2px;" aria-label="APEX Army"><img src="../assets/img/BrandAssets_202311_APEX1_Army_White.png" alt="APEX Army"></button>
                <button class="icon-btn" onclick="javascript:revealBox('box_02');" aria-label="APEX Air Force/Navy/Space Force"><img src="../assets/img/BrandAssets_20240131_APEX2_AirForceNavySpaceForce_White.png" alt="APEX Air Force/Navy/Space Force"></button>
                <button class="icon-btn" onclick="javascript:revealBox('box_03');" aria-label="APEX Civilian"><img src="../assets/img/BrandAssets_202311_APEX3_Civilian_White.png" alt="APEX Civilian"></button>
                <button class="icon-btn" onclick="javascript:revealBox('box_04');" aria-label="APEX Innovation"><img src="../assets/img/BrandAssets_202311_APEX4_Innovation_White.png" alt="APEX Innovation"></button>
                <button class="icon-btn" onclick="javascript:revealBox('box_05');" aria-label="APEX Defense"><img src="../assets/img/BrandAssets_202311_APEX5_Defense_White.png" alt="APEX Defense"></button>
            </div>
        </div>
        <div id="box_01" class="dash_box" tabindex="9">
            <p>AAS Army Pipeline Reviews will occur on the Second Tuesday of every month effective 07/09/2024 from 2:00 PM to 3:00 PM, Eastern Time.<br>
           Event attendees will be responsible for managing calendar invites for this standing event. For the latest updates, please register for the AAS Second Tuesday <a href="https://buy.gsa.gov/interact/community/221/activity-feed" target="_new">GSA Interact Forum</a> by selecting the "Request to Join" button.
           </p>
           </div>
           <div id="box_02" class="dash_box" tabindex="10">
           <p>AAS Navy, Air Force, Space Force Pipeline Reviews will occur on the Third Thursday of every month effective 06/20/2024 from 11:30 AM to 12:30 PM, Eastern Time. <br>
           Event attendees will be responsible for managing calendar invites for this standing event. For the latest updates, please register for the AAS Third Thursday <a href="https://buy.gsa.gov/interact/community/220/activity-feed" target="_new">GSA Interact Forum</a> by selecting the "Request to Join" button.</p>
           </div>
           <div id="box_03" class="dash_box" tabindex="11">
           <p>AAS Civilian Pipeline Reviews will occur on the Fourth Wednesday of every quarter effective 07/24/2024 from 2:00 PM to 3:00 PM, Eastern Time. <br>   
           Event attendees will be responsible for managing calendar invites for this standing event. For the latest updates, please register for the AAS Fourth Wednesday <a href="https://buy.gsa.gov/interact/community/222/activity-feed" target="_new">GSA Interact Forum</a> by selecting the "Request to Join" button.
           </p>
           </div>
           <div id="box_04" class="dash_box" tabindex="12">
           <p>The AAS Innovation business unit is focused on engaging with industry through the Small business Innovation Research (SBIR), Small Business Technology Transfer (STTR), and Commercial Solutions Opening (CSO) programs. Updates on competitive CSO opportunities will be provided in this section once available.</p>
           </div>
           <div id="box_05" class="dash_box" tabindex="13">
           <p>AAS Defense pipeline review occurs the first Friday of every month effective 2/3/2023 from 1:30 PM to 3:30 PM, (UTC-05:00) Eastern Time (US & Canada).<br>
           Event attendees will be responsible for managing calendar invites for this standing event. For the latest updates, please register for the FEDSIM First Friday <a href="https://buy.gsa.gov/interact/community/204/activity-feed" target="_new">GSA Interact Forum</a> by selecting the "Join" button.
           </br></br>
           As we approach internal transition milestones, AAS Defense sectors will start to brief in their client's respective pipeline review, with data moving after formally transitioning.
           </p>
           </div>
    </div>
</div>
<div class="v-buffer"><br></div>
<script type="text/javascript">
    function runValidation() {
        document.getElementById("form-wrapper").classList.add('hide');
        document.getElementById("form-message").classList.toggle('hide');
        return true;
    }
    function revealBox(boxnum){
      //hide all
      document.getElementById("box_01").classList.add('hide');
      document.getElementById("box_02").classList.add('hide');
      document.getElementById("box_03").classList.add('hide');
      document.getElementById("box_04").classList.add('hide');
      document.getElementById("box_05").classList.add('hide');
      document.getElementById("box_01").classList.remove('show');
      document.getElementById("box_02").classList.remove('show');
      document.getElementById("box_03").classList.remove('show');
      document.getElementById("box_04").classList.remove('show');
      document.getElementById("box_05").classList.remove('show');
      document.getElementById("box_01").setAttribute("aria-hidden", "true");
      document.getElementById("box_02").setAttribute("aria-hidden", "true");
      document.getElementById("box_03").setAttribute("aria-hidden", "true");
      document.getElementById("box_04").setAttribute("aria-hidden", "true");
      document.getElementById("box_05").setAttribute("aria-hidden", "true");
      //Show selected
      document.getElementById(boxnum).classList.remove('hide');
      document.getElementById(boxnum).classList.add('show'); 
      document.getElementById(boxnum).setAttribute("aria-hidden", "false");
      document.getElementById(boxnum).setAttribute("taborder", "-1");
      document.getElementById(boxnum).setAttribute("aria-live", "polite");
    }
</script>


