<div class="flex-wrapper-big">
    <div class="infoblock">
        <h1>Leadership</h1>
    </div>
</div>   
<div class="flex-wrapper-big">
    <div class="infoblock">
        <p>Click on the images below to see their professional bios.</p>
    </div>
</div>
<div class="flex-wrapper-big no-mobile">   
    <div class="flex-wrapper">
        <button class="memberblock one-third" onclick="javascript:openBio('bioPopup_TO');" taborder="1">
            <img src="../assets/img/members/TO_pic.jpg" class="member-pic" alt="Teri Osabutey" />
            <br>
            <p class="allcaps">Teri Osabutey</p>
            <p>Acting Deputy AC</p>
        </button>   
        <button class="memberblock-head" onclick="javascript:openBio('bioPopup_CB');" taborder="2">
            <img src="../assets/img/members/CB_pic.png" class="member-pic" alt="Christopher Bennethum" />
            <br><br>
            <p class="allcaps">Christopher Bennethum</p>
            <p>Assistant Commissioner (AC)</p>
        </button>
        <button class="memberblock one-third" onclick="javascript:openBio('bioPopup_EC');" taborder="3">
            <img src="../assets/img/members/EC_pic.png" class="member-pic" alt="Erin Childs" />
            <br>
            <p class="allcaps">Erin Childs</p>
            <p>Deputy AC</p>
        </button>
    </div> 
</div>
<div class="bio-spacer no-mobile"><br></div>
<div class="flex-wrapper-big no-mobile">
        <button class="memberblock" onclick="javascript:openBio('bioPopup_JN');" taborder="4">
            <img src="../assets/img/members/JN_pic.jpg" class="member-pic" alt="Joseph Nickerson" />
            <br>
            <p class="allcaps">Joseph Nickerson</p>
            <p>Client Executive</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_CK');" taborder="5">
            <img src="../assets/img/members/CK_pic.jpg" class="member-pic" alt="Casey Kelley" />
            <br>
            <p class="allcaps">Casey Kelley</p>
            <p>Client Executive</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_DE');" taborder="6">
            <img src="../assets/img/members/DEarly_pic.jpg" class="member-pic" alt="Darrick Early" />
            <br>
            <p class="allcaps">Darrick Early</p>
            <p>Client Executive</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_CN');" taborder="7">
            <img src="../assets/img/members/CN_pic.jpg" class="member-pic" alt="Corey Nickens" />
            <br>
            <p class="allcaps">Corey Nickens</p>
            <p>Acting Client Executive</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_CH');" taborder="8">
            <img src="../assets/img/members/CH_pic.png" class="member-pic" alt="Christopher Hamm" />
            <br>
            <p class="allcaps">Christopher Hamm</p>
            <p>Client Executive</p>
        </button>
    </div>
</div>  
<!-- mobile only version -->
<div class="flex-wrapper-big mobile-only">   
    <div class="flex-wrapper">
        <button class="memberblock-head" onclick="javascript:openBio('bioPopup_CB');" taborder="2">
            <img src="../assets/img/members/CB_pic.png" class="member-pic" alt="Christopher Bennethum" />
            <br><br>
            <p class="allcaps">Christopher Bennethum</p>
            <p>Assistant Commissioner (AC)</p>
        </button>
        <button class="memberblock one-third" onclick="javascript:openBio('bioPopup_TO');" taborder="1">
            <img src="../assets/img/members/TO_pic.jpg" class="member-pic" alt="Teri Osabutey" />
            <br>
            <p class="allcaps">Teri Osabutey</p>
            <p>Acting Deputy AC</p>
        </button>   
        <button class="memberblock one-third" onclick="javascript:openBio('bioPopup_EC');" taborder="3">
            <img src="../assets/img/members/EC_pic.png" class="member-pic" alt="Erin Childs" />
            <br>
            <p class="allcaps">Erin Childs</p>
            <p>Deputy AC</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_JN');" taborder="4">
            <img src="../assets/img/members/JN_pic.jpg" class="member-pic" alt="Joseph Nickerson" />
            <br>
            <p class="allcaps">Joseph Nickerson</p>
            <p>Client Executive</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_CK');" taborder="5">
            <img src="../assets/img/members/CK_pic.jpg" class="member-pic" alt="Casey Kelley" />
            <br>
            <p class="allcaps">Casey Kelley</p>
            <p>Client Executive</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_DE');" taborder="6">
            <img src="../assets/img/members/DEarly_Pic.jpg" class="member-pic" alt="Darrick Early" />
            <br>
            <p class="allcaps">Darrick Early</p>
            <p>Client Executive</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_CN');" taborder="7">
            <img src="../assets/img/members/CN_pic.jpg" class="member-pic" alt="Corey Nickens" />
            <br>
            <p class="allcaps">Corey Nickens</p>
            <p>Acting Client Executive</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_CH');" taborder="8">
            <img src="../assets/img/members/CH_pic.png" class="member-pic" alt="Christopher Hamm" />
            <br>
            <p class="allcaps">Christopher Hamm</p>
            <p>Client Executive</p>
        </button>
    </div>
</div>  
<div class="v-buffer no-mobile"></div>
<!-- CB popup -->
<div id="bioPopup_CB" class="dialog-overlay" aria-hidden="true" onclick="javascript:closeBio();">
    <div class="dialog" role="dialog">
        <div class="modalblock">
            <div class="flex-wrapper">
                <img src="../assets/img/members/CB_pic.png" class="member-pic" alt="Chris Bennethum" />
                <div class="infoblock">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Chris Bennethum</p>
                        <p>Assistant Commissioner, AAS<br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration
                            </p>
                    </span>
                </div>
            </div>
            <p>Chris Bennethum is the Assistant Commissioner for GSA’s Office of Assisted Acquisition Services (AAS) within the Federal Acquisition Service (FAS). In this position, Mr. Bennethum is responsible for overseeing AAS’ delivery of over $9 billion in custom acquisition, project and financial management services, enabling customers’ missions worldwide. AAS specializes in complex, sensitive and mission-critical projects that are offered to federal clients on a fee-for-service basis through twelve nationally-located Client Support Centers (CSCs).
            <br><br>
            Previously, Mr. Bennethum served as the Deputy Assistant Commissioner for AAS. As Deputy Assistant Commissioner, he oversaw the AAS Portfolio’s business strategy and operations, systems development, acquisition policy, communications, financial management and workforce recruitment, development and engagement.
            <br><br>
            In his more than 25 years of service with various GSA components, Mr. Bennethum has held roles in several regional, central office and overseas locations. Some of his previous roles include serving as FAS Chief of Staff, Deputy Regional Commissioner for the National Capital Region, Director for GSA’s Travel and Transportation Northeast Zone, and Director for Marketing and Business Development in GSA’s European office.
            </p>
            <p style="font-style: italic;">Click anywhere to close this window.</p>
        </div>
    </div>
</div>   
<!-- CN popup -->
<div id="bioPopup_CN" class="dialog-overlay" aria-hidden="true" onclick="javascript:closeBio();">
    <div class="dialog" role="dialog">
        <div class="modalblock">
            <div class="flex-wrapper">
                <img src="../assets/img/members/CN_pic.jpg" class="member-pic" alt="Corey Nickens" />
                <div class="infoblock">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Corey Nickens</p>
                        <p>Deputy Assistant Commissioner, AAS<br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration
                            </p>
                    </span>
                </div>
            </div>
            <p>Corey Nickens is the Deputy Assistant Commissioner for GSA’s Assisted Acquisition Services (AAS) organization in the Federal Acquisition Service. Corey previously served as FEDSIM's Acquisition Quality Director overseeing acquisition lifecycle activities. Corey is a member of various professional organizations seeking to maximize collaboration and success among the public and private sectors, including the American Council for Technology and Industry Advisory Council (ACT-IAC), the Armed Forces Communications and Electronics Association (AFCEA), and the National Contract Management Association (NCMA). He has participated in and held leadership roles in ACT-IAC’s professional development programs as well as the Executive Leadership Conference (ELC). He was a recipient of the inaugural Federal Computer Week (FCW) Rising Star award.
            <br><br>
            Corey earned a master’s degree in Library and Information Science from Drexel University and a bachelor’s degree in Information Systems from the University of Maryland Baltimore County (UMBC).
            </p>
            <p style="font-style: italic;">Click anywhere to close this window.</p>
        </div>
    </div>
</div>   
<!-- CH popup -->
<div id="bioPopup_CH" class="dialog-overlay" aria-hidden="true" onclick="javascript:closeBio();">
    <div class="dialog" role="dialog">
        <div class="modalblock">
            <div class="flex-wrapper">
                <img src="../assets/img/members/CH_pic.png" class="member-pic" alt="Chris Hamm" />
                <div class="infoblock">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Chris Hamm</p>
                        <p>FEDSIM Director<br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration
                            </p>
                    </span>
                </div>
            </div>
            <p>Chris Hamm is the Director for GSA FEDSIM where he oversees information technology and professional service contracts worth $7 billion. Mr. Hamm has over 15 years of experience in managing complex acquisitions and project delivery. He is a frequent speaker at conferences and panels on subjects including performance-based contracting, information technology service level agreements, and agile acquisition. He has been recognized as one of the "FED100" by Federal Computer Week and was Government Chair for the 2013 ACT IAC Partners Program.</p>
            <p style="font-style: italic;">Click anywhere to close this window.</p>
        </div>
    </div>
</div>   
<!-- TO popup -->
<div id="bioPopup_TO" class="dialog-overlay" aria-hidden="true" onclick="javascript:closeBio();">
    <div class="dialog" role="dialog">
        <div class="modalblock">
            <div class="flex-wrapper">
                <img src="../assets/img/members/TO_pic.jpg" class="member-pic" alt="Teri Osabutey" />
                <div class="infoblock">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Teri Osabutey</p>
                        <p>Deputy Assistant Commissioner (Acting)<br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration
                            </p>
                    </span>
                </div>
            </div>
            <p>Teri J. Osabutey is Acting Deputy Assistant Commissioner for the Assisted Acquisition Services (AAS) within the Federal Acquisition Service (FAS). AAS provides buying platforms and acquisition services to federal, state and local governments.</p>
            <p>In this role, she oversees AAS’ business strategy and operations, systems development, acquisition policy, performance, communications, and financial management.<br>
            She previously served as Director of Business Operations for AAS’ Program Management Office. In this position, Osabutey was responsible for business processes, enterprise engagement, client agency, and industry outreach.</p>
            <p>Osabutey has over 23 years of government acquisition experience and has served in various leadership roles, including Deputy Director of legacy AAS Region 4, Contracting Activity Competition Advocate, Senior Advisor to the Head of Contracting Activity, Senior Procurement Analyst and Unlimited Warranted Contracting Officer.</p>
            <p>She started her federal career as a NASA contracting intern and during her tenure, she was awarded the NASA Contracting Officer of the Year and Small Business Advocate Award for Procurement Team of the Year.  She holds a master’s in Business Administration from William Carey University in Gulfport, MS, in addition to master’s and bachelor’s of science degrees in Management Information Systems from the University of Southern Mississippi in Hattiesburg, MS.</p>
            <p>Osabutey is a Senior Fellow with the Excellence in Government program governed by the Partnership of Public Services, a member of the National Contract Management Association, and holds a FAC-C Level III certification. Osabutey is passionate about giving back and enjoys doing community service as a member of the international organization, Delta Sigma Theta Sorority, Incorporated.</p>
            <p style="font-style: italic;">Click anywhere to close this window.</p>
        </div>
    </div>
</div> 
<!-- EC popup -->
<div id="bioPopup_EC" class="dialog-overlay" aria-hidden="true" onclick="javascript:closeBio();">
    <div class="dialog" role="dialog">
        <div class="modalblock">
            <div class="flex-wrapper">
                <img src="../assets/img/members/EC_pic.png" class="member-pic" alt="Erin Childs" />
                <div class="infoblock">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Erin Childs</p>
                        <p>AAS OSO Deputy Assistant Commissioner (AC)<br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration
                            </p>
                    </span>
                </div>
            </div>
            <p>Erin Childs serves as the Deputy Assistant Commissioner for GSA’s Assisted Acquisition Services (AAS) Operations (OSO) Organization. Erin directs all management and program decisions to deliver innovative, mission-focused results for AAS clients. Erin develops internal human capital strategies and initiatives,  ensures quality acquisition processes and practices, and is responsible for enterprise engagement. She has over ten years of experience in project management, human capital, facilitation, and process improvement.</p>
            <p>In her prior role at AAS, Ms. Childs served as the PMO Director. As PMO Director she oversaw the business strategy and operations, communications, financial management, and workforce development and engagement for AAS’ largest portfolio. Erin holds a Master of Business Administration from George Washington University.
            </p>
            <p style="font-style: italic;">Click anywhere to close this window.</p>
        </div>
    </div>
</div>   
<!-- JN popup -->
<div id="bioPopup_JN" class="dialog-overlay" aria-hidden="true" onclick="javascript:closeBio();">
    <div class="dialog" role="dialog">
        <div class="modalblock">
            <div class="flex-wrapper">
                <img src="../assets/img/members/JN_pic.jpg" class="member-pic" alt="Joe Nickerson" />
                <div class="infoblock">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Joe Nickerson</p>
                        <p>Client Executive<br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration                            
                            </p>
                    </span>
                </div>
            </div>
            <p>Joe Nickerson serves as the Client Executive of APEX 1 of the Assisted Acquisition Services (AAS) portfolio within the Federal Acquisition Service (FAS). AAS provides buying platforms and acquisition services to federal, state and local governments. </p>
            <p>In his position, Nickerson has operational responsibility for providing comprehensive solutions for the Department of Defense and Civilian agencies worldwide. Nickerson has more than 32 years of federal service managing regional and national programs for the General Services Administration (GSA). Prior to his current role as Client Executive, he served as the Regional Commissioner for FAS’ New England Region from 2014 - 2023.</p>
            <p>He also served as the Director of Leasing for the Public Buildings Service, where he
            provided support to more than five million square feet of government leased space in the
            New England Region.</p>
            <p>Nickerson holds Master’s degrees in Business Administration and Finance from Suffolk
            University, and a Bachelor’s degree in Management from the University of
            Massachusetts.
            </p>
            <p style="font-style: italic;">Click anywhere to close this window.</p>
        </div>
    </div>
</div> 
<!-- CK popup -->
<div id="bioPopup_CK" class="dialog-overlay" aria-hidden="true" onclick="javascript:closeBio();">
    <div class="dialog" role="dialog">
        <div class="modalblock">
            <div class="flex-wrapper">
                <img src="../assets/img/members/CK_pic.jpg" class="member-pic" alt="Casey Kelly" />
                <div class="infoblock">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Casey Kelly</p>
                        <p>Client Executive<br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration                            
                            </p>
                    </span>
                </div>
            </div>
            <p>Casey Kelley serves as the Client Executive of APEX 2 for the Assisted Acquisition Services (AAS) portfolio within the Federal Acquisition Service (FAS). AAS provides buying platforms and acquisition services to federal, state and local governments. </p>
            <p>Before assuming his role as APEX 2 Client Executive, Kelley served as the FAS R9
            Regional Commissioner for five years. He previously spent more than 10 years in GSA’s
            Information Technology Category in multiple leadership roles. These included the
            Director of the Office of Information Technology Services; Director Customer
            Engagement Division; and Director Governmentwide Acquisition Contracts. Kelley led a
            portfolio of contracts providing government agencies with a diverse set of IT solutions
            valued over $13 billion annually 
            </p>
            <p>Prior to joining ITC in 2008, Kelley spent seven years in various leadership positions
            within GSA’s Assisted Acquisition Services. In 2018, Kelley received a Fed100 award for his leading role developing GSA’s
            next-generation information technology contracting vehicle (the Alliant 2 GWAC), a
            keystone in the federal government’s IT modernization plans. 
            </p>
            <p>Kelley successfully completed the Senior Executive Fellowship Program at Harvard University’s Kennedy School of Government. He holds a Master’s Certificate in Project Management from George Washington University. He holds an MBA from Pepperdine University, and a Bachelor’s degree in Business Administration from San Diego State University.</p>
            <p style="font-style: italic;">Click anywhere to close this window.</p>
        </div>
    </div>
</div>  
<!-- DE popup -->
<div id="bioPopup_DE" class="dialog-overlay" aria-hidden="true" onclick="javascript:closeBio();">
    <div class="dialog" role="dialog">
        <div class="modalblock">
            <div class="flex-wrapper">  
                <img src="../assets/img/members/DEarly_pic.jpg" class="member-pic" alt="Darrick Early" />
                <div class="infoblock">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Darrick Early</p>
                        <p>Client Executive<br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration                            
                            </p>
                    </span>
                </div>
            </div>
            <p>Darrick Early serves as the Client Executive of APEX 3 for the Assisted Acquisition Services (AAS) portfolio within the Federal Acquisition Service (FAS). AAS provides buying platforms and acquisition services to federal, state and local governments. He leads the strategic direction and operations for customers across 14 states, along with Puerto Rico, the Virgin Islands, American Samoa, East Asia, and Guam.<br>
            Prior to this appointment, Early served as the Regional Commissioner for the National Capital Region/Federal Acquisition Service (NCR/FAS) within the General Services Administration (GSA) from January 2022 to October 2023.</p>          
            <p>Additionally, he served four years as Deputy Regional Commissioner (NCR). He was also
            the Director for the Office of Assisted Acquisition Services within the NCR/FAS.</p>
            <p>Early began his career as an Emerging Leader Program Intern at the U.S. Department of
            Health and Human Services (HHS). While at HHS, Early worked as a contracting officer
            and branch chief for several organizations, including NIH and the Office of the Secretary
            supporting critical public health requirements.</p>
            <p>Early received numerous commendations, including two HHS Secretary’s Distinguished
            Service Awards for his work on next generation anthrax vaccines, and an FAS
            Commissioner’s award for work on the DOL’s financial management system.</p>
            <p>Early earned a B.S. in Political Science and a Master’s of Public Management from East
            Tennessee State University. He was a part of class 1801 of the Senior Executive Fellows at
            Harvard University Kennedy School of Government, and a member of class 380 of the
            FEI’s Leadership for a Democratic Society. Early is a graduate of Johns Hopkins
            University’s Business Leadership Program, and is currently pursuing his PhD in Leadership and Interdisciplinary Studies from North Carolina A&T State University. Early is a Project Management Professional (PMP) and certified at the highest levels of contract management (CPCM and FAC-C Level III).
            </p>
            <p style="font-style: italic;">Click anywhere to close this window.</p>
        </div>
    </div>
</div> 
<!-- END BIOS -->  
<script type="text/javascript">   
    function openBio(memberInfo)
    {
        document.getElementById(memberInfo).setAttribute("aria-hidden", "false");        
    }   
    function closeBio()
    {
        var elements = document.getElementsByClassName("dialog-overlay");
        for (var i = 0; i < elements.length; i++){
            elements[i].setAttribute("aria-hidden", "true");
        }
    }   
</script>
