<div class="flex-wrapper-big">
    <div class="infoblock">
        <h1>Leadership</h1>
    </div>
</div>   
<div class="flex-wrapper-big">
    <div class="infoblock">
        <p>Select the images below to see their professional bios.</p>
    </div>
</div>
<div class="flex-wrapper-big no-mobile">   
    <div class="flex-wrapper">
        <button class="memberblock one-third" onclick="javascript:openBio('bioPopup_TO');" taborder="1">
            <img src="../assets/img/members/TO_pic.jpg" class="member-pic" alt="Teri J. Osabutey" />
            <br>
            <p class="allcaps">Teri J. Osabutey</p>
            <p>Acting Deputy AC, AAS</p>
        </button>   
        <button class="memberblock-head" onclick="javascript:openBio('bioPopup_CB');" taborder="2">
            <img src="../assets/img/members/CB_pic.png" class="member-pic" alt="Christopher Bennethum" />
            <br><br>
            <p class="allcaps">Christopher Bennethum</p>
            <p>Assistant Commissioner (AC), AAS</p>
        </button>
        <button class="memberblock one-third" onclick="javascript:openBio('bioPopup_EC');" taborder="3">
            <img src="../assets/img/members/EC_pic.png" class="member-pic" alt="Erin Childs" />
            <br>
            <p class="allcaps">Erin Childs</p>
            <p>Deputy AC, AAS</p>
        </button>
    </div> 
</div>
<div class="bio-spacer no-mobile"><br></div>
<div class="flex-wrapper-big no-mobile">
        <button class="memberblock" onclick="javascript:openBio('bioPopup_JN');" taborder="4">
            <img src="../assets/img/members/JN_pic.jpg" class="member-pic" alt="Joseph Nickerson" />
            <br>
            <p class="allcaps">Joseph Nickerson</p>
            <p>Client Executive, AAS Army</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_CK');" taborder="5">
            <img src="../assets/img/members/CK_pic.jpg" class="member-pic" alt="Casey Kelley" />
            <br>
            <p class="allcaps">Casey Kelley</p>
            <p>Client Executive, AAS Air Force, Navy, Space Force</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_DE');" taborder="6">
            <img src="../assets/img/members/DEarly_pic.jpg" class="member-pic" alt="Darrick Early" />
            <br>
            <p class="allcaps">Darrick Early</p>
            <p>Client Executive, AAS Civilian</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_CN');" taborder="7">
            <img src="../assets/img/members/CN_pic.jpg" class="member-pic" alt="Corey Nickens" />
            <br>
            <p class="allcaps">Corey Nickens</p>
            <p>Acting Client Executive, AAS Innovation</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_CH');" taborder="8">
            <img src="../assets/img/members/CH_pic.png" class="member-pic" alt="Christopher Hamm" />
            <br>
            <p class="allcaps">Christopher Hamm</p>
            <p>Client Executive, AAS Defense</p>
        </button>
    </div>
</div>  
<!-- mobile only version -->
<div class="flex-wrapper-big mobile-only">   
    <div class="flex-wrapper">
        <button class="memberblock-head" onclick="javascript:openBio('bioPopup_CB');" taborder="2">
            <img src="../assets/img/members/CB_pic.png" class="member-pic" alt="Christopher Bennethum" />
            <br><br>
            <p class="allcaps">Christopher Bennethum</p>
            <p>Assistant Commissioner (AC), AAS</p>
        </button>
        <button class="memberblock one-third" onclick="javascript:openBio('bioPopup_TO');" taborder="1">
            <img src="../assets/img/members/TO_pic.jpg" class="member-pic" alt="Teri J. Osabutey" />
            <br>
            <p class="allcaps">Teri J. Osabutey</p>
            <p>Acting Deputy AC, AAS</p>
        </button>   
        <button class="memberblock one-third" onclick="javascript:openBio('bioPopup_EC');" taborder="3">
            <img src="../assets/img/members/EC_pic.png" class="member-pic" alt="Erin Childs" />
            <br>
            <p class="allcaps">Erin Childs</p>
            <p>Deputy AC, AAS</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_JN');" taborder="4">
            <img src="../assets/img/members/JN_pic.jpg" class="member-pic" alt="Joseph Nickerson" />
            <br>
            <p class="allcaps">Joseph Nickerson</p>
            <p>Client Executive, AAS Army</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_CK');" taborder="5">
            <img src="../assets/img/members/CK_pic.jpg" class="member-pic" alt="Casey Kelley" />
            <br>
            <p class="allcaps">Casey Kelley</p>
            <p>Client Executive, AAS Air Force, Navy, Space Force</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_DE');" taborder="6">
            <img src="../assets/img/members/DEarly_pic.jpg" class="member-pic" alt="Darrick Early" />
            <br>
            <p class="allcaps">Darrick Early</p>
            <p>Client Executive, AAS Civilian</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_CN');" taborder="7">
            <img src="../assets/img/members/CN_pic.jpg" class="member-pic" alt="Corey Nickens" />
            <br>
            <p class="allcaps">Corey Nickens</p>
            <p>Acting Client Executive, AAS Innovation</p>
        </button>
        <button class="memberblock" onclick="javascript:openBio('bioPopup_CH');" taborder="8">
            <img src="../assets/img/members/CH_pic.png" class="member-pic" alt="Christopher Hamm" />
            <br>
            <p class="allcaps">Christopher Hamm</p>
            <p>Client Executive, AAS Defense</p>
        </button>
    </div>
</div>  
<div class="v-buffer no-mobile"></div>
<!-- CB popup -->
<div id="bioPopup_CB" class="dialog-overlay" aria-hidden="true" onclick="javascript:closeBio();">
    <div class="dialog" role="dialog">
        <div class="modalblock">
            <div class="flex-wrapper">
                <img src="../assets/img/members/CB_pic.png" class="member-pic" alt="Chris Bennethum" />
                <div class="infoblock">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Chris Bennethum</p>
                        <p>Assistant Commissioner, AAS<br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration
                            </p>
                    </span>
                </div>
            </div>
            <p>Chris Bennethum is the Assistant Commissioner for GSA’s Office of Assisted Acquisition Services (AAS) within the Federal Acquisition Service (FAS). In this position, Bennethum is responsible for overseeing AAS’ delivery of over $15 billion in custom acquisition, project and financial management Services.</p>
            <p>AAS specializes in complex, sensitive, and mission-critical projects that are offered to federal clients on a fee-for-service basis through five nationally located Acquisition and Procurement centers of Excellence (APEXes).</p>
            <p>Previously, Bennethum served as the Deputy Assistant Commissioner for AAS. In this position, he oversaw the AAS portfolio’s business strategy and operations, systems development, acquisition policy, communications, financial management, and workforce recruitment, development, and engagement.</p>
            <p>In his more than 25 years of service with various GSA components, Bennethum has held roles in several regional and central offices, and overseas locations. Some of his previous roles include serving as FAS Chief of Staff, Deputy Regional Commissioner for the National Capital Region, Director for GSA’s Travel and Transportation Northeast Zone, and Director for Marketing and Business Development in GSA’s European office.</p>
            <p style="font-style: italic;">Select anywhere to close this window.</p>
        </div>
    </div>
</div>   
<!-- CN popup -->
<div id="bioPopup_CN" class="dialog-overlay" aria-hidden="true" onclick="javascript:closeBio();">
    <div class="dialog" role="dialog">
        <div class="modalblock">
            <div class="flex-wrapper">
                <img src="../assets/img/members/CN_pic.jpg" class="member-pic" alt="Corey Nickens" />
                <div class="infoblock">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Corey Nickens</p>
                        <p>Client Executive (Acting)<br>
                            AAS Innovation<br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration
                            </p>
                    </span>
                </div>
            </div>
            <p>Corey Nickens serves as the acting Client Executive for AAS Innovation of the Assisted Acquisition Services (AAS) portfolio within GSA’s Federal Acquisition Service (FAS). AAS provides buying platforms and acquisition services to federal, state and local governments.</p>
            <p>Nickens was formerly the Deputy Assistant Commissioner for AAS, and before that served as FEDSIM's Acquisition Quality Director overseeing acquisition lifecycle activities.</p> 
            <p>Nickens is a member of various professional organizations that work to increase collaboration between public and private sector organizations. These include the American Council for Technology and Industry Advisory Council (ACT-IAC), the Armed Forces Communications and Electronics Association (AFCEA), and the National Contract Management Association (NCMA).</p> 
            <p>He held leadership roles in ACT-IAC’s professional development programs, as well as the Executive Leadership Conference (ELC). He received the inaugural Federal Computer Week (FCW) Rising Star award.</p>
            <p>Nickens holds a master’s degree in Library and Information Science from Drexel University, and a bachelor’s degree in Information Systems from the University of Maryland Baltimore County (UMBC).</p>
            <p style="font-style: italic;">Select anywhere to close this window.</p>
        </div>
    </div>
</div>   
<!-- CH popup -->
<div id="bioPopup_CH" class="dialog-overlay" aria-hidden="true" onclick="javascript:closeBio();">
    <div class="dialog" role="dialog">
        <div class="modalblock">
            <div class="flex-wrapper">
                <img src="../assets/img/members/CH_pic.png" class="member-pic" alt="Chris Hamm" />
                <div class="infoblock">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Chris Hamm</p>
                        <p>Client Executive<br>
                            AAS Defense<br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration
                            </p>
                    </span>
                </div>
            </div>
            <p>Chris Hamm serves as the Client Executive for AAS Defense of the Assisted Acquisition Services (AAS) portfolio within GSA’s Federal Acquisition Service (FAS). AAS provides buying platforms and acquisition services to federal, state and local governments.</p>
            <p>In this role, Hamm leads the client support center that provides assisted acquisition services for federal agencies, to include the legacy Federal Systems Integration and Management Center (FEDSIM). Services include acquisition, financial, and project management for the full acquisition life cycle.</p>
            <p>Hamm leverages 23 years of experience in managing complex acquisitions and project delivery to provide innovative solutions. His organization manages over 1% of federal discretionary spending.</p>
            <p>Hamm serves as GSA’s Acquisition Innovation Advocate and leads GSA’s implementation of Commercial Solutions Opening. He was recognized as one of the “FED100” by Federal Computer Week. He served on the board of the American Council for Technology (ACT-IAC) and Armed Forces Communications & Electronics Association (AFCEA).</p>
            <p>Hamm hails from Harrisburg, PA. He attended Elon University in North Carolina and has a master’s degree from the University of North Carolina at Charlotte. He was selected to the Presidential Management Internship Program and was a senior executive fellow at the Harvard Kennedy School of Government.</p>
            <p style="font-style: italic;">Select anywhere to close this window.</p>
        </div>
    </div>
</div>   
<!-- TO popup -->
<div id="bioPopup_TO" class="dialog-overlay" aria-hidden="true" onclick="javascript:closeBio();">
    <div class="dialog" role="dialog">
        <div class="modalblock">
            <div class="flex-wrapper">
                <img src="../assets/img/members/TO_pic.jpg" class="member-pic" alt="Teri J. Osabutey" />
                <div class="infoblock">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Teri J. Osabutey</p>
                        <p>Deputy Assistant Commissioner (Acting)<br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration
                            </p>
                    </span>
                </div>
            </div>
            <p>Teri J. Osabutey is Acting Deputy Assistant Commissioner for the Assisted Acquisition Services (AAS) within GSA’s Federal Acquisition Service (FAS). AAS provides buying platforms and acquisition services to federal, state and local governments.</p>
            <p>In this role, she oversees AAS’ business strategy and operations, systems development, acquisition policy, performance, communications, and financial management. She previously served as Director of Business Operations for AAS’ Program Management Office. In this position, Osabutey was responsible for business processes, enterprise engagement, client agency, and industry outreach.</p>
            <p>Osabutey has over 23 years of government acquisition experience and has served in various leadership roles, including Deputy Director of legacy AAS Region 4, Contracting Activity Competition Advocate, Senior Advisor to the Head of Contracting Activity, Senior Procurement Analyst and Unlimited Warranted Contracting Officer.</p>
            <p>She started her federal career as a NASA contracting intern and during her tenure, she was awarded the NASA Contracting Officer of the Year and Small Business Advocate Award for Procurement Team of the Year.  She holds a master’s in Business Administration from William Carey University in Gulfport, MS, in addition to master’s and bachelor’s of science degrees in Management Information Systems from the University of Southern Mississippi in Hattiesburg, MS.</p>
            <p>Osabutey is a Senior Fellow with the Excellence in Government program governed by the Partnership of Public Services, a member of the National Contract Management Association, and holds a FAC-C Level III certification. Osabutey is passionate about giving back and enjoys doing community service as a member of the international organization, Delta Sigma Theta Sorority, Incorporated. </p>
            <p style="font-style: italic;">Select anywhere to close this window.</p>
        </div>
    </div>
</div> 
<!-- EC popup -->
<div id="bioPopup_EC" class="dialog-overlay" aria-hidden="true" onclick="javascript:closeBio();">
    <div class="dialog" role="dialog">
        <div class="modalblock">
            <div class="flex-wrapper">
                <img src="../assets/img/members/EC_pic.png" class="member-pic" alt="Erin Childs" />
                <div class="infoblock">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Erin Childs</p>
                        <p>AAS OSO Deputy Assistant Commissioner (AC)<br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration
                            </p>
                    </span>
                </div>
            </div>
            <p>Erin Childs serves as the Deputy Assistant Commissioner for the Assisted Acquisition Services (AAS) Operational Support Office (OSO) within GSA’s Federal Acquisition Service (FAS). AAS provides buying platforms and acquisition services to federal, state and local governments.</p>
            <p>In this role, Childs directs all management and program decisions to deliver innovative, mission-focused results for AAS clients. She develops internal human capital strategies and initiatives, ensures quality acquisition processes and practices, and is responsible for enterprise engagement. </p>
            <p>She previously served as Director of the Program Management Office for the Federal Systems Integration and Management Center (FEDSIM). Childs oversaw the business strategy and operations, communications, financial management, and workforce development and engagement for AAS’ largest portfolio. </p>
            <p>Childs has over 10 years of experience in project management, human capital, facilitation, and process improvement, and holds a master’s in Business Administration from George Washington University.</p>
            <p style="font-style: italic;">Select anywhere to close this window.</p>
        </div>
    </div>
</div>   
<!-- JN popup -->
<div id="bioPopup_JN" class="dialog-overlay" aria-hidden="true" onclick="javascript:closeBio();">
    <div class="dialog" role="dialog">
        <div class="modalblock">
            <div class="flex-wrapper">
                <img src="../assets/img/members/JN_pic.jpg" class="member-pic" alt="Joe Nickerson" />
                <div class="infoblock">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Joe Nickerson</p>
                        <p>Client Executive<br>
                            AAS Army<br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration                            
                            </p>
                    </span>
                </div>
            </div>
            <p>Joe Nickerson serves as the Client Executive of AAS Army of the Assisted Acquisition Services (AAS) portfolio within GSA’s Federal Acquisition Service (FAS). AAS provides buying platforms and acquisition services to federal, state and local governments.<br>
                In this position, Nickerson has operational responsibility for providing comprehensive solutions for the Department of Defense and Civilian agencies worldwide. </p>
                <p>Nickerson has more than 32 years of federal service managing regional and national programs for the General Services Administration. Prior to his current role as Client Executive, he served as the Regional Commissioner for FAS’ New England Region from 2014 - 2023. </p>
                <p>He also served as the Director of Leasing for the Public Buildings Service, where he provided support to more than five million square feet of government leased space in the New England Region.</p>
                <p>Nickerson holds master’s degrees in Business Administration and Finance from Suffolk University, and a bachelor’s degree in Management from the University of Massachusetts.
            </p>
            <p style="font-style: italic;">Select anywhere to close this window.</p>
        </div>
    </div>
</div> 
<!-- CK popup -->
<div id="bioPopup_CK" class="dialog-overlay" aria-hidden="true" onclick="javascript:closeBio();">
    <div class="dialog" role="dialog">
        <div class="modalblock">
            <div class="flex-wrapper">
                <img src="../assets/img/members/CK_pic.jpg" class="member-pic" alt="Casey Kelly" />
                <div class="infoblock">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Casey Kelly</p>
                        <p>Client Executive<br>
                            AAS Air Force, Navy, Space Force<br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration                            
                            </p>
                    </span>
                </div>
            </div>
            <p>Casey Kelley serves as the Client Executive of AAS Air Force, Navy, Space Force for the Assisted Acquisition Services (AAS) portfolio within GSA’s Federal Acquisition Service (FAS). AAS provides buying platforms and acquisition services to federal, state and local governments. In this role, he oversees the delivery of real estate, technology and procurement solutions.</p> 
            <p>Prior to his role as Client Executive of AAS Air Force, Navy, Space Force, Kelley served as the FAS R9 Regional Commissioner for five years. Before that he spent more than 10 years in GSA’s Information Technology Category in multiple leadership roles, including: Director of the Office of Information Technology Services; Director Customer Engagement Division; and Director Governmentwide Acquisition Contracts. Kelley led a portfolio of contracts providing government agencies with a diverse set of IT solutions valued over $13 billion annually under GWAC contracts Alliant, Alliant 2, Alliant Small Business, 8(a) STARS II, Veterans Technology Services, VETS 2, and GSA Multiple Award Schedule 70, planning and implementing customer development strategies through a wide range of commercial and custom IT products, services and solutions.</p>
            <p style="font-style: italic;">Select anywhere to close this window.</p>
        </div>
    </div>
</div>  
<!-- DE popup -->
<div id="bioPopup_DE" class="dialog-overlay" aria-hidden="true" onclick="javascript:closeBio();">
    <div class="dialog" role="dialog">
        <div class="modalblock">
            <div class="flex-wrapper">  
                <img src="../assets/img/members/DEarly_pic.jpg" class="member-pic" alt="Darrick Early" />
                <div class="infoblock">
                    <span style="font-weight: bold;">
                        <p class="allcaps">Darrick Early</p>
                        <p>Client Executive<br>
                            AAS Civilian<br>
                            Assisted Acquisition Services<br>
                            Federal Acquisition Service<br>
                            U.S. General Services Administration                            
                            </p>
                    </span>
                </div>
            </div>
            <p>Darrick Early serves as the Client Executive of AAS Civilian for the Assisted Acquisition Services (AAS) portfolio within GSA’s Federal Acquisition Service (FAS). AAS provides buying platforms and acquisition services to federal, state and local governments. He leads the strategic direction and operations for customers across 14 states, along with Puerto Rico, the Virgin Islands, American Samoa, East Asia, and Guam. Prior to this appointment, Early served as the Regional Commissioner for the National Capital Region/Federal Acquisition Service (NCR/FAS) within the General Services Administration (GSA) from January 2022 to October 2023. Additionally, he served four years as Deputy Regional Commissioner (NCR). He was also the Director for the Office of Assisted Acquisition Services within the NCR/FAS.</p> 	
            <p>Early began his career as an Emerging Leader Program Intern at the U.S. Department of Health and Human Services (HHS). While at HHS, Early worked as a contracting officer and branch chief for several organizations, including NIH and the Office of the Secretary supporting critical public health requirements.</p>
            <p>Early received numerous commendations, including two HHS Secretary’s Distinguished Service Awards for his work on next generation anthrax vaccines, and an FAS Commissioner’s award for work on the DOL’s financial management system. He earned a bachelor’s degree in Political Science and a master’s degree in Public Management from East Tennessee State University. He was a part of class 1801 of the Senior Executive Fellows at Harvard University Kennedy School of Government, and a member of class 380 of the FEI’s Leadership for a Democratic Society. Early is a graduate of Johns Hopkins University’s Business Leadership Program, and is currently pursuing his PhD in Leadership and Interdisciplinary Studies from North Carolina A&T State University. Early is a Project Management Professional (PMP) and certified at the highest levels of contract management (CPCM and FAC-C Level III).</p>
            <p style="font-style: italic;">Select anywhere to close this window.</p>
        </div>
    </div>
</div> 
<!-- END BIOS -->  
<script type="text/javascript">   
    function openBio(memberInfo)
    {
        document.getElementById(memberInfo).setAttribute("aria-hidden", "false");        
    }   
    function closeBio()
    {
        var elements = document.getElementsByClassName("dialog-overlay");
        for (var i = 0; i < elements.length; i++){
            elements[i].setAttribute("aria-hidden", "true");
        }
    }   
</script>
