<div class="flex-wrapper-big">
    <div class="infoblock">
        <h1>Our Work</h1>
    </div>
</div>   
<div class="flex-wrapper-big">
    <div class="infoblock">
        <p> AAS’ comprehensive assisted acquisition services enable our clients to successfully implement their agency mission. Our wide set of service offerings uniquely positions us as leaders in acquisition services.
            <br><br>
            Our projects have a range of dollar values and we have assisted a wide array of government agencies with the products and services they need to advance a range of missions.
        <br><br>
    </p>
    </div>
</div>
<div class="flex-wrapper-big">
    <div id="card1" class="roundedCardHolder">
        <div class="roundedCard-orange">
            <h4>Department of Health and Human Services (HHS) COVID Response</h4>
        </div>
        <div class="roundedCard-blue">
            <p>text pending</p>
        </div>
    </div>
    <div class="bio-spacer v-buffer">
        <br>
    </div>
</div>
<div class="flex-wrapper-big">
    <div id="card2" class="roundedCardHolder">
        <div class="roundedCard-orange">
            <h4>Personnel Recovery Enterprise Services and Solutions (PRESS)</h4>
        </div>
        <div class="roundedCard-blue">
            <p>In March 2023, the AAS Geographic Combatant Command Group 2 (GCC2) awarded a $1.3B task order for Personnel Recovery Enterprise Services and Solutions (PRESS) on behalf of United States Africa Command (USAFRICOM) J333 Personnel Recovery Branch.<br> 
            This TO provides USAFRICOM, U.S. Special Operations Command Africa (SOCAFRICA), Combined Joint Task Force – Horn of Africa (CJTF-HOA), and other mission partners Personnel Recovery, Casualty Evacuation, and Emergency Medical Services necessary to enable the USAFRICOM Warfighter Recovery Network (WRN) and deliver a robust response capability that reduces risk to personnel conducting operations in Africa. PRESS services and joint military capabilities are combined through the USAFRICOM WRN into an integrated life-saving rescue network that supports both U.S. and partner nation personnel across the USAFRICOM Area of Responsibility (AOR). PRESS services include dynamically allocated and interoperable recovery, evacuation, resuscitative, and surgical capabilities that deliver care to injured and/or isolated personnel from the Point-of-Incident (POI) to higher-level medical care in order to optimize patient survivability.
            </p>
        </div>
    </div>
    <div class="bio-spacer v-buffer">
        <br><br>
    </div>
</div>
<div class="flex-wrapper-big">
    <div id="card3" class="roundedCardHolder">
        <div class="roundedCard-orange">
            <h4>Exiger</h4>
        </div>
        <div class="roundedCard-blue">
            <p>AAS strengthens and supports America’s supply chains by awarding a “first of its kind” enterprise contract to Exiger, streamlining access to a commonly used supply chain risk tool capability across the DOD, and other government agencies that share the Supply Chain Risk Management (SCRM) space.<br>
            The task order supports SCRM analysis across the Federal Government. AAS executed the task order for the Office of the Under Secretary of Defense for Acquisition and Sustainment (OUSD A&S) in record time. The software as a service (SaaS) SCRM contract provides a flexible and direct contracting pathway for all government agencies to quickly obtain technology and expertise to identify and manage risk, using the Exiger software. The platform ensures the ability to leverage volume discounts, government-wide enterprise data-sharing, improved collaboration and risk mitigation, and sharing best practices in supply chain risk mitigation to promote efficiency and decrease waste.</p>
        </div>
    </div>
    <div class="bio-spacer v-buffer">
        <br><br>
    </div>
</div>
