<title>AAS Acquisition Process</title>

<div class="flex-wrapper-big">
    <div class="infoblock centered">
        <h1>AAS Acquisition Process</h1>
    </div>
</div>   

<div class="flex-wrapper-big centered">
    <div class="infoblock">
        <p>Whether you are procuring services a la carte or as part of an integrated solution, AAS supports the full spectrum of the acquisition lifecycle, so you can focus less on acquisition management and more on your agency’s core mission activities.
        </p>
    </div>
</div>

<div class="flex-wrapper-big">
    <div class="darkblock-numbered one-fourth sidepadded">
        <div class="numberCircle">1</div>
        <h4 class="whitetext">Market Research and Acquisition Planning</h4>
        <p>During Market Research and Acquisition Planning, AAS identifies strategies to guide the entire acquisition process. We collect and analyze information about the capabilities available in the market and identify the most suitable approach to acquiring, distributing, and supporting products and services.
        </p>
    </div>
    <div class="bio-spacer"></div>
    <div class="darkblock-alt-numbered one-fourth sidepadded">
        <div class="numberCircle-alt">2</div>
        <h4 class="whitetext">Solicitation</h4>
        <p>After Market Research and Acquisition Planning are completed and all required documentation is available and approved, your AAS team will develop the solicitation document. Once the solicitation is released, bids or proposals from prospective industry partners are collected and evaluated for award.
        </p>
    </div>
    <div class="bio-spacer"></div>
    <div class="darkblock-numbered one-fourth sidepadded">
        <div class="numberCircle">3</div>
        <h4 class="whitetext">Negotiation and Award</h4>
        <p>Every action in the earlier stages of the acquisition process shares one underlying goal – to weigh all factors and award a contract representing the best value to the government. AAS conducts negotiations with each industry partner in the competitive range which leads to award.
        </p>
    </div>
    <div class="bio-spacer"></div>
    <div class="darkblock-alt-numbered one-fourth sidepadded">
        <div class="numberCircle-alt">4</div>
        <h4 class="whitetext">Post Award Management</h4>
        <p>Our support doesn’t stop once the contract is awarded. We take pride in our stellar acquisition quality, and work to minimize risk at every stage – even at contract close. The post-award management phase consists of three areas that we manage on your agency’s behalf: project management, financial management, and contract closeout.
        </p>
    </div>
</div>
