<div class="flex-wrapper-big">
    <div class="infoblock centered">
        <h1>Regional Offices</h1>
    </div>
</div>

<div class="flex-wrapper-big centered">
    <div class="infoblock">
        <p>AAS staff are certified contracting, project, and financial management professionals located throughout the United States, Europe, and Asia. To contact your regional office, select the geographic location closest to you from the list below the map.
        </p>
    </div>
</div>


<!-- begin buttons -->
<!-- commented out 
    
<div class="flex-wrapper-big centered">

    <div class="flex-wrapper">
        <div class="labelBox backPale" 
            onmouseover="javascript:showMap('map_01');"
            onmouseout="javascript:hideMap('map_01');">
                Region 1
        </div>
        <div class="labelBox backBlue" 
            onmouseover="javascript:showMap('map_02');"
            onmouseout="javascript:hideMap('map_02');">
                Region 2
        </div>
        <div class="labelBox backGrey" 
            onmouseover="javascript:showMap('map_03');"
            onmouseout="javascript:hideMap('map_03');">
                Region 3
        </div>
        <div class="labelBox backOrange" 
            onmouseover="javascript:showMap('map_04');"
            onmouseout="javascript:hideMap('map_04');">
                Region 4
        </div>
    </div>
</div>

<div class="flex-wrapper-big centered">
    
    <div class="flex-wrapper">
        <div class="labelBox backBlue" 
            onmouseover="javascript:showMap('map_05');"
            onmouseout="javascript:hideMap('map_05');">
                Region 5
        </div>
        <div class="labelBox backPale" 
            onmouseover="javascript:showMap('map_06');"
            onmouseout="javascript:hideMap('map_06');">
                Region 6
        </div>
        <div class="labelBox backLiteblue" 
            onmouseover="javascript:showMap('map_07');"
            onmouseout="javascript:hideMap('map_07');">
                Region 7
        </div>
        <div class="labelBox backGrey" 
            onmouseover="javascript:showMap('map_08');"
            onmouseout="javascript:hideMap('map_08');">
                Region 8
        </div>
    </div>
</div>

<div class="flex-wrapper-big centered">

    <div class="flex-wrapper">
        <div class="labelBox backBlue" 
            onmouseover="javascript:showMap('map_09');"
            onmouseout="javascript:hideMap('map_09');">
                Region 9
        </div>
        <div class="labelBox backOrange" 
            onmouseover="javascript:showMap('map_10');"
            onmouseout="javascript:hideMap('map_10');">
                Region 10
        </div>
        <div class="labelBox backGrey" 
            onmouseover="javascript:showMap('map_11');"
            onmouseout="javascript:hideMap('map_11');">
                Region 11
        </div>
    </div>

</div>
-->
<!-- end buttons -->

<!-- begin maps -->
<div class="flex-wrapper-big">
    <div id="map_Base" class="mapblock-base">
        {% asset Regional_Map.png alt="AAS Regional Map" %}
    </div>
    <div id="map_01" class="mapblock">
        {% asset Map_01.png alt="AAS Regional Map" %}
    </div>
    <div id="map_02" class="mapblock">
        {% asset Map_02.png alt="AAS Regional Map" %}
    </div>
    <div id="map_03" class="mapblock">
        {% asset Map_03.png alt="AAS Regional Map" %}
    </div>
    <div id="map_04" class="mapblock">
        {% asset Map_04.png alt="AAS Regional Map" %}
    </div>
    <div id="map_05" class="mapblock">
        {% asset Map_05.png alt="AAS Regional Map" %}
    </div>
    <div id="map_06" class="mapblock">
        {% asset Map_06.png alt="AAS Regional Map" %}
    </div>
    <div id="map_07" class="mapblock">
        {% asset Map_07.png alt="AAS Regional Map" %}
    </div>
    <div id="map_08" class="mapblock">
        {% asset Map_08.png alt="AAS Regional Map" %}
    </div>
    <div id="map_09" class="mapblock">
        {% asset Map_09.png alt="AAS Regional Map" %}
    </div>
    <div id="map_10" class="mapblock">
        {% asset Map_10.png alt="AAS Regional Map" %}
    </div>
    <div id="map_11" class="mapblock">
        {% asset Map_11.png alt="AAS Regional Map" %}
    </div>
</div>
<!-- end maps -->

<!-- begin contact blocks -->
<div class="flex-wrapper-big">
    <div class="contactBlock">
        <div class="contactBar">
            <h3>Region 1: <br>
                New England</h3>
        </div>
        <div class="contactContainer">
            <div class="contactPic">
                {% asset pic-NewEngland.jpg alt="Region 1" %}
            </div>
            
            <div class="contactData">
                <p><b>Boston, MA</b>
                <br><br>
                <i>Point of Contact</i><br>
                Michael Attachi<br>
                (617) 565-2068<br>
                <a href="mailto:michael.attachi@gsa.gov">michael.attachi@gsa.gov</a>
                <br>
                <a href="https://www.gsa.gov/about-us/regions/welcome-to-the-new-england-region-1/products-and-services/assisted-acquisition-services" 
                    onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" 
                    class="external" target="_new"><b>New England Website</b></a></p>
            </div>
            
        </div>
    </div>

    <div class="contactBlock">
        <div class="contactBar">
            <h3>Region 2: <br>
                Northeast & Carribean</h3>
        </div>
        <div class="contactContainer">
            <div class="contactPic">
                {% asset pic-NorthEast.jpg alt="Region 2" %}
            </div>
            
            <div class="contactData">
                <p><b>New York, NY</b>
                <br><br>
                <i>Point of Contact</i><br>
                Theresa Ramos<br>
                (212) 264-2690<br>
                <a href="mailto:theresa.ramos@gsa.gov">theresa.ramos@gsa.gov</a> <br>
                <a href="https://www.gsa.gov/about-us/regions/welcome-to-the-northeast-caribbean-region-2/products-and-services-region-2/assisted-acquisition-services" 
                    onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" 
                    class="external" target="_new"><b>Northeast & Carribean Website</b></a></p>
            </div>
            
        </div>
    </div>

    <div class="contactBlock">
        <div class="contactBar">
            <h3>Region 3: <br>
                Mid-Atlantic</h3>
        </div>
        <div class="contactContainer">
            <div class="contactPic">
                {% asset pic-PhillyMidAtlantic.jpg alt="Region 3" %}
            </div>
            
            <div class="contactData">
                <p><b>Philadelphia, PA</b>
                <br><br>
                <i>Point of Contact</i><br>
                Kari Santoro<br>
                (215) 446-5831<br>
                <a href="mailto:kari.santoro@gsa.gov">kari.santoro@gsa.gov</a> <br>
                <a href="https://www.gsa.gov/about-us/regions/welcome-to-the-midatlantic-region-3/products-and-services/assisted-acquisition-services" 
                    onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" 
                    class="external" target="_new"><b>Mid-Atlantic Website</b></a></p>
            </div>
            
        </div>
    </div>
</div>

<div class="flex-wrapper-big">
    <div class="contactBlock">
        <div class="contactBar">
            <h3>Region 4: <br>
                Southeast Sunbelt</h3>
        </div>
        <div class="contactContainer">
            <div class="contactPic">
                {% asset pic-SE_Sunbelt.jpg alt="Region 4" %}
            </div>
            
            <div class="contactData">
                <p><b>Atlanta, GA</b>
                <br><br>
                <i>Point of Contact</i><br>
                Teresa Carrington<br>
                (678) 642-4121<br>  
                <a href="mailto:teresa.carrington@gsa.gov">teresa.carrington@gsa.gov</a> <br>
                <a href="https://www.gsa.gov/about-us/regions/welcome-to-the-southeast-sunbelt-region-4/products-and-services/assisted-acquisition-services" 
                    onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" 
                    class="external" target="_new"><b>Southeast Sunbelt Website</b></a></p>
            </div>
            
        </div>
    </div>

    <div class="contactBlock">
        <div class="contactBar">
            <h3>Region 5: <br>
                Great Lakes</h3>
        </div>
        <div class="contactContainer">
            <div class="contactPic">
                {% asset pic-GreatLakes.jpg alt="Region 2" %}
            </div>
            
            <div class="contactData">
                <p><b>Chicago, IL</b>
                <br><br>
                <i>Point of Contact</i><br>
                Rodney Couick<br>
                (618) 622-5800<br>
                <a href="mailto:rodney.couick@gsa.gov ">rodney.couick@gsa.gov </a> <br>
                <a href="https://www.gsa.gov/about-us/regions/welcome-to-the-great-lakes-region-5/products-and-services/assisted-acquisition-services" 
                    onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" 
                    class="external" target="_new"><b>Great Lakes Website</b></a></p>
            </div>
            
        </div>
    </div>

    <div class="contactBlock">
        <div class="contactBar">
            <h3>Region 6: <br>
                The Heartland</h3>
        </div>
        <div class="contactContainer">
            <div class="contactPic">
                {% asset pic-Heartland.jpg alt="Region 6" %}
            </div>
            
            <div class="contactData">
                <p><b>Kansas City, MO</b>
                <br><br>
                <i>Point of Contact</i><br>
                Mark Johnson<br>
                (816) 823-1681<br>
                <a href="mailto:mark.johnson@gsa.gov">mark.johnson@gsa.gov</a> <br>
                <a href="https://www.gsa.gov/about-us/regions/welcome-to-the-heartland-region-6/products-and-services/assisted-acquisition-services" 
                    onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" 
                    class="external" target="_new"><b>The Heartland Website</b></a></p>
            </div>
            
        </div>
    </div>
</div>

<div class="flex-wrapper-big">
    <div class="contactBlock">
        <div class="contactBar">
            <h3>Region 7: <br>
                Greater Southwest</h3>
        </div>
        <div class="contactContainer">
            <div class="contactPic">
                {% asset pic-GreaterSW.jpg alt="Region 7" %}
            </div>
            
            <div class="contactData">
                <p><b>Fort Worth, TX</b>
                <br><br>
                <i>Point of Contact</i><br>
                Latasha Goines<br>
                (817) 978-3075<br>
                <a href="mailto:latasha.goines@gsa.gov">latasha.goines@gsa.gov</a> <br>
                <a href="https://www.gsa.gov/about-us/regions/welcome-to-the-greater-southwest-region-7/products-and-services/assisted-acquisition" 
                    onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" 
                    class="external" target="_new"><b>Greater Southwest Website</b></a></p>
            </div>
            
        </div>
    </div>

    <div class="contactBlock">
        <div class="contactBar">
            <h3>Region 8: <br>
                Rocky Mountain</h3>
        </div>
        <div class="contactContainer">
            <div class="contactPic">
                {% asset pic-RockyMt.jpg alt="Region 8" %}
            </div>
            
            <div class="contactData">
                <p><b>Denver, CO</b>
                <br><br>
                <i>Point of Contact</i><br>
                Eric Loveridge<br>
                (303) 471-1644<br>
                <a href="mailto:eric.loveridge@gsa.gov">eric.loveridge@gsa.gov</a> <br>
                <a href="https://www.gsa.gov/about-us/regions/welcome-to-the-rocky-mountain-region-8/products-and-services/assisted-acquisition-services" 
                    onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" 
                    class="external" target="_new"><b>Rocky Mountain Website</b></a></p>
            </div>
            
        </div>
    </div>

    <div class="contactBlock">
        <div class="contactBar">
            <h3>Region 9: <br>
                Pacific Rim</h3>
        </div>
        <div class="contactContainer">
            <div class="contactPic">
                {% asset pic-PacificRim.jpg alt="Region 9" %}
            </div>
            
            <div class="contactData">
                <p><b>San Francisco, CA</b>
                <br><br>
                <i>Point of Contact</i><br>
                BJ Eldien<br>
                (415) 844-9764<br>
                <a href="mailto:bj.eldien@gsa.gov">bj.eldien@gsa.gov</a> <br>
                <a href="https://www.gsa.gov/about-us/regions/welcome-to-the-pacific-rim-region-9/products-and-services/r9-assisted-acquisition-services" 
                    onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" 
                    class="external" target="_new"><b>Pacific Rim Website</b></a></p>
            </div>
            
        </div>
    </div>
</div>

<div class="flex-wrapper-big">
    <div class="contactBlock">
        <div class="contactBar">
            <h3>Region 10: <br>
                Northwest Arctic</h3>
        </div>
        <div class="contactContainer">
            <div class="contactPic">
                {% asset pic-NW_Arctic.jpg alt="Region 10" %}
            </div>
            
            <div class="contactData">
                <p><b>Auburn (Seattle), WA</b>
                <br><br>
                <i>Point of Contact</i><br>
                Kim McFall<br>
                (253) 931-7021<br>
                <a href="mailto:kim.mcfall@gsa.gov">kim.mcfall@gsa.gov</a> <br>
                <a href="https://www.gsa.gov/about-us/regions/welcome-to-the-northwest-arctic-region-10/products-and-services/assisted-acquisition-services" 
                    onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" 
                    class="external" target="_new"><b>Northwest Arctic Website</b></a></p>
            </div>
            
        </div>
    </div>

    <div class="contactBlock">
        <div class="contactBar">
            <h3>Region 11: <br>
                National Capitol</h3>
        </div>
        <div class="contactContainer">
            <div class="contactPic">
                {% asset pic-DC.jpg alt="Region 11" %}
            </div>
            
            <div class="contactData">
                <p><b>Washington, DC</b>
                <br><br>
                <i>Point of Contact</i><br>
                Tonya Butler<br>
                (571) 970-8221<br>
                <a href="mailto:tonya.butler@gsa.gov">tonya.butler@gsa.gov</a> <br>
                <a href="https://www.gsa.gov/about-us/regions/welcome-to-the-national-capital-region-11/products-and-services/assisted-acquisition-services" 
                    onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" 
                    class="external" target="_new"><b>National Capitol Website</b></a></p>
            </div>
            
        </div>
    </div>

    <div class="contactBlock">
        <div class="contactBar">
            <h3>Region: <br>
                FEDSIM</h3>
        </div>
        <div class="contactContainer">
            <div class="contactPic">
                {% asset pic-FEDSIM.jpg alt="Region FEDSIM" %}
            </div>
            
            <div class="contactData">
                <p><b>Washington, DC</b>
                <br><br>
                <i>Point of Contact</i><br>
                <a href="https://fedsim.gsa.gov" 
                    onClick="return confirm('This link will take you to the GSA website, which is managed by GSA.')" 
                    class="external" target="_new"><b>FEDSIM Website</b></a></p>
            </div>
            
        </div>
    </div>


</div>

<script type="text/javascript">
var mainMap = document.getElementById("map_Base");
    function showMap(map)
    {
        var thisBox = document.getElementById(map);
        thisBox.style.display = "block";
        mainMap.style.display = "none";
    }

    function hideMap(mapp)
    {
        var thatBox = document.getElementById(mapp);
        thatBox.style.display = "none";
        mainMap.style.display = "block";
    }

</script>
