<div class="flex-wrapper-big">
    <div class="infoblock">
        <h1>Small Business Innovation Research (SBIR)/Small Business Technology Transfer (STTR)</h1>
        <br>
    </div>
</div>

<div class="flex-wrapper-big">
    <div> {% asset SBIR_banner.jpg alt="SBIR" %}  </div>
</div>

<div class="v-buffer"></div>

<div class="flex-wrapper-big flexCols" >
    <!-- BLOCK TITLE -->
    <button id="title-5" class="dark-buttonbar" onclick="javascript:toggleBlock('o5','c5','block-5');">
        <div id="o5" class="tic-opened hide-element">-</div><div id="c5" class="tic-closed">+</div><label>Using AAS to Award SBIR Phase III Work</label> 
    </button>
    <!-- BLOCK  -->
        <div id="block-5" class="c-sect  hide-element">
            <div style="text-align:center;"><a href="../assets/img/SBIR-workflow-diagram.png" target="_new">{% asset SBIR-workflow-diagram.png alt="SBIR Workflow" %}
                <br>
            <i>Click on the graphic to open it in a new window.</i></a>
            <br>
            <br>
        </div>
            <p>Working with AAS on SBIR Phase III requires appropriate documentation.  Please refer to the following list of required documents.  AAS will help you, as needed and as appropriate, to complete your contract package.
            </p>
            <p>
                <ol class="spacedList">
                    <li><b>Signed Interagency Agreement(IA) Part A</b><br>
                    Please see the <a href="https://docs.google.com/document/d/1e2tyZ6i3GtTKH23JtUGLDZ0Uwz4nBSjnZLrLomUUHbo/edit" onClick="return confirm('This link will open a Google document.')" class="external" target="_new">AAS 7600A GT&C Client Quick Reference Guide</a> for information that the requesting agency organization must provide. The GSA PM will inform a client if an existing Part A is in place for the requesting agency organization.
                    </li>
                    <li><b>Signed IA Part B</b><br>
                    Please see the <a href="https://docs.google.com/document/d/1_ThwFcXaCHFo3oJI2n_MmTiZcgib4cmfXFxRHTvJmlo/edit" onClick="return confirm('This link will open a Google document.')" class="external" target="_new">AAS 7600B Client Quick Reference Guide</a> for information that the requesting agency organization must provide.
                    </li>
                    <li><b><a href="../DEC_Statement_Contracts.pdf" target="_new">DEC Statement</a></b><br>
                    This is a document in which the client technical expert will work with the assigned GSA POC to document how the work to be performed on the Phase III contract derives from, extends or completes (DEC) prior SBIR efforts. The GSA PM will assist with the form to some extent, but the client must provide the narrative and lineage to prior Phase I/II/III efforts.
                   </li>
                    <li><b>Unique Documentation if the Phase III awardee is not the original Phase I/II awardee</b><br>
                    Examples include documents like sales of SBIR technology to a company other than the specified SBIR Phase I/II awardee, company buy outs, or contract novations.
                    </li>
                    <li><b>Copies of all previous Phase I, II, and/or III awards from which this Proposed Phase III will derive from, extend, or complete</b><br>
                    All awards that were included in the signed scope determination must be provided.</li>
                    <li><b>Independent Government Estimate (IGCE)</b></li>
                    <li><b>Performance Work Statement/Statement of Work</b></li>
                    <li><b><a href="https://docs.google.com/document/d/1hcTFd7BnU0an15AG4n-lI0oDefrcxtDy2CAxY0v-_T8/edit" onClick="return confirm('This link will open a Google document.')" class="external" target="_new">Quality Assurance Surveillance Plan</a></b></li>
                    <li><b>DD Form 254 or Security Requirements Documentation</b></li>
                </ol>
            </p>
            <p>See our <a href="https://docs.google.com/document/d/1OFNMMiG2Uzs092gTifXVqjlAORsXQ0tbGUUa2rl5d1M/edit" onClick="return confirm('This link will open a Google document.')" class="external" target="_new">SBIR Frequently Asked Questions</a> documentation for more information.</p>
    <p>If you are a potential Federal client  who is interested in obtaining AAS services, please contact us at <a href="mailto:gsasbir-sttr@gsa.gov?subject=AAS Services">gsasbir-sttr@gsa.gov</a>.</p>
    
    </div>
</div>

<div class="v-buffer"></div>

<div class="flex-wrapper-big flexCols" >
    <!-- BLOCK TITLE -->
    <button id="title-1" class="dark-buttonbar" onclick="javascript:toggleBlock('o1','c1','block-1');">
        <div id="o1" class="tic-opened hide-element">-</div><div id="c1" class="tic-closed">+</div><label>Resources and Legal Information</label> 
    </button>
    <!-- BLOCK  -->
    <div id="block-1" class="c-sect  hide-element">
        <h3>SBIR/STTR Training Resources</h3>
        <p><a href="https://www.sbir.gov" onClick="return confirm('This link will take you to the SBIR website, which is managed by SBA.')" class="external" target="_new">SBIR Website</a><br>
            <a href="https://www.sbir.gov/tutorials" onClick="return confirm('This link will take you to the SBIR website, which is managed by SBA.')" class="external" target="_new">SBIR Training via SBA</a><br>
            <a href="https://www.sbir.gov/faqs/data-rights" onClick="return confirm('This link will take you to the SBIR website, which is managed by SBA.')" class="external" target="_new">SBIR Data Rights</a> <br>
            <a href="https://uscode.house.gov/view.xhtml?req=granuleid:USC-prelim-title15-section638&num=0&edition=prelim" onClick="return confirm('This link will take you to the SBIR website, which is managed by SBA.')" class="external" target="_new">SBIR Legislation</a> <br>
            <a href="https://www.sbir.gov/about#policy-directive" onClick="return confirm('This link will take you to the SBIR website, which is managed by SBA.')" class="external" target="_new">SBIR/STTR Policy Directive</a> </p><br>
            <a href="../How_GSA_is_Helping_to_Bridge_the_Valley_of_Death_.pdf" target="_new"><p class="whitetext storyPadding">How GSA is Helping to Bridge the Valley of Death</p></a>    
        <br>
            <h3>Fraud, Waste, and Abuse</h3>
        <p>View the SBA's List of <a href="http://sbir.gov/fraud-waste-abuse" onClick="return confirm('This link will take you to the SBIR website, which is managed by SBA.')" class="external" target="_new">Fraud, Waste, and Abuse</a>.
        <br><br>
        To report suspected fraud, waste, and/or abuse on a SBIR/STTR work that has been awarded by an AAS CSC, please contact <a href="mailto:danielle.grunwald@gsa.gov?subject='Reporting fraud, waste, or abuse'">Danielle Grunwald</a>.</p>
    </div>
</div>


<div class="v-buffer"></div>

<div class="flex-wrapper-big flexCols" >
    <!-- BLOCK TITLE -->
    <button id="title-2" class="dark-buttonbar" onclick="javascript:toggleBlock('o2','c2','block-2');">
        <div id="o2" class="tic-opened hide-element">-</div><div id="c2" class="tic-closed">+</div><label>SBIR Success Stories</label> 
    </button>
    <!-- BLOCK  -->
    <div id="block-2" class="c-sect  hide-element">
        
    <div class="flex-wrapper-big">
    
        <div class="storyCard">
                <div class="storyCardHead">
                    <div class="no-mobile"><p class="whitetext storyPadding">STORY
                        <br><span class="storyNum">01</span>
                    </p></div>
                    <div class="mobile-only"><p class="whitetext storyPadding">Story 01</p></div>
                </div>
                <div class="storyCardBody">
                    <div>
                        <a href="../22-00685_SS_22 AAS_SCORE_Tool_Slipsheet_508C.pdf"
                        target="_new"><p class="whitetext storyPadding">US Navy & SCORE Tool</p></a>
                    </div>
                    <div class="storyIcon">
                        <a href="../22-00685_SS_22 AAS_SCORE_Tool_Slipsheet_508C.pdf"
                        target="_new">{% asset SS_01a.png alt="US Navy & SCORE Tool PDF" %}</a>
                    </div>
                </div>
        </div>
    </div>

    <br><br>

    <div class="flex-wrapper-big">
        
        <div class="storyCard">
            <div class="storyCardHead">
                <div class="no-mobile"><p class="whitetext storyPadding">STORY
                    <br><span class="storyNum">02</span>
                </p></div>
                <div class="mobile-only"><p class="whitetext storyPadding">Story 02</p></div>      
            </div>
            <div class="storyCardBody">
                <div>
                    <a href="../21-01166_SS_AAS SBIR STTR Success Story Slipsheet_508C.pdf"
                    target="_new"><p class="whitetext storyPadding">US Navy Cold Spray Cells for Ship Repair</p></a>
                </div>
                <div class="storyIcon">
                    <a href="../21-01166_SS_AAS SBIR STTR Success Story Slipsheet_508C.pdf"
                    target="_new">{% asset SS_02a.png alt="US Navy Cold Spray Cells PDF" %}</a>
                </div>
            </div>
        </div>
    </div>

        <br>

    <div class="flex-wrapper-big">

        <div class="storyCard">
            <div class="storyCardHead">
                <div class="no-mobile"><p class="whitetext storyPadding">STORY
                    <br><span class="storyNum">03</span>
                </p></div>
                <div class="mobile-only"><p class="whitetext storyPadding">Story 03</p></div>      
            </div>
            <div class="storyCardBody">
                <div>
                    <a href="../22-00760_SS_22 AAS Valid Eval Decision Assistance Tool_508C.pdf"
                    target="_new"><p class="whitetext storyPadding smallerTextMobile">Decision Assistance Tool Saves Money <br>and Enhances the U.S. Army’s Service to the Nation</p></a>
                </div>
                <div class="storyIcon">
                    <a href="../22-00760_SS_22 AAS Valid Eval Decision Assistance Tool_508C.pdf"
                    target="_new">{% asset SS_03a.png alt="Valid Eval Decision Assistance Tool PDF" %}</a>
                </div>
            </div>
        </div>

        </div>

        <br>

    <div class="flex-wrapper-big">

        <div class="storyCard">
            <div class="storyCardHead">
                <div class="no-mobile"><p class="whitetext storyPadding">STORY
                    <br><span class="storyNum">04</span>
                </p></div>
                <div class="mobile-only"><p class="whitetext storyPadding">Story 04</p></div>      
            </div>
            <div class="storyCardBody">
                <div>
                    <a href="../22-00761_SS_22 AAS Logistics Common Operational_508C.pdf"
                    target="_new"><p class="whitetext storyPadding"> U.S. Navy’s Project Reduces Ship Maintenance Times <br>and Expedites Deployments</p></a>
                </div>
                <div class="storyIcon">
                    <a href="../22-00761_SS_22 AAS Logistics Common Operational_508C.pdf"
                    target="_new">{% asset SS_04a.png alt="Logistics Common Operational PDF" %}</a>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="flex-wrapper-big">

        <div class="storyCard">
            <div class="storyCardHead">
                <div class="no-mobile"><p class="whitetext storyPadding">STORY
                    <br><span class="storyNum">05</span>
                </p></div>
                <div class="mobile-only"><p class="whitetext storyPadding">Story 05</p></div>      
            </div>
            <div class="storyCardBody">
                <div>
                    <a href="../22-00840_SS_22 AAS SBIR STTR Success Story Slipsheet_508C.pdf"
                    target="_new"><p class="whitetext storyPadding smallerTextMobile">U.S. Air Force's Project Improves <br>Access to Child Development Centers</p></a>
                </div>
                <div class="storyIcon">
                    <a href="../22-00840_SS_22 AAS SBIR STTR Success Story Slipsheet_508C.pdf"
                    target="_new">{% asset SS_05a.png alt="Kinderspot PDF" %}</a>
                </div>
            </div>
        </div>
    </div>
        
    </div>
</div>

<div class="v-buffer"></div>

<div class="flex-wrapper-big flexCols" >
    <!-- BLOCK TITLE -->
    <button id="title-3" class="dark-buttonbar" onclick="javascript:toggleBlock('o3','c3','block-3');">
        <div id="o3" class="tic-opened hide-element">-</div><div id="c3" class="tic-closed">+</div><label>AAS SBIR Award Data</label> 
    </button>
    <!-- BLOCK  -->
        <div id="block-3" class="c-sect  hide-element">
            <div style="text-align: center;">
                <br>
                <p>{% asset SBIR_table_1.png alt="SBIR/STTR Table 1" %}
                <br><br>
                {% asset SBIR_table_2.png alt="SBIR/STTR Table 2" %} </p>
        </div>
    </div>
</div>

<br>

<div class="flex-wrapper-big">
    <h4 style="margin-left: 10px;">Find out more about upcoming <a href="https://aas.gsa.gov/sbirevents/">SBIR Events</a>.</h4>
</div>

<br>

<!--  javascript functions -->
<script type="text/javascript">

    function openPool(poolInfo)
    {
        document.getElementById(poolInfo).setAttribute("aria-hidden", "false");        
    }

    function closePool()
    {
        var elements = document.getElementsByClassName("dialog-overlay");
        for (var i = 0; i < elements.length; i++){
            elements[i].setAttribute("aria-hidden", "true");
        }
    }

</script>

<script type="text/javascript">

    function toggleBlock(openedIcon, closedIcon, sectBlock)
    {
        var thisBlock = document.getElementById(sectBlock);
        var thisOpened = document.getElementById(openedIcon);
        var thisClosed = document.getElementById(closedIcon);

        if ( thisBlock.classList.contains('hide-element') ) {
            thisBlock.classList.remove('hide-element');
            thisOpened.classList.remove('hide-element');
            thisClosed.classList.add('hide-element');
        }else{
            thisBlock.classList.add('hide-element');
            thisOpened.classList.add('hide-element');
            thisClosed.classList.remove('hide-element');
        }

    }

</script>
