<div class="flex-wrapper-big">
    <div class="infoblock">
        <h1>SBIR Outreach Event - May 2023</h1>
        <h2>Thursday, May 4th, 2023 10:00 AM – 11:00 AM ET (Midday)</h2>
        <p>REGISTER HERE</p>

        <p>Join the GSA FAS AAS SBIR/STTR team as we provide an overview of GSA’s assisted acquisition services and how we can assist with meeting commercialization goals.</p>

        <div class="darkblock-sm">
            <p class="whitetext">In this session, we’ll discuss:
                <ul class="whitetext">
                    <li>GSA’s SBIR/STTR Intake Process</li>
                    <li>SBIR/STTR refresher with an emphasis on Phase III</li>
                    <li>GSA SBIR/STTR Update (<i>all Phases</i>)</li>
                    <li>GSA SBIR/STTR Initiatives (<i>to include a potential Governmentwide IDIQ vehicle - RIO</i>)</li>
                </ul>
            </p>
        </div>
        <p>This event is best suited for anyone interested in learning more about GSA’s SBIR/STTR assisted acquisition services (<i>e.g., potential clients, existing clients, SBIR contractors, Federal employees who want to learn more about GSA’s SBIR/STTR Phase III initiatives.</i>)</p>

        <p>View the slides of the presentation</br>
        Have any questions regarding the content? Submit questions early here.</p>

        <div class="darkblock-alt-sm">
            <h4 class="whitetext">Speakers</h4>
            <p class="whitetext">
                <ul class="whitetext">
                    <li>Rodney Couick - GSA AAS SBIR/STTR Program Advisor</li>
                    <li>Jim Ghiloni - GSA FEDSIM IDIQ Labs Director (<i>RIO Contract</i>)</li>
                </ul>
            </p>
        </div>

        <p>This event will be held and recorded over Zoom for Government. For more info, see the computer and device requirements and Frequently Asked Questions. If you have specific questions or security concerns about Zoom for Government, please visit ZoomGov.com.</p>

        <p>Before the event, visit the Zoom Download Center to install the Zoom web browser client.</p>
    </div>
</div>


