<div class="flex-wrapper-big">
    <div class="infoblock centered">
        <h1>Small Business Innovation Research (SBIR)/Small Business Technology Transfer (STTR)</h1>
        <br>
    </div>
</div>

<div id="SBIR_Chart_Block" class="flex-wrapper-full">
    {% asset SBIR_CHART_noGrad.png alt="SBIR Chart" %}
</div>

<div class="flex-wrapper-big">
    <div class="flex-wrapper">
        <div class="infoblock centered" style="width:65%">
            <p>GSA’s Office of Assisted Acquisition Services (AAS) client support centers (initially Region 5 & FEDSIM) has partnered with the U.S. Small Business Administration to launch a program to award and manage Small Business Innovation Research (SBIR) Phase III contracts specifically. The objective of Phase III is for small businesses to pursue commercialization of the objectives resulting from Phase I/II R/R&D activities. 
            <br><br>
            As a result of this partnership, new technologies have a pathway to enter both Federal and private sector marketplaces. Phase III acquisitions may involve non-SBIR funded R&D (excluding weapons systems) or production contracts for products, production, or services for use by the Government. 
            <br><br>
            According to the SBIR statute and the SBA Policy Directive, no further competition is required in Phase III, as competition requirements are met in Phases I and II. A Justification and Approval (J&A) consistent with FAR 6.302-5 is still required. Phase III work must be awarded to the successful Phase I/II vendor to the maximum extent practicable. For more information on the SBIR program, please view <a href="../SBIR_Success_Story_Slipsheet_4.24.2020.pdf">our informational sheet</a> or visit the <a href="https://www.sibr.gov" target="_new" onClick="return confirm('This link will take you to the SBIR website, which is managed by SBIR.')" class="external">SBIR website</a>.
            </p>
        </div>

        <div class="infoblock centered" style="padding-left: 25px!important;">
<!--
            <p style="font-size:0.8em;"><a href="../SBIR_Success_Story_Slipsheet_4.24.2020.pdf">{% asset SBIR_file.png alt="SBIR Success Story Slipsheet" %}</a><br>
            Learn more about GSA's SBIR Pilot Program by clicking the image above.</p>
-->
        </div>
    </div>
    
</div>

<div class="flex-wrapper-big">
    <div class="infoblock centered">
        <h4>Explore Your Options</h4>
    </div>
</div>

<div class="flex-wrapper-full">
    <div class="darkblock one-half">
        <h4 class="whitetext">SBIR Participating Agencies</h4>
        <p>If you have a SBIR Phase III requirement, we will work with the you and the SBIR Phase III-eligible company to establish a contract.
        <br><br>
        Reach out to us at <b><a href="mailto:gsasbirIII@gsa.gov?subject=SBIR Phase III Request">gsasbirIII@gsa.gov</a></b> to see how we can help.</p>
    </div>

    <div class="bio-spacer-big"></div>

    <div class="darkblock-alt one-half">
        <h4 class="whitetext">Industry Partners</h4>
        <p>Once A SBIR Phase II solicitation is posted make sure to verify SBIR Phase III eligibility by providing Phase I and II award documentation when responding.
        </p>
    </div>
</div>
