<div class="flex-wrapper-big">
    <div class="infoblock centered">
        <h1>Small Business Innovation Research (SBIR)/Small Business Technology Transfer (STTR)</h1>
        <br>
    </div>
</div>

<div id="SBIR_Chart_Block" class="flex-wrapper-full">
    {% asset SBIR_CHART_MARCH2021.png alt="SBIR Chart" %}
</div>

<div class="flex-wrapper-big">
    <div class="infoblock centered" style="width:68%">
        <p>Four GSA Office of Assisted Acquisition Services (AAS) client support centers (CSCs) (Regions 4, 5, 8 & FEDSIM) award and administer SBIR/STTR Phase III contracts. The objective of Phase III is for small businesses to pursue commercialization of the objectives resulting from Phase I/II R/R&D activities.
        </p>
        <p>Of those four CSCs, two (Region 5 and FEDSIM) also award and administer Phase I/II work on behalf of clients in participating agencies.
        </p>
        <p>For more information on the SBIR and STTR programs, visit the Small Business Administration’s (SBA) <a href="https://www.sbir.gov" onClick="return confirm('This link will take you to the SBIR/STTR website, which is managed by GSA.')" class="external" target="_new">SBIR/STTR Website</a>.  For participating agencies or industry partners who are interested in obtaining AAS services, please reach out to us at <a href="mailto:gsasbir-sttr@gsa.gov?subject=SBIR/STTR Request">gsasbir-sttr@gsa.gov</a>.
        </p>
        
    </div>
</div>

<div class="flex-wrapper-big">
    <div class="infoblock centered">
        <h4>SBIR/STTR News and Updates</h4>
    </div>
</div>

<div class="flex-wrapper-big">
    <div class="infoblock centered">
            <a href="https://federalnewsnetwork.com/contracting/2021/02/leading-the-charge-for-small-business-innovation-at-the-gsa/"
            onClick="return confirm('This link will take you to the FNN website, which is managed by Federal News Network.')" 
            class="external" target="_new"><p>{% asset SBIR_headphones.png alt="SBIR/STTR Interview" %} </p></a>
    </div>
    
    <div class="infoblock centered">
            <a href="../21-00482_SS_21_AAS Small Business Innovation_508C.pdf"
            target="_new"><p>{% asset SBIR_Programs_PDF.png alt="SBIR/STTR Programs" %} </p></a>
    </div>
    
</div>
    

<div class="flex-wrapper-big">
    
    <div class="infoblock centered">
            <a href="../21-01166_SS_AAS SBIR STTR Success Story Slipsheet_508C.pdf"
            target="_new"><p>{% asset SBIR_SuccessStories.png alt="SBIR/STTR Success Stories" %} </p></a>
    </div>
    
</div>


<div class="flex-wrapper-big">
    <div class="infoblock centered">
        <h4>Fraud, Waste, and Abuse</h4>
    </div>
</div>
    
<div class="flex-wrapper-big">
    <div class="infoblock centered">
            Veiw the SBA's List of <a href="http://sbir.gov/fraud-waste-abuse" onClick="return confirm('This link will take you to the SBIR website, which is managed by SBA.')" 
            class="external" target="_new">Fraud, Waste, and Abuse</a>.
        <br><br>
        To report suspected fraud, waste, and/or abuse on a SBIR/STTR work that has been awarded, please contact <a href="mailto:danielle.grunwald@gsa.gov?subject='Reporting fraud, waste, or abuse'">Danielle Grunwald</a>.
    </div>
</div>

<div class="flex-wrapper-big">
    <div class="infoblock centered">
        <h4>Have a SBIR or STTR Requirement?</h4>
    </div>
</div>

<div class="flex-wrapper-full">
    <div class="darkblock one-half">
        <h4 class="whitetext">SBIR/STTR Participating Agencies</h4>
        <p>Have a SBIR or STTR Requirement?</p>
        <p>We will work with you and the SBIR/STTR prospective awardee to establish a contract vehicle.</p>
        <p>Reach out to us at <b><a href="mailto:gsasbir-sttr@gsa.gov?subject=SBIR/STTR Request">gsasbir-sttr@gsa.gov</a></b> to see how we can help.</p>

        <p>Review the <a href="../Req_Docs_SBIR_STTR.pdf" class="whiteLink" target="_new">requirements document</a> and <a href="../SBIR_IA_ADDENDUM_2.23.2021.pdf" class="whiteLink" target="_new">Interagency Agreement language</a> for additional information.</p>

    </div>

    <div class="bio-spacer-big"></div>

    <div class="darkblock-alt one-half">
        <h4 class="whitetext">Industry Partners</h4>
        <p>Provide all requested information and documentation so that the award process will go smoothly and be completed timely.
        </p>
    </div>
</div>

<div class="flex-wrapper-big">
    <div class="infoblock centered">
        <h4>SBIR/STTR Summary of Awards Through FY20</h4>
    </div>
</div>

<div class="flex-wrapper-big">
    <div class="infoblock one-half">
            <p>{% asset SBIR_STTR_table1.jpg alt="SBIR/STTR Table 1" %} </p>
    </div>
    <div class="infoblock one-half">
        <p>{% asset SBIR_STTR_table2.jpg alt="SBIR/STTR Table 2" %} </p>
</div>
</div>
