<div class="flex-wrapper-big">
    <div class="infoblock">
        <h1>SBIR/STTR Success Stories</h1>
        <br>
    </div>
</div>

<div class="flex-wrapper-big">
   
    <div class="storyCard">
            <div class="storyCardHead">
                <div class="no-mobile"><p class="whitetext storyPadding">STORY
                    <br><span class="storyNum">01</span>
                </p></div>
                <div class="mobile-only"><p class="whitetext storyPadding">STORY 01</p></div>
            </div>
            <div class="storyCardBody">
                <div>
                    <a href="../22-00685_SS_22 AAS_SCORE_Tool_Slipsheet_508C.pdf"
                    target="_new"><p class="whitetext storyPadding">US Navy & SCORE Tool</p></a>
                </div>
                <div class="storyIcon">
                    <a href="../22-00685_SS_22 AAS_SCORE_Tool_Slipsheet_508C.pdf"
                    target="_new">{% asset PDF_file_icon.png alt="US Navy & SCORE Tool PDF" %}</a>
                </div>
            </div>
    </div>

</div>
<div class="flex-wrapper-big">
    
    <div class="storyCard">
        <div class="storyCardHead">
            <div class="no-mobile"><p class="whitetext storyPadding">STORY
                <br><span class="storyNum">02</span>
            </p></div>
            <div class="mobile-only"><p class="whitetext storyPadding">STORY 02</p></div>      
        </div>
        <div class="storyCardBody">
            <div>
                <a href="../21-01166_SS_AAS SBIR STTR Success Story Slipsheet_508C.pdf"
                target="_new"><p class="whitetext storyPadding">US Navy Cold Spray Cells for Ship Repair</p></a>
            </div>
            <div class="storyIcon">
                <a href="../21-01166_SS_AAS SBIR STTR Success Story Slipsheet_508C.pdf"
                target="_new">{% asset PDF_file_icon.png alt="US Navy Cold Spray Cells PDF" %}</a>
            </div>
        </div>
    </div>

    </div>
<div class="flex-wrapper-big">

    <div class="storyCard">
        <div class="storyCardHead">
            <div class="no-mobile"><p class="whitetext storyPadding">STORY
                <br><span class="storyNum">03</span>
            </p></div>
            <div class="mobile-only"><p class="whitetext storyPadding">STORY 03</p></div>      
        </div>
        <div class="storyCardBody">
            <div>
                <a href="../22-00760_SS_22 AAS Valid Eval Decision Assistance Tool_508C.pdf"
                target="_new"><p class="whitetext storyPadding">Decision Assistance Tool Saves Money <br>and Enhances the U.S. Army’s Service to the Nation</p></a>
            </div>
            <div class="storyIcon">
                <a href="../22-00760_SS_22 AAS Valid Eval Decision Assistance Tool_508C.pdf"
                target="_new">{% asset PDF_file_icon.png alt="Valid Eval Decision Assistance Tool PDF" %}</a>
            </div>
        </div>
    </div>

    </div>
<div class="flex-wrapper-big">

    <div class="storyCard">
        <div class="storyCardHead">
            <div class="no-mobile"><p class="whitetext storyPadding">STORY
                <br><span class="storyNum">04</span>
            </p></div>
            <div class="mobile-only"><p class="whitetext storyPadding">STORY 04</p></div>      
        </div>
        <div class="storyCardBody">
            <div>
                <a href="../22-00761_SS_22 AAS Logistics Common Operational_508C.pdf"
                target="_new"><p class="whitetext storyPadding"> U.S. Navy’s Project Reduces Ship Maintenance Times <br>and Expedites Deployments</p></a>
            </div>
            <div class="storyIcon">
                <a href="../22-00761_SS_22 AAS Logistics Common Operational_508C.pdf"
                target="_new">{% asset PDF_file_icon.png alt="Logistics Common Operational PDF" %}</a>
            </div>
        </div>
    </div>
</div>

<div class="flex-wrapper-big">

    <div class="storyCard">
        <div class="storyCardHead">
            <div class="no-mobile"><p class="whitetext storyPadding">STORY
                <br><span class="storyNum">05</span>
            </p></div>
            <div class="mobile-only"><p class="whitetext storyPadding">STORY 05</p></div>      
        </div>
        <div class="storyCardBody">
            <div>
                <a href="../22-00840_SS_22 AAS SBIR STTR Success Story Slipsheet_508C.pdf"
                target="_new"><p class="whitetext storyPadding">U.S. Air Force's Project Improves <br>Access to Child Development Centers</p></a>
            </div>
            <div class="storyIcon">
                <a href="../22-00840_SS_22 AAS SBIR STTR Success Story Slipsheet_508C.pdf"
                target="_new">{% asset PDF_file_icon.png alt="Kinderspot PDF" %}</a>
            </div>
        </div>
    </div>
</div>

<div class="flex-wrapper-big">
    <div class="infoblock">
        <h4>SBIR/STTR Summary of Awards</h4>
    </div>
</div>

<div class="flex-wrapper-big">
    <div class="infoblock one-half">
            <p>{% asset SBIR_STTR_table1.jpg alt="SBIR/STTR Table 1" %} </p>
    </div>
    <div class="infoblock one-half">
        <p>{% asset SBIR_STTR_table2.jpg alt="SBIR/STTR Table 2" %} </p>
</div>
</div>
